$editor-button-color: #5f80de;
$editor-line-color: rgba($editor-button-color, 0.3);
$editor-resizer-width: 8px;
$editor-canvas-background-color: rgba(236, 236, 236, 0.3);

.player {
  .page-container {
    top: 0px;  
    left: 0px;    
  }
}

.elf--element-view {
  position: absolute;
  left: 0px;
  top: 0px;
  outline: none;
  // background-color: yellow;
  pointer-events: none;
}

.canvas-view {
  position: absolute;
  transform-origin: left top;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  // background-color: rgba(255, 122, 0, 0.5);
  will-change: auto;
  /* canvas view 자체는 이벤트를 막고 내부에 있는 element-item 만 이벤트가 적용될 수 있도록 한다. */
  pointer-events: none; 

  &[data-outline="true"] {

    .element-item {
      background-color: transparent !important;
      border: 1px solid #595959 !important;
      filter: none !important;
      backdrop-filter: none !important;
      background-image: none !important;
      box-shadow: none !important;

      &.svg-path {
        border: 0px !important;
      }

      &.artboard {
        border: 2px dashed #595959 !important;
      }

      svg {
        path, polygon, rect, circle, ellipse, line, polyline, text {
          fill: none !important;
          stroke: #595959 !important;
          stroke-width: 1px !important;
        }
      }
    }

  }

  .element-item.svg-path {
    pointer-events: none;

    > * {
      pointer-events: stroke;
    }

    > svg > path {
      pointer-events: stroke;
    }
        

    > svg > :not([fill='transparent']) {
      pointer-events: visible;
    }

  }

  .element-item {
    pointer-events: all;
    // contain: size;
    will-change: auto;
    &[contenteditable="true"] {
      // margin: 0px;
      outline: none;
    }

    [contenteditable="true"] {
      // margin: 0px;
      outline: none;
    }    

    &[tabIndex] {
      outline: none;
    }    

    &[data-is-boolean-item="true"] {
      background-color: transparent !important;
      border: 1px solid #595959 !important;
      filter: none !important;
      backdrop-filter: none !important;
      background-image: none !important;
      box-shadow: none !important;

      &.svg-path {
        border: 0px !important;
      }

      svg {
        path, polygon, rect, circle, ellipse, line, polyline, text {
          fill: none !important;
          stroke: transparent !important;
          stroke-width: 1px !important;
        }
      }
    }

    &.artboard {
      box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
      
    }

    > svg {

      path,rect,circle,ellipse,line,polygon,polyline {
        &:hover {
            stroke: rgb(64, 64, 252);
        }
      }
      &:hover {
        // hover 할 때 선이 선택된것 처럼 느껴질려면 아래 코드를 사용한다.
        // 다만 이건 항상 깜빡깜빨 거릴 수 있다. 
        // > path{
        //   stroke: rgb(64, 64, 252);
        // }

        > text {
          fill: rgb(64, 64, 252);
        }
      }
    }    
  }
}