
$pointer-color: #4075d6;
$top-size: 50px;
$tool-size: 0px;
$left-size: 340px;
$left-layer-panel: 70px; 
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 280px;
$timeline-animation-size: 200px;
$timeline-property-size: 270px;
$timeline-header-size: 40px;
$timeline-size: 300px;
$show-timeline-animation: all 0.05s linear;
$footer-height: 30px; 
$status-bar-height: 30px;
// base 
$range-thumb-width: 12px;
$range-thumb-height: 12px;
$range-track-height: 2px;
$range-thumb-top: -5px; 
$range-thumb-border-radius: 20px; 

.layout-main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--elf--header-background-color);  

  .layout-top {
    height: $top-size;
    border-bottom: 1px solid var(--elf--border-color);
    box-sizing: border-box;    
    z-index: 10000;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: var(--elf--background-color);
  }

  .layout-middle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: $top-size;
    bottom: $status-bar-height;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--elf--background-color);    
    // background-image: linear-gradient(45deg, rgb(0, 29, 72) 0%, var(--elf--background-color) 100%);
    
    .layout-header {
      display: none;
      top: 0px;
      left: $left-size;
      right: $right-size;
      height: $tool-size;
      position: absolute;
      background-color: var(--elf--header-background-color);
      color: var(--elf--selected-font-color);
      box-sizing: border-box;
      border-bottom: 1px solid var(--elf--border-color);
    }
  

    > .splitter {
      position: absolute;
      left: $left-size;
      width: 4px;
      top: 0px;
      bottom: 0px;
      cursor: ew-resize;
      transition: background-color 0.05s linear;

      &:hover,
      &.selected {
        background-color: var(--elf--selected-color);
      }

    }

    > button {
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%) translateX(-25%);
      cursor: pointer;
      color: var(--elf--font-color);      
      z-index: 1000; 
      
      svg {
        transform: scale(1.5);
      }
    }

    > .toggleLeft {
      left: $left-size;
    }

    > .toggleRight {
      right: $right-size;
    }    

    .layout-footer {
      position: absolute;
      left: 0px;
      height: $footer-height;
      bottom: 0px;
      right: 0px;
      overflow: hidden;
      border-top: 1px solid var(--elf--border-color);
      background-color: var(--elf--background-color);
      // transition: $show-timeline-animation;
      z-index: 10000;

      .footer-splitter {
        display: none;
      }

      .managed-tool {
        background-color: var(--elf--background-color);
        padding: 2px 0px;
      }
    }    

    .layout-left {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: $footer-height;
      width: $left-size;
      display: inline-block;
      
      display: flex;
      flex-direction: column;
      border-right: 1px solid var(--elf--border-color);
      box-sizing: border-box;
      // transition: bottom 0.05s linear;
    }

    .layout-right {
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: $footer-height; 
      width: $right-size;
      display: inline-block;
      z-index: 100;
      display: flex;
      flex-direction: column;
      overflow: auto;
      // transition: bottom 0.05s linear;
      border-left: 1px solid var(--elf--border-color);      
    }

    .layout-body {
      top: $tool-size;
      left: $left-size;
      right: $right-size;
      bottom: $footer-height;
      position: absolute;
      // transition: bottom 0.05s linear
      // border: 1px solid var(--elf--border-color);
      // border-radius: 4px;      
    }
  }
}
