.elf--property {
    // padding: 5px 10px;
    border-bottom: 1px solid var(--elf--property-border-color);  
    // background-color: var(--elf--property-background-color);
    // margin: 0px 5px;
    // border-radius: 4px;
    // color: var(--elf--font-color); 
    display: none; 
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.001);
    margin: 4px auto;
  
  
    &:first-child { 
      border-top: 0px;
    }
  
    .group {
      position: relative;
  
      .add-timeline-property {
        left: 0px;
      }
    }
  
    .add-timeline-property {
      position: absolute;
      left: 10px;
      top: 50%;
      display: none;
      vertical-align: middle;
  
  
      width: 7px;
      height: 7px;
      box-shadow: 0 0 0 1px var(--elf--border-color);
      background-color: var(--elf--timeline-property-add-background-color);
      cursor: pointer;
      transform: translateY(-50%) rotate(45deg);
  
      &:hover {
        box-shadow: 0 0 0 1px var(--elf--selected-color);
        background-color: var(--elf--selected-color);
      }
    }
  
    &.full { 
      height: 100%;
      display: flex;
      flex-direction: column;
  
      &.show {
        height: 100%;
      }
  
      .property-title {
        flex: none; 
        height: 30px;
  
  
      }
  
      .property-body {
        flex: 1 1 auto; 
        overflow: auto;
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  
    &.show {    
      display: block;
      > .property-title {
        // box-shadow: 0 1px 5px 0px black;      
        > label {
          .icon {
            transform: rotate(90deg);
            display: inline-block;
          }
        }
      }
  
      > .property-body {
        display: block;
      }
    }
  
    > .property-title {
      padding: 5px 10px;
      line-height: 2;
      cursor: pointer;
      position: relative;
      font-size: 11px;
      font-weight: 400;
      display: grid;
      grid-template-columns: 1fr 100px;
      cursor: pointer;
      // border-bottom: 1px solid var(--elf--property-border-color);  
      color: var(--elf--font-color);
      // background-color: var(--elf--property-title-background-color);
  
      &.filter {
        grid-template-columns: 1fr 110px;
      }
  
      svg  {
        width: 16px;
        height: 16px;
      }
  
      label {
        padding-left: 2px;
        vertical-align: middle;
        cursor: pointer;
        line-height: 2.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
  
        .icon {
          display: inline-block;
          transition: all linear 0.1s;
        }
  
        &.has-keyframe {
          padding-left: 12px;
          padding-left: 0px;
        }
      }
  
      > .tools {
        text-align: right;
        vertical-align: middle;
        line-height: 2.3;
        float: right;
  
        > * {
          flex: none;
        }
  
        select {
          min-width: 80px;
          max-width: 80px;
          background-color: var(--elf--input-background-color);
        }
        
      }
    }
  
    > .property-body {
      display: none;
      padding: 10px;
      padding-top: 0px;
      position: relative;
      // background-color: var(--elf--property-background-color);
  
      &.no-padding {
        padding: 0px !important;
      }
  
      // box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 1);
  
      // &:after {
      //   position: absolute;
      //   content: '';
      //   display: block;
      //   height: 1px;
      //   background-color: rgb(48, 48, 48);
      //   width: 95%;
      //   left: 50%;
      //   bottom: -5px;
      //   transform: translateX(-50%);
      // }
  
      .property-item {
        font-size: 11px;
        padding:3px 0px;
  
        &:first-child {
          padding-top: 0px;
        }
  
        &.has-label {
  
        }
  
        &:not(.has-label) {
          background-color: rgba(255, 255, 255, 0.001);
        }
  
        &.animation-property-item {
          display: grid;
          grid-template-columns: 1fr;
  
          &.has-label {
            grid-template-columns: 80px 1fr;
  
            .group {
              padding-left: 12px;
              padding-top: 5px;
              vertical-align: middle;
            }
          }
  
          &.full {
            display: block;
            .group {
              padding-left: 14px;
              vertical-align: middle;
            }
          }
        }
  
        > label.label {
          padding: 5px 5px;
          box-sizing: border-box;
          border-radius: 4px;
          display: block;
          background-color: var(--elf--selected-color-2);
          color: var(--elf--selected-font-color);
        }
  
      }
    }
  
    > .property-footer {
      padding: 0px 6px;
      > div {
        margin-bottom: 5px;
      }
  
      font-size: 12px;
  
      label {
        width: 60px;
        display: inline-block;
        cursor: pointer;
        padding-left: 2px;
        padding-right: 5px;
        vertical-align: middle;
      }
    }
  }