.elf--blank-tool-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    background-color: var(--elf--toolbar-background-color);
    color: var(--elf--selected-font-color);

    > .logo-area {
        flex: none;
        width: 60px;
        // background-color: yellow;
        // padding: 10px;
        height: 100%;

        > * {
            height: 100%;
        }
    }

    > .toolbar-area {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > * {
            // display: inline-block;
            min-height: 48px !important;
            min-width: 48px !important;
            vertical-align: middle;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .dropdown-menu > button {
            height: 48px !important;
            width: 48px !important;
        }


        button, .dropdown-menu > button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 40px;
            stroke: var(--elf--selected-font-color);
            fill: transparent !important;
            stroke-width: 1 !important;


            .icon {
                svg {
                    width: 20px;
                    height: 20px;

                    stroke: var(--elf--selected-font-color);
                    fill: transparent !important;
                    stroke-width: 1 !important;
                }
            }

            &.elf--menu-item  {
                &.selected {
                    background-color: var(--elf--selected-color-2);
                }

                &:hover:not(.selected):not([checked]) {
                    background-color: black;

                }
            }
        }

        .elf--logo-area {
            &:hover {
                background-color: black;
            }
        }
    }

}