.dataeditor {
  position: absolute;
  left: auto;
  bottom: auto;
  right: 0px;
  top: 0px;
  width: 300px;
  height: auto;
  display: inline-block;
  overflow: visible;
  user-select: none;

  .layout-main {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 10px;
    background-color: var(--elf--background-color);
    border:1px solid var(--elf--border-color);
    // padding: 10px;
    display: flex;
    flex-direction: column;
    color: var(--elf--font-color);
  
    &[data-open-status="true"] {
      .control-view {
        display: block;      
      }
    }
  
    .control-view {
      margin-top: 5px;
      display: none;
      padding: 0px 5px;
      border-bottom: 1px solid var(--elf--border-color);    
    }
  
    > .close {
      padding: 5px 0px;
      text-align: center;
      cursor: pointer;
      color: var(--elf--font-color);
    }
  }
  
}
