@import 'style/mixins.scss';

.elf--color-single-editor {
    text-align: center;
    width: 100%;
    height: 30px;
    
    .preview {
        height: 100%;

        .mini-view {
            height: 100%;
            @include transparent-background();
            border: 1px solid var(--elf--input-border-color);

            .color-view {
                cursor:pointer;
                height: 100%;
            }
        }
    }
}