@import 'style/mixins.scss';

.elf--color-view-editor {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    height: var(--elf--input-height);

    input {
        outline: none;
    }

    &.focused {
        border-color: var(--elf--selected-color);
        border-width: 1px;
        box-shadow: 0 0 0 1px var(--elf--selected-color);


        .opacity-input {
            border-left: 1px solid var(--elf--input-border-color);
        }        
    }


    &:hover:not(.focused):not(.drag) {
        border-color: var(--elf--input-border-color);

        .opacity-input {
            border-left: 1px solid var(--elf--input-border-color);
        }
    }    

    &.has-label {
        grid-template-columns: 70px 1fr;

        &.compact {
            grid-template-columns: 40px 1fr;

            .color-code {
                grid-template-columns: 26px 1fr 40px;
            }
        }

        label {
            text-align: left;
            vertical-align: middle;
            padding: 6px 4px 2px 2px;
            line-height: 1.6;

            span {
                width: 100%;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }    

    &.mini {
        .color-input {
            display: none;
        }

        .color-code {
            grid-template-columns: 26px 50px;
        }
    }

    .color-code {
        vertical-align: middle;
        display: grid;
        grid-template-columns: 26px 1fr 50px;
        grid-column-gap: 2px;
        border-radius: 2px;
        overflow: hidden;
        border: 1px solid transparent;
        box-sizing: border-box;      
        text-transform: uppercase;
        // background-color: var(--elf--input-background-color);  
        // border: 1px solid var(--elf--input-border-color);        

        .preview {
            display: flex;
            
            vertical-align: middle;
            cursor: pointer;
            // text-align: right;
            // padding: 3px 4px;
            padding: 2px;
            
            border-radius: 2px;
            background-color: transparent;
            justify-content: flex-start;
            align-items: center;
    
            .mini-view {
                width: 20px;
                height: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                position: relative; 
                vertical-align: middle;
                // border-radius: 2px;           
                overflow: hidden; 
                @include transparent-background(6px, rgb(199, 199, 199), 3px);  
                box-sizing: border-box;
                border: 1px solid var(--elf--input-border-color);

                .color-view {
                    box-shadow: 0 0 0 0.1px var(--elf--input-border-color);
                }
    
            }
        }
    

        input {
            width: 100%;
            height: 100%;
            padding: 0px 3px;
            border-radius: 3px;
            background-color: transparent;
            text-transform: uppercase;
            border:0px;
            font-size: 11px;
        }
    }
}