
.box-shadow-editor {
  grid-template-columns: 1fr !important;


  .tools {
    vertical-align: middle;
    text-align: right; 

    select {
      width: 100px !important;
      display: inline-block ;
    }
    button {
        vertical-align: middle;
        appearance: none;
        background-color: transparent;
        border: 0px;
        padding: 0px;
        font-size: 16px;
        vertical-align: middle;
        cursor: pointer;
        outline: none;
        font-size: 12px;
        

        svg {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
      }
  }


  .shadow-item {
    height: 20px;
    display: grid;
    grid-template-columns: 20px 20px 1fr 1fr 1fr 1fr 20px;
    grid-column-gap: 5px;
    text-align: center;
    margin-bottom: 5px;

    &.desc {
      color: #333333;
      .color {
        visibility: hidden;
      }
    }
    .color {
      cursor: pointer;
      height: 20px;
      border: 1px solid $border-color;
      border-radius: 100%;
      position: relative;
      @include transparent-background();
      box-sizing: border-box;
      .color-view {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        border-radius: 100%;
      }       
    }

    .inset {
      svg {
        width: 16px;
        height: 16px;

        path {
          fill: $border-color;
        }
      }

      &[data-value="true"] {
        svg {
          path {
            fill: black;
          }
        }
      }
    }

    .offset-x,
    .offset-y,
    .blur-radius,
    .spread-radius,
    .inset {
      box-sizing: border-box;
      padding: 4px 0px;
    }

    .tools {
      text-align: right;
      button {
        appearance: none;
        background-color: transparent;
        border: 0px;
        padding: 0px;
        width: 16px;
        height: 16px;
        display: inline-block;
        cursor: pointer;
        outline: none;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
