
input[type='text'],
input[type='number'],
input[type='email'],
textarea {
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);  
    color: var(--input-font-color); 
    outline: none;    
}
 
select { 
    appearance: none;
    outline: none;
    padding: 0px 4px;
    line-height: 1.6;
    cursor: pointer;
    height: 100%;

    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 0px;
    color: var(--font-color); 
    outline: none;
    vertical-align: middle;
    width: 100%;

    font-size: 12px;
    border-radius: 3px;   
}

button {

    border-width: 0px;    
    color: var(--button-front-color); 
    width: 16px;
    height: 16px;
    vertical-align: middle;
    appearance: none;
    background-color: transparent;
    outline: none;
    display: inline-block;
    cursor: pointer;
    padding: 0px;

    svg {
        width: 100%;
        height: 100%;
    }
}  

input[type=file] {
    &.embed-file-input {
        position: absolute;
        left:0px;
        top:0px;
        appearance: none;
        width:100%;
        height:100%;
        display:inline-block;
        background-color:var(--background-color);
        opacity: 0;
        pointer-events: none;
    }
}

.add-image-button {
    display: none;
}

.icon, button, label {
    svg {    
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path,polygon {
            fill: currentColor;
        }
    }
}
