
.feature-control {

    &.inspector {
      position: relative;
      height: 100%;    
      border-left: 1px solid $border-color;
  
      > div {
        position: relative;
        height: 100%;
  
        .empty {
          height: 100px;
        }
      }
    }
  
  
    &.object-list {
      position: relative;
      border-right: 1px solid $border-color;      
      box-sizing: border-box;
      height: 100%;
      .property {
        margin: 0px;
        height: 100%;
        border:0px;
        padding: 0px 0px;
  
        .property-body {
          padding: 0px;
        }
      }
    }
  
    .draw-items {
      position: absolute;
      width: 50px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      
      border-left: 1px solid $border-color;
  
    }
  
    .layer-tab {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      // right: 50px;
      right: 0px;
  
      .project-content {
        > div {
          position: absolute;
          left: 5px;
          right: 5px;      
          &:first-child {
            top: 0px;
            height: 150px;
          }
    
          &:nth-child(1) {
            top: 0px;
            height: 150px;
          }      
    
          &:not(:first-child) {
            border-top: 1px solid $border-color;
            
          }
    
          &:last-child {
            top: 150px;
            bottom : 0px;
            height: auto !important;
          }
        }
      }
  
  
      .object-items {
  
  
        > div {
          position: absolute;
          left: 5px;
          right: 5px;      
          &:first-child {
            top: 0px;
            height: 150px;
          }
    
          &:nth-child(1) {
            top: 0px;
            height: 150px;
          }      
    
          &:not(:first-child) {
            border-top: 1px solid $border-color;
            
          }
    
          &:last-child {
            top: 150px;
            bottom : 0px;
          }
        }
      }
  
      .assets {
        padding: 3px;
        .property {
          height: auto;
        }
      }
  
    }
  
    .draw-items {
      background-color: $background-color;
      display: none;
  
      .split {
        border: 0px;
        border-top: 1px solid $border-color;
        margin: 10px 5px;
      }
  
      > label {
        font-size: 9px;
        &:first-child {
          margin-top: 5px;
        }
        color: $font-color;
        padding: 5px;
        text-align: center;
        display: block;
      }
  
      .menu-item {
        text-align: center;
        margin-top: 5px;
        color: $font-color;
        width: 48px;
        height: 48px;
        background-color: transparent;
        background-image: none;
        border:0px;
        box-shadow: none;
        margin-bottom: 5px;
  
        &.selected {
          .icon {      
            background-color: $selected-background-color;
            svg {
              path {
                fill: $selected-color;
              }
            }
          }
  
        }
  
        &[data-no-title="true"] {
          height: 30px;
          .title {
            display: none;
          }
        }
        .icon {
          width: 30px;
          height: 30px;
          display: inline-block;
          border-radius: 3px;
          padding: 3px;
        }
      }
      
    }
  }