.filter-list {
  display: grid !important;
  grid-template-columns: 1fr !important;

  .filter-item {
    display: block;

    .title {
      display: grid;
      grid-template-columns: 1fr 30px;

      label {
        font-size: 12px;
        padding: 2px 5px;
        box-sizing: border-box;
      }

      .filter-menu {
        text-align: center;
        button {
          appearance: none;
          border: 0px;
          background-color: transparent;
          width: 20px;
          height: 20px;
          display: inline-block;
          box-sizing: border-box;
          padding: 0px;
          cursor: pointer;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .filter-ui {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      grid-column-gap: 1px;
      height: 24px;

      &.drop-shadow {
        grid-template-columns: 50px 2fr 1fr 1fr;
        grid-column-gap: 1px;

        label {
          font-size: 10px;
        }
      }

      &.drop-shadow-color {
        grid-template-columns: 50px 30px 1fr;
        grid-column-gap: 2px;

        label {
          font-size: 10px;
        }

        .preview {
          .mini-view {
            display: inline-block;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
        }
      }

      input[type="number"] {
        appearance: none;
        border: 1px solid $border-color;
        box-sizing: border-box;
        width: 100%;
      }

      input[type="range"] {
        width: 90%;
      }
    }
  }
}
