.layer-sample-view {
    position: absolute;
    left: $left-size;
    right: 0px;
    top: $tool-size * 2;  
    bottom: 0px;
    // transition: $show-timeline-animation;     
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000000;
    display: none;

    .close {
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: 0px;
        display: inline-block;
        font-weight: 500;
    }

}



.layer-sample-list {
    position: relative;
    border-bottom: 1px solid $border-color;
    > h1 {
        font-size: 11px;
        margin: 0 auto;
        padding: 5px;
        // background-color: #ececec;
        font-weight: 400;
    }    
    .cached-list {
        display: grid;

        grid-template-columns: 1fr 1fr 1fr; 

        .add-current-layer {
            appearance: none;
            border: 1px solid $border-color;
            vertical-align: top;
            background-color: white;
            font-size: 50px;
            line-height: 0px;
            font-weight: 100;
        }

        .layer-sample-item, .layer-cached-item {
            @include transparent-background();
        }
        .layer-sample-item, .layer-cached-item, .add-current-layer, .empty {
            height: 62px;
            display:inline-block;
            margin: 10px;
            position: relative;

            &:not(.empty) {
                border: 1px solid rgba($border-color, 0.5);
            }


            .item-tools {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                display: none; 
                background-color: rgba(0, 0, 0, 0.5);
                text-align: center;
                padding: 20px 0px;

                button {
                    appearance: none;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    font-size: 20px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    padding: 3px;
                    text-align: center;
                    line-height: 0; 
                    cursor: pointer;
                    outline: none;

                    &.add-item {
                        transform: rotate(45deg);
                    }

                    &.delete-item {

                    }

                    &.change-item {
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            width: 10px;
                            height: 10px;
                            border: 2px solid white;
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                }
            }

            &:hover {
                .item-tools {
                    display: inline-block;
                }
            }
        }

    }
}