$pointer-color: rgba(#ececec, 0.8);
$direction-border: 2px solid $pointer-color;
$button-size: 12px * 2;

.gradient-layers-menu {
    text-align: right;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 40px;

    > div {
        padding: 5px;
    }

    > .right {
        padding: 10px;


        button {
            appearance: none;
            border: 0px;
            background-color: white;
            padding: 0px;
            vertical-align: middle;
            width: $button-size !important;
            height: $button-size !important;
            position: relative;
            border: 1px solid black;

            &.first,
            &.last {
                letter-spacing: -2px;
            }

            &.del {
                overflow: hidden;

                &:after,
                &:before {
                    content: '';
                    width: 80%;
                    height: 1px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform-origin: center center;
                    transform: translateX(-50%) translateY(-50%) rotate(45deg);
                    border-top: 1px solid black;
                }

                &:after {
                    transform: translateX(-50%) translateY(-50%) rotate(135deg);
                }
            }
        }


        .divider {
            color: rgba(0, 0, 0, 0);
            margin-left: 10px;
            margin-right: 10px;
        }

        button {
            cursor: pointer;
            outline: none;

            &.stack-view {
                position: relative;
                display: inline-block;
                border: 1px solid black;
                background-color: white;

                &:after {
                    border: 1px solid black;
                    background-color: white;
                    position: absolute;
                    width: $button-size;
                    height: $button-size;
                    display: inline-block;
                    content: "";
                    top: -5px;
                    left: -5px;
                }

                &:before {
                    border: 1px solid black;
                    background-color: white;
                    top: -3px;
                    left: -3px;
                    position: absolute;
                    width: $button-size;
                    height: $button-size;
                    display: inline-block;
                    content: "";
                }
            }

            &.only-view {
                position: relative;
                display: inline-block;
                border: 1px solid black;
                background-color: gray;
            }

            &.show-angle {
                position: relative;
                display: inline-block;
                border: 1px dashed black;
                background-color: white;

                &:before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    border: 1px solid black;
                    background-color: white;
                    border-radius: 50%;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }

                &:after {
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    transform: translateX(50%) translateY(-50%);
                    width: 2px;
                    height: 2px;
                    background-color: black;
                }
            }
        }
    }

}