$background-color: #f3f3f3;
$border-color: #cccccc;
$selected-color: #cccccc;
$item-selected-color: #dbf3ff;
$font-color: black;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 100px;
$top-size: 100px;
$left-size: 0px;
$left-layer-panel: 70px;
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 240px;
$timeline-header-size: 0px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$gradient-box-size: 0px;
$layer-toolbar-height: 0px;
$display-flex-color: #01a270;
$display-grid-color: red;

.layout-main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;

  &.show-timeline {
    .layout-footer {
      height: $timeline-size - 1px;
    }
  }

  &:not(.show-timeline) {
    .layout-footer {
      height: $timeline-header-size - 1px !important;
    }
  }

  .layout-header {
    flex: none;
    height: $tool-size;
    overflow: hidden;
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;

    .page-tab-menu {
      flex: 1 1 auto;
      display: block;
      position: relative;
    }
  }

  .layout-footer {
    flex: none;
    height: $timeline-header-size - 1px;
    overflow: hidden;
    border-top: 1px solid $border-color;
    transition: $show-timeline-animation;
    position: relative;
    pointer-events: all;
  }

  .layout-middle {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    position: relative;

    .layout-right {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 260px;
      display: inline-block;
      border-left: 1px solid $border-color;
      border-top: 1px solid $border-color;
      border-right: 1px solid $border-color;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 100;
      display: flex;
      flex-direction: column;
    }

    .layout-left {
      flex: none;
      width: $left-size;
      border-right: 1px solid $border-color;
      z-index: 100;
      height: 100%;
      position: relative;
      display: none;
    }

    .layout-body {
      flex: 1 1 auto;
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}

// @import "./range-ui.scss";
@import "./tab-ui.scss";

@import "./element/unit-range.scss";

@import "./colorpicker-ui.scss";
@import "./tool-menu.scss";
@import "./vertical-colorstep.scss";
@import "./view.scss";

@import "./drag-angle.scss";
@import "./drag-position.scss";
@import "./guide/angluar-group.scss";
@import "./guide/background-resizer.scss";
@import "./guide/background-position.scss";
@import "./guide/perspective-origin-position.scss";

@import "./property-view.scss";
@import "./filters.scss";
@import "./border.scss";
@import "./size.scss";
@import "./box-shadow.scss";
@import "./export-view.scss";

@import "./fill-picker.scss";
@import "./popup.scss";
