$background-color: #f3f3f3;
$border-color: #cccccc;
$selected-color: #cccccc;
$item-selected-color: #dbf3ff;
$font-color: black;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 50px;
$top-size: 100px;
$left-size: 200px;
$left-layer-panel: 70px;
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 280px;
$timeline-header-size: 0px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$gradient-box-size: 0px;
$layer-toolbar-height: 0px;
$display-flex-color: #01a270;
$display-grid-color: red;

[data-embed-editor-target] {
  border: 1px dashed black;
}

.layout-main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;

  &.embed-editor {
    position: fixed;

    width: 300px;
    border-left: 1px solid $border-color;
    right: 0px;
    left: auto;

    .fill-picker,
    .popup {
      right: 310px !important;
      pointer-events: all;
    }

    .vertical-colorstep-container {
      left: auto !important;
      left: auto !important;
      top: 24px !important;
      width: 814px !important;
      right: 310px !important;
    }
  }

  .layout-header {
    flex: none;
    height: $tool-size;
    overflow: hidden;
    position: relative;
    background-color: white;
    z-index: 1;
    pointer-events: all;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;

    .logo {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: $left-size;
    }

    .tool-menu {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: $left-size;
      right: $right-size;
    }

    .external-tool-menu {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      width: $right-size;
    }    

  }

  .layout-footer {
    flex: none;
    height: $timeline-header-size - 1px;
    overflow: hidden;
    border-top: 1px solid $border-color;
    transition: $show-timeline-animation;
    position: relative;
    pointer-events: all;
  }

  .layout-middle {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    position: relative;

    .layout-left {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: $left-size;
      border-right: 1px solid $border-color;
      background-color: white;
      display: inline-block;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }

    .layout-right {
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;
      width: $right-size;
      display: inline-block;
      border-left: 1px solid $border-color;
      background-color: rgba(255, 255, 255, 1);
      z-index: 100;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    .layout-body {
      top: 0px;
      left: $left-size;
      right: $left-size;
      bottom: 0px;
      position: absolute;
    }
  }
}

.feature-control {
  display: flex; 
  flex-direction: column;
  height: 100%;

  &.object-list {
    > div {
      &:last-child {
        height: 70%;
      }
    }

    .property {
      margin: 0px;
      height: 100%;
      border:0px;
    }
  }

  > div {
    flex: 1 1 auto; 
    position: relative;

    &:last-child {
      flex: none;
      height: 40%;
      border-top: 1px solid $border-color;
      box-sizing: border-box;
    }
  }

}

@import './range-ui.scss';
@import "./tab-ui.scss";
@import "./colorpicker-ui.scss";
@import './mini-editor.scss'; 
@import "./tool-menu.scss";
@import "./view.scss";

// property 
@import './property/index.scss'; 

// editor 
@import './editor/index.scss';

// popup
@import "./popup/popup.scss";
