$background-color: #f3f3f3;
$border-color: #cccccc;
$selected-color: #cccccc;
$item-selected-color: #dbf3ff;
$font-color: black;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 100px;
$top-size: 100px;
$left-size: 310px;
$left-layer-panel: 70px;
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 240px;
$timeline-header-size: 0px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$gradient-box-size: 0px;
$layer-toolbar-height: 0px;
$display-flex-color: #01a270;
$display-grid-color: red;

[data-embed-editor-target] {
  border: 1px dashed black;
}

.layout-main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;

  &.embed-editor {
    position: fixed;

    width: 300px;
    border-left: 1px solid $border-color;
    right: 0px;
    left: auto;

    .fill-picker,
    .popup {
      right: 310px !important;
      pointer-events: all;
    }

    .vertical-colorstep-container {
      left: auto !important;
      left: auto !important;
      top: 24px !important;
      width: 814px !important;
      right: 310px !important;
    }
  }

  .layout-header {
    flex: none;
    height: $tool-size;
    overflow: hidden;
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
    pointer-events: all;

    .page-tab-menu {
      flex: 1 1 auto;
      display: block;
      position: relative;
    }

    .layout-body {
      display: none;
    }
  }

  .layout-footer {
    flex: none;
    height: $timeline-header-size - 1px;
    overflow: hidden;
    border-top: 1px solid $border-color;
    transition: $show-timeline-animation;
    position: relative;
    pointer-events: all;
  }

  .layout-middle {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    position: relative;

    .layout-right {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: $left-size;
      display: inline-block;
      border-right: 1px solid rgba(#333, 0.5);
      background-color: rgba(255, 255, 255, 1);
      z-index: 100;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    .layout-body {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: $left-size;
      position: absolute;
    }
  }
}

.feature-control {
  display: flex; 
  flex-direction: column;
  height: 100%;

  > div {
    flex: 1 1 auto; 
    position: relative;

    &:last-child {
      flex: none;
      height: 40%;
      border-top: 1px solid $border-color;
      box-sizing: border-box;
    }
  }

}


// @import "./range-ui.scss";
@import "./tab-ui.scss";

@import "./element/unit-range.scss";

@import "./colorpicker-ui.scss";
@import './cubic-bezier-editor.scss'; 
@import './mini-editor.scss'; 
@import "./tool-menu.scss";
// @import "./vertical-colorstep.scss";
@import "./view.scss";

// @import "./drag-angle.scss";
// @import "./drag-position.scss";
// @import "./guide/angluar-group.scss";
// @import "./guide/background-resizer.scss";
// @import "./guide/background-position.scss";
// @import "./guide/perspective-origin-position.scss";

// property 
@import "./property-view.scss";
@import "./border.scss";
@import "./box-model.scss";
@import "./size.scss";
@import "./content.scss";
@import './transition.scss';  
@import './animation.scss';  
@import './keyframe.scss'; 
@import './codeview.scss'; 
@import './clip-path.scss';
@import './selector.scss';

// editor 
@import './color-view-editor.scss';
@import './range-editor.scss';
@import './number-range-editor.scss';
@import './text-editor.scss';
@import './select-editor.scss';
@import './css-property-editor.scss';
@import './background-image-editor.scss'; 
@import './border-radius-editor.scss'; 
@import './transform-editor.scss';
@import './filter-editor.scss';
@import './box-shadow-editor.scss'; 
@import './text-shadow-editor.scss'; 
@import './var-editor.scss'; 
@import './perspective-origin-editor.scss';
@import './transform-origin-editor.scss';
@import './gradient-editor.scss';
@import './svg-property-editor.scss';
@import './svg-filter-editor.scss';


// picker
@import "./fill-picker.scss";

// popup
@import "./popup.scss";
