.layout-main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;

  &.show-footer {

    .layout-middle {
      .layout-left {
        bottom: $timeline-size - 1px;
      }

      .layout-right {
        bottom: $timeline-size - 1px;
      }
  
      .layout-body {
        bottom: $timeline-size - 1px;
      }
      .layout-footer { 
        height: $timeline-size - 1px;

        .managed-tool {
          > .property-title {
            > .tools {
              display: flex; 
            }
          }
        }
      }
    }

  }

  marker {
    path {
      fill: $border-color;
    }
  }


  .layout-header {
    top: 0px;
    left: $left-size;
    right: $right-size;
    height: $tool-size;
    position: absolute;
    background-color: $header-background-color;
    color: $selected-font-color;
    pointer-events: all;
    box-sizing: border-box;
    padding: 3px;
    border-bottom: 1px solid $border-color;
  }


  .layout-middle {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    position: relative;

    > .splitter {
      position: absolute;
      left: $left-size;
      width: 2px;
      top: 0px;
      bottom: 0px;
      cursor: ew-resize;
    }

    .layout-footer {
      position: absolute;
      left: 0px;
      height: $footer-height;
      bottom: 0px;
      right: 0px;
      overflow: hidden;
      border-top: 1px solid $border-color;
      background-color: $background-color;
      transition: $show-timeline-animation;
      pointer-events: all;
      z-index: 10000;

      .managed-tool {
        background-color: $property-background-color;
        padding: 2px 0px;
      }
    }    

    .layout-left {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: $footer-height;
      width: $left-size;
      display: inline-block;
      
      display: flex;
      flex-direction: column;
      transition: bottom 0.05s linear;
    }

    .layout-right {
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: $footer-height; 
      width: $right-size;
      display: inline-block;
      z-index: 100;
      display: flex;
      flex-direction: column;
      overflow: auto;
      transition: bottom 0.05s linear;
    }

    .layout-body {
      top: $tool-size;
      left: $left-size;
      right: $right-size;
      bottom: $footer-height;
      position: absolute;
      transition: bottom 0.05s linear;
    }
  }
}


@import './range-ui.scss';
@import "./tab-ui.scss";
@import "./colorpicker-ui.scss";
@import "./tool-menu.scss";
@import "./view.scss";
@import './selection-view.scss';

// property 
@import './property/index.scss'; 

// editor 
@import './editor/index.scss';

// popup 
@import "./popup/popup.scss";
@import './window/window.scss';

@import './path-editor-view.scss';
@import './path-draw-view.scss';
@import './brush-draw-view.scss';

// timeline 
@import './timeline.scss';

@import './status-bar.scss';
@import './feature-control.scss';
