.editor { 
    height: auto !important;
    &.offset-editor {
        display: block !important;
        .offset {
            display: block; 
    
            height: 30px;
            position: relative;
            background-image: linear-gradient(to right, $selected-color , $selected-color);
            background-size: 100% 2px;
            background-position: 0px center;
            background-repeat: no-repeat;
            cursor: pointer;

            // 선택자를 함수로 만들어야 할 듯 
            @for $selectValue from 0 to 20 {
                &[data-selected-value="#{$selectValue}"] {
                    .offset-item[data-offset-index="#{$selectValue}"] {
                        box-shadow: 0 0 4px 0 $selected-color;
                    }
                }
            }

            .offset-item {
                position: absolute;
                display: inline-block;
                width: 12px;
                height: 12px;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                box-sizing: border-box;
                border:1px solid $selected-border-color;
                background-color: $selected-color; 
                border-radius: 100%;
                cursor: pointer;

            }
    
        }
    }
}