.path-editor-view {
    display:none;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    outline:none;
    cursor: crosshair;

    &:before {
        content: 'Path Editor';
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(81, 113, 126);
        color: white; 
    }

    &.modify {
        svg {
            path {
                &.object {
                    stroke: $selected-border-color;
                }
            }
        }
    }

    svg {

        line {
            stroke: green; 
            stroke-width: 1; 
            stroke-dasharray: 5 2; 

            &[data-guide='true'] {
                stroke: purple;
                pointer-events: none;
            }
        }

        circle {
            fill: white;
            stroke: blue; 
            stroke-width: 1;
            cursor: move;

            &.curve {
                stroke: red; 
            }

            &[data-is-first="true"] {
                fill: rgba($selected-border-color, 0.8);
            }
            
        }

        path {
            &.guide {
                fill: transparent;
                stroke: blue;
                stroke-width: 1; 
            }

            &.segment {
                fill: transparent;
                stroke: red;
                stroke-width: 1; 
            }
            
            &.object {
                fill: transparent;
                stroke: $selected-border-color;
                stroke-width: 1; 
            }       
            
            &.split-path {
                fill: transparent;
                stroke: transparent;
                pointer-events: stroke;
                stroke-width: 2;

                &:hover {
                    cursor: copy;
                    stroke: $selected-color;
                }
            }

            &.snap-path {
                fill: transparent;
                stroke: $selected-color;
            }
        }
    }
}