.path-editor-view {
    display:none;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    outline:none;
    cursor: crosshair;

    &:before {
        content: 'Path Editor';
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(81, 113, 126);
        color: white; 
    }

    svg {

        line {
            stroke: green; 
            stroke-width: 1; 
            stroke-dasharray: 5 2; 

            &[data-guide='true'] {
                stroke: purple;
            }
        }

        circle {
            fill: white;
            stroke: blue; 
            stroke-width: 1;
            cursor: pointer;

            &.curve {
                stroke: red; 
            }

            &[data-is-first="true"] {
                fill: rgba(blue, 0.8);
            }
            
        }

        path {
            &.guide {
                fill: transparent;
                stroke: blue;
                stroke-width: 1; 
            }

            &.segment {
                fill: transparent;
                stroke: red;
                stroke-width: 1; 
            }
            
            &.object {
                fill: transparent;
                stroke: black;
                stroke-width: 1; 
            }            
        }
    }
}