.path-editor-view {
    display:none;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    cursor: crosshair;
    background-color: transparent;


    .segment-box {
        pointer-events:none;
        position: absolute;
        border:0.5px solid rgba(62, 168, 255, 0.9);
        background-color:rgba(107, 188, 255, 0.5);
        box-sizing:border-box;
      
        left:-10000px;
    }    

    .path-container {
        position: absolute;
        left: 0px;
        top:0px;
        right:0px;
        bottom:0px;

        &.split-panel {
            pointer-events: none;
        }

        &.has-transform {
            background-color: $path-background-color;
        }

        &.path {
            cursor: crosshair;
            svg {
                path {
                    &.object {
                        pointer-events: visibleStroke;
                        stroke: #848484;
                    }
                }
            }
        }

        &.segment-move {
            cursor: move; 
        }

        &.alt {
            svg {
                circle {
                    cursor: move;
                }
            }
        }

        &.transform {
            svg {
                circle, rect, text, line, .snap-path {
                    display: none;
                }
            }
        }

        &.modify,
        &.segment-move {
            cursor: default;
            svg {
                path {
                    &.object {
                        pointer-events: visibleStroke;
                        stroke: #848484;
                    }
                }
            }
        }

        &.box {
            svg {
                path {
                    &.object {
                        stroke: $border-color;
                    }                
                }
            }
        }
    }

    .path-tool {
        pointer-events: none;
        position: absolute;
        left: 0px;
        top:0px;
        right:0px;
        bottom:0px;        

        .transform-manager {
            position: absolute;
            pointer-events: all;
            display: none;

            &[data-show="true"] {
                display: inline-block;
            }            

            &[data-position="to rotate"] {
                box-shadow: none;

            
                .transform-tool-item:not([data-position="to rotate"]) {
                    display: none;
                }
            }

            .transform-tool-item {
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                box-shadow: 0 0 0 1px #7b7b7b;
                display: inline-block;
                width: 8px;
                height: 8px;
                transform: translate(-50%, -50%);                            

                &[data-position="to rotate"] {
                    left: 50%;
                    top: -20px;
                    cursor: move;
                    border-radius: 100%;
                    background-color: rgba(255, 255, 255, 1);
                }

                &[data-position="to move"] {
                    left: 0px;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    width: auto;
                    height: auto;
                    background-color: transparent;
                    cursor: move;
                    transform: none;
                    box-shadow: 0 0 0 1px $selected-color;
                }

                &[data-position="to top left"] {
                    left: 0px;
                    top: 0px;
                    cursor: nwse-resize;
                }
            
                &[data-position="to top right"] {
                    left: 100%;
                    top: 0px;
                    cursor: nesw-resize;      
                }    
            
                &[data-position="to top"] {
                    left: 50%;
                    top: 0px;
                    cursor: ns-resize;
                }        
            
                &[data-position="to left"] {
                    left: 0px;
                    top: 50%;
                    cursor: ew-resize;       
                }
            
                &[data-position="to right"] {
                    left: 100%;
                    top: 50%;
                    cursor: ew-resize;             
                }    
            
                &[data-position="to bottom"] {
                    left: 50%;
                    top: 100%;
                    cursor: ns-resize;                   
                }          
                
                
                &[data-position="to bottom left"] {
                    left: 0px;
                    top: 100%;
                    cursor: nesw-resize;            
       
                }
            
                &[data-position="to bottom right"] {
                    left: 100%;
                    top: 100%;
                    cursor: nwse-resize;      
                }    
            }
        }
    }


    svg {
        width: 100%;
        height: 100%;

        line {
            stroke: $path-guide-color; 
            stroke-width: 1; 

            &[data-guide='true'] {
                pointer-events: none;
            }

            &[data-distance='true'] {
                stroke: $selected-color;
                stroke-dasharray: 2 2;
                pointer-events: none;
            }            
        }

        circle {
            fill: white;
            stroke: $path-guide-color; 
            stroke-width: 1;
            cursor: move;

            &.curve {
                stroke: $path-segment-stroke-color; 
            }

            &[data-is-first="true"] {
                stroke: $selected-color;
                z-index: 1;
            }

            &[data-is-second="true"] {
                stroke: darken($selected-color, 50%);
                z-index: 1;
            }            

            &[data-is-last="true"] {
                stroke: blue;
                z-index: 1;
            }       
            
            &[data-selected='true'] {
                fill: $selected-color;
                stroke: white;
                r: 5;
                stroke-width: 2;
            }

            &[data-segment-point="endPoint"],
            &[data-segment-point="reversePoint"] {
                &:not([data-selected='true']) {
                    r: 3;
                }
            }
            
            &.split-circle {
                fill: $selected-color;
                stroke: white;
                pointer-events: none;
            }
        }

        .svg-canvas {
            fill: transparent;
            stroke: $selected-border-color;
            stroke-width: 0.5;
            display: none;
        }

        path {
            fill: transparent;

            &.guide {
                fill: transparent;
                stroke: $path-last-guide-color;
                stroke-width: 1;                
            }

            &.segment {
                fill: transparent;
                stroke: $selected-color;
                stroke-width: 1; 
            }
            
            &.object {
                fill: transparent;
                stroke: #848484;
                stroke-width: 1; 
            }       
            
            &.split-path {
                fill: transparent;
                stroke: transparent;
                pointer-events: stroke;
                stroke-width: 2;

                &:hover {
                    cursor: copy;
                    stroke: $selected-color;
                }
            }

            &.snap-path {
                fill: transparent;
                stroke: $selected-color;
                stroke-width: 0.5;
            }
        }

        text {
            fill: $selected-color; 
            stroke: $selected-color;
            stroke-width: 0.5;
            pointer-events: none;
        }
    }
}