.popup {
  position: absolute;
  display: none;
  right: 10px;
  bottom: 10px;
  box-sizing: border-box;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid $border-color;
  box-shadow: 0 0 1px 0px $border-color;
  padding: 1px 0px;

  .popup-title {
    font-size: 12px;
    padding: 10px 5px;
    font-weight: bold;
  }

  .popup-content {
    .popup-item {
      display: grid;
      grid-template-columns: 45px 1fr;
      height: 24px;

      label {
        font-size: 11px;
        vertical-align: middle;
        text-align: right;
        line-height: 1.6;
        padding-right: 2px;
        box-sizing: border-box;
      }

      label + div {
        vertical-align: middle;
      }

      input[type="range"] {
        width: 80px;
        flex: none;
      }

      input[type="number"] {
        width: 40px;
        flex: none;
        border: 1px solid $border-color;
      }

      select {
        width: 40px;
        flex: none;
        outline: none;
      }
    }
  }

  &.background-property-popup {
    width: 225px;

    .size-list {
      button {
        appearance: none;
        background-color: transparent;
        border: 0px;
        padding: 2px 5px;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;
        width: 50px;
        background-color: rgba($border-color, 0.5);
      }

      &[data-value="contain"] button[value="contain"],
      &[data-value="cover"] button[value="cover"],
      &[data-value="auto"] button[value="auto"] {
        background-color: $border-color;
        font-weight: bold;
      }
    }

    .repeat-list {
      button {
        width: 24px;
        height: 24px;
        margin-right: 1px;
        appearance: none;
        border: 1px solid $border-color;
        background-color: white;
        outline: none;
        cursor: pointer;

        &[value="no-repeat"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: center center;
          background-size: 8px 8px;
          background-repeat: no-repeat;
        }

        &[value="repeat"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 10px 10px;
          background-size: 8px 8px;
          background-repeat: repeat;
        }

        &[value="repeat-x"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 10px 8px;
          background-size: 8px 8px;
          background-repeat: repeat-x;
        }

        &[value="repeat-y"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 8px 10px;
          background-size: 8px 8px;
          background-repeat: repeat-y;
        }

        &[value="space"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 10px 10px;
          background-size: 8px 8px;
          background-repeat: space;
        }

        &[value="round"] {
          background-image: linear-gradient(
            to top right,
            rgba(blue, 0.5),
            black
          );
          background-position: 0px 0px;
          background-size: 8px 8px;
          background-repeat: round;
        }
      }

      &[data-value="repeat"] button[value="repeat"],
      &[data-value="no-repeat"] button[value="no-repeat"],
      &[data-value="repeat-x"] button[value="repeat-x"],
      &[data-value="repeat-y"] button[value="repeat-y"],
      &[data-value="space"] button[value="space"],
      &[data-value="round"] button[value="round"] {
        background-color: $border-color;
        box-shadow: 0 0 1px 0px black;
      }
    }

    .blend-list {
      padding: 2px 0px;
      select.full-size {
        width: 100px;
      }
    }
  }

  &.display-property-popup {
    .popup-item {
      height: auto;
      margin-bottom: 2px;
    }
    .grid-5 {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 2px;
    }

    button {
      appearance: none;
      background-color: transparent;
      border: 0px;
      padding: 2px 5px;
      cursor: pointer;
      outline: none;
      box-sizing: border-box;
      width: 50px;
      background-color: rgba($border-color, 0.5);
    }
    .flex-direction {
      &[data-value="row"] button[value="row"],
      &[data-value="row-reverse"] button[value="row-reverse"],
      &[data-value="column"] button[value="column"],
      &[data-value="column-reverse"] button[value="column-reverse"] {
        background-color: $border-color;
        font-weight: bold;
      }
    }

    .flex-wrap {
      &[data-value="nowrap"] button[value="nowrap"],
      &[data-value="wrap"] button[value="wrap"],
      &[data-value="wrap-reverse"] button[value="wrap-reverse"] {
        background-color: $border-color;
        font-weight: bold;
      }
    }

    .justify-content {
      &[data-value="flex-start"] button[value="flex-start"],
      &[data-value="flex-end"] button[value="flex-end"],
      &[data-value="center"] button[value="center"],
      &[data-value="space-between"] button[value="space-between"],
      &[data-value="space-around"] button[value="space-around"] {
        background-color: $border-color;
        font-weight: bold;
      }
    }
  }

  &.box-shadow-property-popup {
    padding: 10px;
    width: 224px;
    height: 200px;
    .box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-row-gap: 10px;
      grid-column-gap: 2px;

      > * {
        height: 20px;
      }

      input,
      select {
        width: 100%;
        vertical-align: middle;
      }

      select {
        appearance: none;
        padding: 0px;
        text-align: center;
        border: 0px;
        background-color: white;
        border: 1px solid $border-color;
      }

      .input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .type {
        grid-column: 1/6;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 4px;

        .select {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          height: 20px;

          @each $selectType in inset, outset {
            &[data-selected-value="#{$selectType}"]
              button[data-value="#{$selectType}"] {
              box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
              background-color: $border-color;
            }
          }

          button {
            appearance: none;
            border: 0px;
            background-color: white;
            outline: none;
            cursor: pointer;
          }
        }
      }

      .offset-x {
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 4px;
      }

      .offset-y {
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 4px;
      }

      .blur-radius {
        grid-column: 1 / 6;
        grid-row: 5/6;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 4px;

        .input {
          grid-template-columns: 2fr 1fr 1fr;
          grid-column-gap: 2px;
        }
      }

      .spread-radius {
        grid-column: 1 / 6;
        grid-row: 6/7;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 4px;

        .input {
          grid-template-columns: 2fr 1fr 1fr;
          grid-column-gap: 2px;
        }
      }

      .drag-board {
        grid-column: 4/6;
        grid-row: 2/5;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid $border-color;
        height: 84px;
        position: relative;
        // pointer-events: none;
        background-image: linear-gradient(
            to right,
            $border-color,
            $border-color
          ),
          linear-gradient(to right, $border-color, $border-color);
        background-size: 100% 1px, 1px 100%;
        background-position: 0px center, center 0px;
        background-repeat: no-repeat;

        .pointer {
          pointer-events: none;
          position: absolute;
          width: 10px;
          height: 10px;
          transform: translateX(calc(40px - 5px)) translateY(calc(42px - 5px));
          background-color: $border-color;
          border-radius: 100%;
        }
      }
    }
  }

  &.animation-property-popup {
    padding: 10px;
    width: 250px;
    .box {
      > div {
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-column-gap: 4px;
        margin-bottom: 5px;


        &.timing-function,
        &.delay,
        &.duration,
        &.iteration-count {
          grid-template-columns: 1fr;

          label {
            text-align: left;
          }
        }
      }

      label {
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
      }

      input,
      select {
        width: 100%;
        vertical-align: middle;
      }

      .input {
        vertical-align: middle;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        &.grid-1 {
          grid-template-columns: 1fr;
        }

        &.grid-2 {
          grid-template-columns: 3fr 1fr;
        }        
      }
    }
  }


  &.text-shadow-property-popup {
    padding: 10px;
    width: 250px;
    height: 140px;
    .box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-row-gap: 10px;
      grid-column-gap: 2px;

      > * {
        height: 20px;
      }

      input,
      select {
        width: 100%;
        vertical-align: middle;
      }

      select {
        appearance: none;
        padding: 0px;
        text-align: center;
        border: 0px;
        background-color: white;
        border: 1px solid $border-color;
      }

      .input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .offset-x {
        grid-column: 1/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 4px;
      }

      .offset-y {
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 4px;
      }

      .blur-radius {
        grid-column: 1 / 6;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 4px;

        .input {
          grid-template-columns: 2fr 1fr 1fr;
          grid-column-gap: 2px;
        }
      }

      .drag-board {
        grid-column: 4/6;
        grid-row: 1/4;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid $border-color;
        height: 84px;
        position: relative;
        // pointer-events: none;
        background-image: linear-gradient(
            to right,
            $border-color,
            $border-color
          ),
          linear-gradient(to right, $border-color, $border-color);
        background-size: 100% 1px, 1px 100%;
        background-position: 0px center, center 0px;
        background-repeat: no-repeat;

        .pointer {
          pointer-events: none;
          position: absolute;
          width: 10px;
          height: 10px;
          transform: translateX(calc(40px - 5px)) translateY(calc(42px - 5px));
          background-color: $border-color;
          border-radius: 100%;
        }
      }
    }
  }


  &.keyframe-popup {
    padding: 7px;
    width: 250px;
    height: auto;
    .box {
      > div {
        height: 20px;
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-column-gap: 4px;
        margin-bottom: 5px;
      }

      .property {
        .title {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-column-gap: 2px;

          .tools {
            text-align: right; 
            select {
              width: 100px;
              display: inline-block;
            }

            button {
              appearance: none;
              background-color: transparent;
              outline: none;
              cursor: pointer;
              border:0px;
              padding:0px;
              vertical-align: middle;
  
              svg {
                width: 16px;
                height: 16px;
              }
            }
          }
        }


      }

      .offset-input {
        padding: 5px 0px;
        input {
          width: 104px;
        }
      }

      .keyframe-property-list {
        max-height: 300px;
        overflow: auto;
      }

      .keyframe-property-item {
        box-sizing: border-box;
        // border:1px solid $border-color;
        padding: 4px 0px;
        margin-top: 2px;

        .title {
          grid-template-columns: 1fr 30px;
        }

        .value-editor {
          border: 1px solid rgba(0, 0, 0, 0.3);
          padding:2px;
        }

        .tools {
          button {
            appearance: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            border:0px;

            svg {
              width: 16px;
              height: 16px;
              vertical-align: middle;
            }
          }
        }
      }

      label {
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
      }

      input,
      select {
        width: 100%;
        vertical-align: middle;
      }

      .input {
        vertical-align: middle;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        &.grid-1 {
          grid-template-columns: 1fr;
        }

        &.grid-2 {
          grid-template-columns: 3fr 1fr;
        }        
      }
    }
  }

  &.clippath-popup {
    padding: 7px;
    width: 250px;
    height: auto;
    .box {
      > div {
        height: 20px;
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-column-gap: 4px;
        margin-bottom: 5px;
      }

      > .clip-path-editor {
        grid-template-columns: 1fr;
        height: auto;

        .range-editor {
          margin-bottom: 5px;
        }

        .drag-area {
          height: 234px;
          position: relative;
          box-sizing: border-box;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);

          .drag-pointer {
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
            width: 10px;
            height: 10px;
            background-color: red; 
            border-radius: 100%;
            display:inline-block;
          }
        }
      }

      .property {
        .title {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-column-gap: 2px;

          .tools {
            text-align: right; 
            select {
              width: 100px;
              display: inline-block;
            }

            button {
              appearance: none;
              background-color: transparent;
              outline: none;
              cursor: pointer;
              border:0px;
              padding:0px;
              vertical-align: middle;
  
              svg {
                width: 16px;
                height: 16px;
              }
            }
          }
        }


      }

      label {
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
      }

      input,
      select {
        width: 100%;
        vertical-align: middle;
      }

      .input {
        vertical-align: middle;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        &.grid-1 {
          grid-template-columns: 1fr;
        }

        &.grid-2 {
          grid-template-columns: 3fr 1fr;
        }        
      }
    }
  }
}
