.property {
  padding: 0px;
  border-bottom: 1px solid rgba($border-color, 0.5);

  &.show {
    > .property-body {
      display: block;
    }
  }

  > .property-title {
    padding: 2px 5px;
    padding-left: 10px;
    height: 24px;
    line-height: 2;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    text-shadow: 2px 2px 5px $border-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;

    label {
      cursor: pointer;
    }

    > .tools {
      // display: flex;
      text-align: right;

      > * {
        flex: none;
      }

      button {
        appearance: none;
        display: inline-block;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 0px;
        padding: 0px;
        cursor: pointer;
        outline: none;
        vertical-align: middle;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  > .property-body {
    display: none;
    padding: 2px 5px;

    .property-item {
      padding: 0px;
      font-size: 11px;
      margin-bottom: 2px;

    }
  }
}
