input[type=range] {
  appearance: none;
  width: 100%;
  margin: 3px 0;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-moz-focus-outer  {
  border: 0px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: $range-track-height;
  cursor: pointer;
  background: $range-track-color;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
  height: $range-thumb-height;
  width: $range-thumb-width;
  border-radius: $range-thumb-border-radius;
  background: $range-thumb-color;
  cursor: pointer;
  appearance: none;
  border: 1px solid $range-thumb-border-color;  
  margin-top: $range-thumb-top;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $range-track-color;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: $range-track-height;
  cursor: pointer;
  background: $range-track-color;
  // border: 1px solid #000;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.12), inset 0 1px 2px rgba(0,0,0,.12);    
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: $range-thumb-width;
  width: $range-thumb-height;
  border-radius: 9px;
  border-radius: $range-thumb-border-radius;
  background: $range-thumb-color;
  cursor: pointer;
  margin-top: $range-thumb-top;  
}
input[type=range]::-ms-track {
  width: 100%;
  height: $range-track-height;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 2px;
  background: $range-track-color;    
  // box-shadow: inset 0 1px 3px rgba(0,0,0,.12), inset 0 1px 2px rgba(0,0,0,.12);    
}
input[type=range]::-ms-fill-lower {
  background: $range-thumb-color;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: $range-thumb-color;
  border: 0px solid #010101;
  border-radius: 0px;
}
input[type=range]::-ms-thumb { 
  height: $range-thumb-width;
  width: $range-thumb-height;
  border-radius: 9px;
  background: $range-thumb-color;
  cursor: pointer;
  margin-top: $range-thumb-top;  
}
input[type=range]:focus::-ms-fill-lower {
  background: $range-thumb-color;
}
input[type=range]:focus::-ms-fill-upper {
  background: $range-thumb-color;
}
