.rotate-editor-view {
    position: absolute;
    left: 30px; 
    bottom: 70px;
    width: 150px;
    height: 150px;
    // background-color: yellow;
    pointer-events: none;

    .rotate-z {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border: 3px solid rgba(0, 0, 0, 0.5); 
        border-radius: 100%;

        .handle {
            position: absolute;
            left: 50%;
            top: -1px;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background-color: $selected-color;
            border:1px solid black;
            border-radius: 100%;
            pointer-events: all;
            
            &:hover {
                background-color: $selected-color;
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.5);
            }
        }

        .handle-line {
            position: absolute;
            left: 50%;
            top: -1px;
            height: calc(50% + 1px);
            width: 1px;
            transform: translate(-50%, 0%);
            background-color: black;
        }

    }

    .direction-area {
        position: absolute;
        left: -10px; 
        bottom: -10px;
        top: -10px;
        right: -10px;
        // background-color: yellow;
        pointer-events: none;


        .direction {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 20px;
            height: 20px;
            // transform: translate(-50%, -50%);
            // background-color: black;
            cursor: pointer;
            pointer-events: all;
            border-width: 3px;
            border-color: rgba(0, 0, 0, 0.5); 

            &:hover {
                border-color: $selected-color;
            }
    
            &[data-value='top-left'] {
                border-top-style: solid;
                border-left-style: solid;
            }

            &[data-value='top-right'] {
                right: 0%;
                left: auto;
                // transform: translate(-50%, 0%);                                
                border-top-style: solid;
                border-right-style: solid;
            }           
            

            &[data-value='bottom-left'] {
                top: auto;
                bottom: 0px;
                border-bottom-style: solid;
                border-left-style: solid;
            }

            &[data-value='bottom-right'] {
                top: auto;
                bottom: 0px;                
                right: 0%;
                left: auto;
                // transform: translate(-50%, 0%);                                
                border-bottom-style: solid;
                border-right-style: solid;
            }                       
    
            &[data-value='top'] {
                left: 50%;
                transform: translate(-50%, 0%);                
                border-top-style: solid;
                height: 10px;
            }

            &[data-value='left'] {
                top: 50%;
                transform: translate(0%, -50%);                
                border-left-style: solid;
                width: 10px;
            }

            &[data-value='right'] {
                top: 50%;
                left: auto;
                right: 0px;
                transform: translate(0%, -50%);                
                border-right-style: solid;
                width: 10px;
            }            

            &[data-value='bottom'] {
                left: 50%;
                transform: translate(-50%, 0%);                
                border-bottom-style: solid;
                bottom: 0px;
                top: auto;
                height: 10px;
            }


        }        

    }




    .rotate-area {
        position: absolute;
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.5); 
        border-radius: 100%;
        pointer-events: all;
        cursor: move;

        .rotate-container {
            position: absolute;
            left: 10px;
            right: 10px;
            top: 10px;
            bottom: 10px;
            transform-style: preserve-3d;     

            pointer-events: none;     
            perspective: 1000px;                      
        }

        .rotate-item {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            border-radius: 100%;
        }

        .rotate-x {

            transform: rotateX(90deg) translateZ(0px);
            border: 5px solid blue; 
        }

        .rotate-y {
            transform: rotateY(90deg) translateZ(0px);
            border: 5px solid green; 
        }
    }
}