
.selection-view {
    pointer-events:none;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    // background-color: yellow;

    &.empty {
      > * {
        display: none;
      }
    }
  }


  .transform-translate {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    display: block;
    pointer-events: none;

    path {
      stroke: $border-color; 
      stroke-width: 0.5;
      stroke-dasharray: 1 2;
    }
  }


  .selection-pointer {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    pointer-events: none;
    .marker {
      position: absolute;
      // pointer-events: all;
      left:0px;
      top:0px;
      width: 10px;
      height: 10px;
      margin-left: -5px;
      margin-top: -5px;
      background-color: black;
      border-radius: 100%;

      &[data-index='1'] {
        background-color:rgba($selected-color, 0.5);
      }
      &[data-index='2'] {
        background-color:rgba($border-color, 0.6);
      }
      &[data-index='3'] {
        background-color:rgba($border-color, 0.8);
      }
      &[data-index='4'] {
        background-color:rgba($border-color, 0.9);
      }                  
    }
  }
  
  .selection-tool {
    border: $pointer-color 1px solid;
    position:absolute;
    
    &.editing-path,
    &.editing-polygon {
      display: none !important;
    }    

    &.remove-move-area {
      .selection-tool-item[data-position="move"] {
        width: 10px;
        height: 10px;
        top: -40px;
        bottom: auto; 
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        background-color: rgba(white, 0.8);
        border:1px solid $border-color;
      }
    }

    &.path,
    &.textpath,
    &.polygon {
      .selection-tool-item[data-position="move"] {
        pointer-events: all !important;
      }
      .selection-tool-item[data-position="path"] {
        top: -30px;
        bottom: auto; 
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        background-color: rgba(white, 0.8);
        border:1px solid $border-color;
        opacity: 1;
      } 
    }

    @each $moveType in move, rotate3d, 'to right', 'to left', 'to top', 'to bottom', 'to top left', 'to top right', 'to bottom left', 'to bottom right' {
      &[data-selected-position="#{$moveType}"] [data-position="#{$moveType}"] { &:before { opacity: 1; } }
    }    
  
    &[data-is-layout-container="true"] {

      &[data-layout-container='flex'] {
        border:2px solid green;
      }

      &[data-layout-container='grid'] {
        border:2px solid red;
      }      
    }    

    &[data-is-layout-item="true"][data-selection-length="1"][data-is-layout-container="false"]
    {
      [data-position='move'],
      [data-position='to top'],
      [data-position='to top left'],
      [data-position='to top right'],
      [data-position='to bottom'],
      [data-position='to bottom left'],
      [data-position='to bottom right'],
      [data-position='to left'],
      [data-position='to right'] {
        display: none;
      }
    }

    .selection-tool-item { 
      position: absolute;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: white;
      
      border:1px solid $pointer-color;
      // border-radius: 100%;
      pointer-events: all;
      cursor: pointer;
  
      &:before { 
        opacity: 0;
        content: attr(data-position-text);
        position: absolute;
        color: white;
        white-space: nowrap;
        text-align: center;
        background-color: rgba(#333, 0.8);
        border-radius: 3px;
        border: $border-color;
        transition: opacity 0.3s linear;
        
        padding: 4px 10px;
        font-size: 12px;
        pointer-events: none;
      }
  
      &[data-position="move"] {
        left: 0px;
        top: 0px;
        width: 14px;
        height: 14px;
        transform: translate(0%, -150%);
        cursor: move;
        border-radius: 5px;
        background-color: rgba($selected-color, 0.5);
        border: 1px solid $border-color;
  
        &:before {
          left: 0px;
          top: 0px;
          transform: translate(-100%, calc(-100% - 5px));
        }
  
      }


      &[data-position='path'] {
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;
        cursor: move;
        transform: none;
        border-radius: 0px;
        background-color: transparent;
        border:0px;
        opacity: 0;
  
        &:before {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
    
        svg {
            width: 100%;
            height: 100%;
        }

      }
  
  
      &[data-position="to top left"] {
        left: 0px;
        top: 0px;
        cursor: nwse-resize;
        transform: translate(-100%, -100%);
  
        &:before {
          right: 100%;
          bottom: 100%;
          transform: translate(50%, -10px);
        }      
      }
  
      &[data-position="to top right"] {
        left: 100%;
        top: 0px;
        cursor: nesw-resize;      
        transform: translate(0%, -100%);        
  
        &:before {
          left: 100%;
          bottom: 100%;
          transform: translate(-50%, -10px);
        }            
      }    
  
      &[data-position="to top"] {
        left: 50%;
        top: 0px;
        cursor: ns-resize;
        transform: translate(-50%, -100%);        
  
        &:before {
          left: 50%;
          bottom: 100%;
          transform: translate(-50%, -10px);
        }                  
      }        
  
      &[data-position="to left"] {
        left: 0px;
        top: 50%;
        cursor: ew-resize;
        transform: translate(-100%, -50%);        
  
        &:before {
          top: 50%;
          right: 100%;
          transform: translate(-10px, -50%);
        }                        
      }
  
      &[data-position="to right"] {
        left: 100%;
        top: 50%;
        cursor: ew-resize;
        transform: translate(0%, -50%);
  
        &:before {
          top: 50%;
          left: 100%;
          transform: translate(10px, -50%);
        }                              
      }    
  
      &[data-position="to bottom"] {
        left: 50%;
        top: 100%;
        cursor: ns-resize;      
        transform: translate(-50%, 0%);
  
        &:before {
          top: 100%;
          left: 50%;
          transform: translate(-50%, 10px);
        }                              
      }          
      
      
      &[data-position="to bottom left"] {
        left: 0px;
        top: 100%;
        cursor: nesw-resize;            
        transform: translate(-100%, 0%);
  
        &:before {
          top: 100%;
          right: 100%;
          transform: translate(50%, 10px);
        }                              
      }
  
      &[data-position="to bottom right"] {
        left: 100%;
        top: 100%;
        cursor: nwse-resize;      
        transform: translate(0%, 0%);

        &:before {
          top: 100%;
          left: 100%;
          transform: translate(-50%, 10px);
        }              
      }    
                            
    }
  }
  
  .guide-line-view {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events:none;
    overflow: visible;
    transform: translate(0.5px, 0.5px);

    line {
      stroke-width: 1;

      &.base-line {
        stroke: $guide-line-color;
      }

      &.base-rect  {
        stroke: $guide-line-rect-color;
      }
    }

    text {
      font-size: 10px;
      fill: $guide-font-color;
      text-shadow: 0px 2px 2px rgba(183, 183, 183, 0.5);

      &.text-center {
        text-anchor: middle;
      }
    }
  }