
.selection-view {
    pointer-events:none;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;

    &.empty {
      > * {
        display: none;
      }
    }
  }
  
  .selection-tool {
    border: $pointer-color 1px dashed;
    position:absolute;
    box-sizing: border-box;
    
    &.editing-path,
    &.editing-polygon {
      display: none !important;
    }    

    &.remove-move-area {
      .selection-tool-item[data-position="move"] {
        width: 10px;
        height: 10px;
        top: -20px;
        bottom: auto; 
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        background-color: rgba(white, 0.8);
        border:1px solid $border-color;
      }
    }

    &.path,
    &.polygon {
        .selection-tool-item[data-position="path"] {
            top: -30px;
            bottom: auto; 
            left: 50%;
            right: auto;
            transform: translate(-50%, -50%);
            background-color: rgba(white, 0.8);
            border:1px solid $border-color;
            opacity: 1;
          } 
    }
  
  
    &[data-selected-position="move"] [data-position="move"] { &:before { opacity: 1; } }
    &[data-selected-position="rotate3d"] [data-position="rotate3d"] { &:before { opacity: 1; } }
    &[data-selected-position="to right"] [data-position="to right"] { &:before { opacity: 1; } }
    &[data-selected-position="to left"] [data-position="to left"] { &:before { opacity: 1; } }
    &[data-selected-position="to top"] [data-position="to top"] { &:before { opacity: 1; } }
    &[data-selected-position="to bottom"] [data-position="to bottom"] { &:before { opacity: 1; } }
    &[data-selected-position="to top left"] [data-position="to top left"] { &:before { opacity: 1; } }
    &[data-selected-position="to top right"] [data-position="to top right"] { &:before { opacity: 1; } }
    &[data-selected-position="to bottom left"] [data-position="to bottom left"] { &:before { opacity: 1; } }
    &[data-selected-position="to bottom right"] [data-position="to bottom right"] { &:before { opacity: 1; } }  
  
    .selection-tool-item { 
      position: absolute;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: white;
      box-sizing: border-box;
      border:1px solid $pointer-color;
      border-radius: 100%;
      pointer-events: all;
      cursor: pointer;
  
  
      &:before { 
        opacity: 0;
        content: attr(data-position-text);
        position: absolute;
        color: white;
        white-space: nowrap;
        text-align: center;
        background-color: rgba(#333, 0.8);
        border-radius: 3px;
        border: $border-color;
        transition: opacity 0.3s linear;
        box-sizing: border-box;
        padding: 4px 10px;
        font-size: 12px;
        pointer-events: none;
      }
  
      &[data-position="move"] {
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        cursor: move;
        transform: none;
        border-radius: 0px;
        background-color: transparent;
        border:0px;
  
        &:before {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
  
      }

      $rotate3d-width: 30px;
      $rotate3d-height: 30px;

      &[data-position="rotate3d"] {
        left: 50%;
        top: 50%;
        width: $rotate3d-width;
        height: $rotate3d-width;
        cursor: ew-resize;
        // transform: none;
        border-radius: 0px;
        background-color: transparent;
        border:0px;
        transform-style: preserve-3d;
        transform: translate(-50%, -50%);
        &:before { 
          display: none; 
        }
        > div {
          position: absolute;
          left: 0px;
          top: 0px;
          width: $rotate3d-width;
          height: $rotate3d-width;
          background-color: transparent;
          border-radius: 50%;
          box-sizing: border-box;
          pointer-events: none;

        }
  
        .rotate-area {        
          transform-style: preserve-3d;
          transform: translate(0%, 0%);

          > div {
            position: absolute;
            left: 0px;
            top: 0px;
            width: $rotate3d-width;
            height: $rotate3d-width;
            background-color: transparent;
            border-radius: 50%;
            box-sizing: border-box;
            pointer-events: none;            
          }

          .x {
            transform: rotateX(90deg) translateZ(0px);
            border: 3px solid red; 
          }
  
          .y {
            transform: rotateY(90deg) translateZ(0px);
            border: 3px solid green; 
          }        
  
        }

        .z {

          $color: blue; 

          transform: rotate(0deg) translateZ(0px);
          border: 2px solid $color; 
          box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.5);


          .point {
            display: inline-block;
            height: 20px;
            width: 20px;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            pointer-events: all; 
            // background-color: green;
            border-radius: 50%;
            position: absolute;
            cursor: auto; 
            // background-image: radial-gradient(rgba(255, 255, 255, 0.8) 80%, black);
            border-top: 2px solid rgba(white, 0); 
            // cursor: grab;
          }

          .handle-top {
            display: inline-block;
            height: 10px;
            width: 10px;
            left: 50%;
            top: -5px;
            transform: translateX(-50%) translateY(-100%);
            background-color: $color; 
            position: absolute; 
            pointer-events: none;
            clip-path: polygon(0% 0%, 100% 0%, 50% 100%); 
            box-shadow: inset 0px -1px 9px 0 rgba(255, 255, 255, 0.5);         
            animation: bounce-up-down 0.75s infinite ease-in-out;
          }
      
        }                
      }      

      &[data-position='path'] {
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;
        cursor: move;
        transform: none;
        border-radius: 0px;
        background-color: transparent;
        border:0px;
        opacity: 0;
  
        &:before {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
    
        svg {
            width: 100%;
            height: 100%;
        }

      }
  
  
      &[data-position="to top left"] {
        left: 0px;
        top: 0px;
        cursor: nwse-resize;
  
        &:before {
          right: 100%;
          bottom: 100%;
          transform: translate(50%, -10px);
        }      
      }
  
      &[data-position="to top right"] {
        left: 100%;
        top: 0px;
        cursor: nesw-resize;      
  
        &:before {
          left: 100%;
          bottom: 100%;
          transform: translate(-50%, -10px);
        }            
      }    
  
      &[data-position="to top"] {
        left: 50%;
        top: 0px;
        cursor: ns-resize;
  
        &:before {
          left: 50%;
          bottom: 100%;
          transform: translate(-50%, -10px);
        }                  
      }        
  
      &[data-position="to left"] {
        left: 0px;
        top: 50%;
        cursor: ew-resize;
  
        &:before {
          top: 50%;
          right: 100%;
          transform: translate(-10px, -50%);
        }                        
      }
  
      &[data-position="to right"] {
        left: 100%;
        top: 50%;
        cursor: ew-resize;
  
  
        &:before {
          top: 50%;
          left: 100%;
          transform: translate(10px, -50%);
        }                              
      }    
  
      &[data-position="to bottom"] {
        left: 50%;
        top: 100%;
        cursor: ns-resize;      
  
  
        &:before {
          top: 100%;
          left: 50%;
          transform: translate(-50%, 10px);
        }                              
      }          
      
      
      &[data-position="to bottom left"] {
        left: 0px;
        top: 100%;
        cursor: nesw-resize;            
  
  
        &:before {
          top: 100%;
          right: 100%;
          transform: translate(50%, 10px);
        }                              
      }
  
      &[data-position="to bottom right"] {
        left: 100%;
        top: 100%;
        cursor: nwse-resize;      
  
        &:before {
          top: 100%;
          left: 100%;
          transform: translate(-50%, 10px);
        }              
      }    
                            
    }
  }
  
  .guide-line-view {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events:none;
  }