.animation-selector {
    display: grid;
    grid-template-columns: 100px 1fr 30px;
    grid-column-gap: 5px;
    width: 100%;
    .timeline-object {
        display: inline-block;

        &.selected {
            background-color: $selected-color;
            color: $selected-font-color;
        }
    }
}

.timeline-value-area {
    position: absolute;
    width: $right-size;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: $background-color;    
    font-size: 12px;
    box-sizing: border-box;
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;

    .timeline-value-editor {

        .tab-content {
            padding: 0px 20px;

            &.padding-zero {
                padding-top: 0px;
            }

            .offset-input {
                padding-top: 10px;
            }

            .css-property-editor {
                margin-top: 0px;
            }

            .css-property-item {

                > .title {
                    display: none;
                }

                > .title > .tools {
                    display: none;
                }


                > .title-2 {
                    display: block; 
                    text-align: right;

                    label {
                        cursor: pointer;
                    }

                    &:hover {
                        color: $selected-color;

                        svg {
                            path {
                                fill: $selected-color;
                            }
                        }
                    }

                }

                .background-image-editor {
                    .tools {
                        button {
                            width: 100px;
                            text-align: right;

                            svg {
                                width: 16px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
    
            }
           
            .title {
                color: $font-color;
            } 
        }

        .value {
            padding: 5px;
            margin: 0 auto;
            width: 228px;
            display: grid;
            grid-template-columns: 60px 1fr;
            grid-column-gap: 4px;
            label {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .editor-area {
                min-height: 20px;
            }

        }

        .tab-content {
            padding-top: 10px;
        }
    }
}

.timeline-animation-area {
    position: absolute;
    width: $left-size;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: $background-color;
    font-size: 12px;
    box-sizing: border-box;
    border-right: 1px solid $border-color;
    border-top: 1px solid $border-color;

    .property-title {
        height: $timeline-header-size !important;
    }

    .property-body {
        padding: 0px !important;
    }
}

.timeline-area {
    position: absolute;
    left: $left-size;
    right: $right-size;
    top: 0px;
    bottom: 0px;
    background-color: $background-color;    
    font-size: 12px;

    .timeline-header {
        position: absolute;
        left: 0px;
        top: 0px;
        height: $timeline-header-size;
        right: 0px;
        box-sizing: border-box;
        // border-bottom: 1px solid $timeline-border-color;
        border-top: 1px solid $timeline-border-color;

        .timeline-object-toolbar {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: $left-size;     
            border-right: 1px solid $timeline-border-color;        
            border-bottom: 1px solid $timeline-border-color;    
            box-sizing: border-box;


            .timeline-top-toolbar {
                padding:10px 5px;
                box-sizing: border-box;
                .row {
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    grid-column-gap: 5px;
                    margin-bottom: 2px;

                    label {
                        padding: 2px 2px;
                    }

                    .input {
                        input {
                            min-width: 50px;
                        }
                    }
                }

                .play-buttons {
                    display: flex;

                    @each $selectSpeed in 0.5, 1, 2, 3 {
                        &[data-selected-speed="#{$selectSpeed}"] [data-value="#{$selectSpeed}"] {
                            background-color: $selected-color;
                            color: $selected-font-color;
                        }
                    }        

                    button {
                        border: 1px solid $border-color;
                        min-width: 50px;
                        padding: 2px 10px;
                        height: auto;
                    }
                }
            }
        }

        .timeline-keyframe-toolbar {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: $left-size;

            .keyframe-time-view {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;

                .time-duration {
                    position: absolute;
                    top: 5px;
                    left: 0px;
                    right: 0px;
                    height: 5px;

                    $back-color: $border-color;
             
                    .duration-handle-left {
                        position: absolute;
                        left: 15px;
                        top: 0px;
                        width: 5px;
                        height: 100%;
                        background-color: $back-color;
                        // border-top-left-radius: 10px;
                        // border-bottom-left-radius: 10px;

                    }

                    .duration-handle-right {
                        position: absolute;
                        right: 15px;
                        top: 0px;
                        width: 5px;
                        height: 100%;
                        background-color: $back-color;
                        // border-top-right-radius: 10px;
                        // border-bottom-right-radius: 10px;
                    }                    

                    .duration-slider {
                        position: absolute;
                        left: 10px;
                        top: 0px;
                        right: 10px;
                        height: 100%;
                        background-color: $back-color;
                        

                        // overflow: hidden;
                        // border-radius: 5px;

                        .start {
                            position: absolute;
                            left : 0px;
                            top: 0px;
                            transform: translateX(-100%);
                            height: 100%;
                            width: 5px;
                            // border-top-left-radius: 10px;
                            // border-bottom-left-radius: 10px;
                            background-color: $border-color;
                            cursor: ew-resize;                            
                        }

                        .end {
                            position: absolute;
                            left : 100%;
                            top: 0px;
                            // transform: translateX(100%);
                            height: 100%;
                            width: 5px;
                            // border-top-right-radius: 10px;
                            // border-bottom-right-radius: 10px;
                            background-color: $border-color;
                            cursor: ew-resize;
                        }      
                        
                        .gauge {
                            position: absolute;
                            left : 0%;
                            width: 100%; 
                            top: 0px;
                            height: 100%;
                            background-color: $timeline-gauge-background-color;
                            cursor: ew-resize;                            
                        }
                    }
                }

                canvas {
                    position: absolute;
                    left: 0px;
                    top: 15px;
                    width: 100%;
                    height: 25px;
                }
            }

        }

    }

    .timeline-body {
        position: absolute;
        left: 0px;
        top: $timeline-header-size;
        bottom: 0px;
        right: 0px;
        // border-top: 1px solid $timeline-border-color;                    
        box-sizing: border-box;

        .timeline-object-area {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: $left-size;
            overflow: auto;
            border-right: 1px solid $timeline-border-color;
            box-sizing: border-box;

            .timeline-object-list {
                .timeline-object {

                    &.collapsed {

                        .timeline-object-row.layer {
                            .icon {
                                svg {
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    
                        .timeline-object-row.layer-property {
                            display: none;
                        }
                    }

                    .timeline-object-row {
                        height: 30px;
                        display: grid; 
                        grid-template-columns: 20px 1fr 50px; 
                        grid-column-gap: 2px;
                        box-sizing: border-box;
                        border-bottom: 1px solid $timeline-border-color;

                        &[data-selected="true"] {
                            background-color: $timeline-row-selected-color;
                        }

                        .current-value {
                            vertical-align: middle;
                            padding: 5px 0px;
                            input {
                                width: 100%;
                                vertical-align: middle;
                            }
                        }

                        .icon {

                            padding: 5px;
                            svg {
                                width: 16px;
                                height: 16px;
                                transform: rotate(90deg);
                                transition: transform 0.2s ease;

                                path {
                                    fill: $font-color;
                                }
                            }
                        }

                        .title { 
                            vertical-align: middle;
                            padding: 5px 0px;
                            cursor: pointer;
                            color: $font-color;
                        }

                        .tools {
                            padding: 5px 0px;
                            text-align: right;

                            > * {
                                margin-right: 5px;
                            }

                            .empty {
                                margin-right: 0px;
                            }

                        }

                        &.layer-property {
                            overflow: hidden;                            
                            grid-template-columns: 20px 1fr .8fr 50px; 

                            .title {
                                padding-left: 10px;
                            }

                            .tools {
                                button.add {
                                    width: 10px;
                                    height: 10px;
                                    // border-radius: 50%;
                                    display: inline-block;
                                    box-shadow: 0 0 0 2px rgba(darken($border-color, 10%), 0.3);
                                    background-color: rgba(lighten($border-color, 50%), 0.7);
                                    vertical-align: middle;
                                    cursor: pointer;
                                    transform: translateX(-5px) translateY(2px) rotate(45deg);
                                
                                    &:hover {
                                      box-shadow: 0 0 0 2px rgba($selected-color, 0.5);
                                      background-color: $selected-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

       

        .keyframe-time-grid-view {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: $left-size;
            pointer-events: none;

            canvas {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }     
         

        .timeline-keyframe-area {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: $left-size;
            overflow: auto;            

            .timeline-keyframe-container {
                position: relative;
                min-height: 100%;
                outline: none; 
                .drag-area {
                    position: absolute;
                    border: 1px solid lighten(#3585bd, 20%);
                    background-color: rgba(#3585bd, 0.7);
                    left: -10000px;
                    right: -10000px;
                    width:0px;
                    height:0px;
                    pointer-events: none;
                }
            }

            .timeline-keyframe-list {

                .timeline-keyframe {
                    &.collapsed {
                    
                        .timeline-keyframe-row.layer-property {
                            display: none;
                        }
                    }

                    .timeline-keyframe-row {
                        height: 30px;
                        box-sizing: border-box;
                        border-bottom: 1px solid $timeline-border-color;
                        position: relative;


                        .keyframe {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 10px;
                            background-color: rgba($timeline-border-color, 0.5);
                            display: inline-block;

                            .offset {
                                position: absolute;
                                top: 50%;
                                border:1px solid $selected-color;
                                display: inline-block;
                                width: 8px;
                                height:8px;
                                // border-radius: 50%;
                                // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50% );
                                background-color: $background-color;                                
                                transform: translateY(-50%) translateX(-50%) rotate(45deg);
                                cursor: ew-resize;
                                pointer-events: all;                                
                                // box-shadow: 0 0 0 1px $selected-color;                                

                                &[data-selected='true'] {
                                    background-color: $selected-color;
                                    box-shadow: 0 0 0 1px $timeline-offset-line-color;
                                }
                            }
                        }                        
                        
                        .keyframe-shadow {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 10px;
                            display: inline-block;

                            .offset {
                                position: absolute;
                                top: 50%;
                                border:1px solid $selected-color;
                                display: inline-block;
                                width: 8px;
                                height:8px;
                                // border-radius: 50%;
                                // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50% );
                                background-color: $background-color;
                                transform: translateY(-50%) translateX(-50%) rotate(45deg);
                                cursor: ew-resize;
                                // box-shadow: 0 0 0 1px $selected-color;     
                                pointer-events: all;

                                &[data-selected='true'] {
                                    background-color: $selected-color;
                                    box-shadow: 0 0 0 1px $timeline-offset-line-color;
                                }
                            }
                        }

                        .keyframe-back{
                            position: absolute;
                            height: 100%;
                            display: inline-block;                            
                            box-sizing: border-box;                            
                            .offset-line {
                                position: absolute;
                                top: 50%;
                                display: inline-block;
                                height: 1px;
                                background-color: $selected-color;
                                transform: translateY(-52%);
                                box-sizing: border-box;

                            }
                        }
                    }
                }
            }
        }

    }

}

.keyframe-time-control {

    .time-manager {
      display: grid;
      grid-template-columns: 110px 65px 84px 10px;
      grid-column-gap: 0px;

      label {
        padding-right:0px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    svg {
      vertical-align: middle;
      path {
        fill: $font-color;
      }
    }

    input[type=text] {
      width: 80px;
    }
  }