.logo {
  padding: 0px 10px;
  width: 260px;

  .image {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 30px;
    line-height: 1.6;    
    font-size: 30px;

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: $logo-selected-color;
      }
    }
  }


  .text { 
    font-size: 30px;
    display: inline-block;
    font-weight: 900;
    line-height: 1.6;
    color: $logo-selected-color;
    z-index: 1;
    vertical-align: middle; 
  }

  .extra-text {
    z-index: 0;    
    font-size: 30px;
    display: inline-block;
    font-weight: 900;
    line-height: 1.6;
    vertical-align: middle;   
    color: $logo-selected-font-color; 
  }

  .site {
    font-size: 14px;
    color: $border-color;
  }
}

.external-tool-menu {
  padding-left: 10px;
}

.tool-menu,
.external-tool-menu {
  height: 100%;
  display: inline-block;
  color: $selected-font-color;


  .items {
    // flex: 1 1 auto;
    height: 100%;
    padding: 0px;
    padding-top: 5px;


    .draw-items {
      // background-color: $background-color;
      > * {
        display: inline-block;
      }
  
      .split {
        border: 0px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        // margin: 5px 10px;
        height: 20px;
      }
  
      > label {
        font-size: 9px;
        &:first-child {
          margin-top: 5px;
        }
        color: $font-color;
        padding: 5px;
        text-align: center;
        // display: block;
      }
  
      .menu-item {
        text-align: center;
        margin-top: 5px;
        color: $font-color;
        width: 30px;
        height: 48px;
        background-color: transparent;
        background-image: none;
        border:0px;
        box-shadow: none;
        margin-bottom: 5px;
  
        &.selected {
          .icon {      
            svg {
              path {
                stroke: $background-color;  
                fill: $selected-color;
              }
            }
          }
  
        }
  
        &[data-no-title="true"] {
          height: 30px;
          .title {
            display: none;
          }
        }
        .icon {
          width: 30px;
          height: 30px;
          display: inline-block;
          border-radius: 3px;
          padding: 3px;

          &.flipY {
            transform: rotateY(-180deg);
          }
        }
      }
      
    }


    .split {
      display: inline-block;
      height: 20px;
      vertical-align: middle;
      width: 3px;
      margin-right: 2px;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    &.flex-2 {
      flex: 5;
    }

    &.left {
      flex: none; 
      width: 300px;
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    form {
      display: inline-block;
      vertical-align: middle;
    }

    > * {
      margin-right: 10px;
    }

    .menu-item {
      &[data-no-title='true'] {
        .title {
          display: none;

        }
      }
    }

    button {
      width: 40px;
      height: 40px;
      background-color: transparent;
      background-image: none;
      border:0px;
      box-shadow: none;
      color: $selected-font-color;

      &[checked="checked"] {
        .icon {
          background-color: rgba(255, 255, 255, 0.1);
          color: $selected-font-color;          
        }
      }

      &.open {
        .title {
          color: $selected-font-color;
        }

        .open-right-panel {
          svg {
            path {
              fill: $selected-font-color;
            }
          }
        }
      }
    }

    .title {
      font-size: 10px;
      color: $selected-font-color;
      // display: none;
    }

    .icon {
      margin: 0 auto;
      width: 24px;
      height: 24px;
      // background-color: rgba(206, 206, 206, 0.5);
      color: $selected-font-color;      

      svg {
        width: 100%;
        height: 100%;

        path {
          fill : $selected-font-color;

          stroke-width: 1;
          stroke: $background-color;                    
        }
      }

      &.jsfiddle,
      &.export,
      &.codepen,
      &.github {
        background-color: transparent;
        // box-shadow: inset 0 0 0 1px $border-color;
        // text-align: right;
        // text-shadow: 2px 2px 4px rgba($border-color, 0.59);
        padding-right: 2px;
        border-radius: 3px;
        &:before {
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          vertical-align: middle;
          line-height: 24px;
        }
      }

      &.codepen {
        &:before {
          content: "C";
        }
      }
      &.jsfiddle {
        &:before {
          content: "J";
        }
      }
      &.github {
        &:before {
          content: "G";
        }
      }
    }
  }
}
