.logo {
  text-align: center;
  padding: 0px 10px;

  .text { 
    font-size: 16px;
    display: inline-block;
    font-weight: 900;
    line-height: 1.6;
    color: var(--selected-color);
    z-index: 1;
    vertical-align: middle; 
  }

  .extra-text {
    z-index: 0;    
    font-size: 16px;
    display: inline-block;
    font-weight: 900;
    line-height: 1.6;
    vertical-align: middle;   
    color: var(--selected-font-color);     
  }

  .site {
    font-size: 14px;
    color: var(--border-color);
  }
}

.preview-tool-menu {
  max-height: 300px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  overflow: auto;
}

.tool-menu,
.preview-tool-menu{
  color: var(--selected-font-color);

  &.center{
    text-align: center;
  }

  .items {
    height: 100%;
    width: 100%;
    padding: 0px;
    display: inline-block;

    .empty {
      width: 100%;
      height: 48px;
    }


    .draw-items {

      &[data-selected-value="svg"] {
        [data-item="css"] {
          display: none;
        }
        [data-item="svg"] {         
          .divider {
            display: none; 
          }
        }
      }

      &[data-selected-value="css"] {
        [data-item="svg"] {
          display: none;
        }
      } 


      > * {
        display: inline-block;
      }
  
      .sub-title  {
        width: 1px;
        margin-top: -5px !important;
        height: 1px;
        padding: 0px;
        display: inline-block;
        vertical-align: top;
      }

      .divider {
        border: 0px;
        border-right: 1px solid var(--divider-color);
        // margin: 5px 10px;
        height: 20px;
        vertical-align: middle;
        display: inline-block;
      }
  
      .menu-item {
        text-align: center;
        color: var(--font-color);
        width: 48px;
        height: 48px;
        background-color: transparent;
        background-image: none;
        border:0px;
        box-shadow: none;
        display: inline-block;
  
        &.selected {
          .icon {      
            color: var(--selected-color); 
          }

          .title {
            color: var(--selected-color);
          }
  
        }
  
        &[data-no-title="true"] {
          height: 30px;
          .title {
            display: none;
          }
        }


        &.cylinder {
          .icon {
            padding-top: 4px;
            svg {
              width: 24px;
              height: 24px;
              path {
                stroke-width: 0;
              }
            }
          }
        }

        .icon {
          display: inline-block;
          border-radius: 3px;

          &.flipY {
            transform: rotateY(-180deg);
          }
        }
      }
      
    }

    &.flex-2 {
      flex: 5;
    }

    &.left {
      flex: none; 
      width: 300px;
      text-align: left;
    }



    form {
      display: inline-block;
      vertical-align: middle;
    }

    .menu-item {
      &[data-no-title='true'] {
        .title {
          display: none;

        }
      }
    }

    button {
      width: 40px;
      height: 40px;
      background-color: transparent;
      background-image: none;
      border:0px;
      box-shadow: none;
      display: inline-block;
      color: var(--selected-font-color);

      &[checked="checked"] {
        .icon {
          background-color: rgba(255, 255, 255, 0.1);
          color: var(--selected-font-color);          
        }
      }
    }

    .title {
      font-size: 10px;
      color: var(--font-color);
    }


    .icon {
      margin: 0 auto;
      width: 20px;
      height: 20px;
      color: var(--font-color);      

      svg {
        width: 100%;
        height: 100%;
      }

      &.export,
      &.codepen,
      &.github {
        background-color: transparent;
        padding-right: 2px;
        border-radius: 3px;
        &:before {
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          vertical-align: middle;
          line-height: 24px;
        }
      }

      &.codepen {
        &:before {
          content: "C";
        }
      }
      &.github {
        &:before {
          content: "G";
        }
      }
    }
  }
}
