.transform-editor {

  .label {
    height: 20px;
    margin-top: 2px;
    label {
      font-size: 13px;
      vertical-align: middle;
      text-shadow: 2px 2px 5px #cccccc;      
    }
  }

  .tools {
      vertical-align: middle;
      text-align: right;
      float:right;

      select {
        width: 100px !important;
        display: inline-block ;
      }
      button {
          vertical-align: middle;
          appearance: none;
          background-color: transparent;
          border: 0px;
          padding: 0px;
          font-size: 16px;
          vertical-align: middle;
          cursor: pointer;
          outline: none;
          font-size: 12px;
          

          svg {
              width: 16px;
              height: 16px;
              vertical-align: middle;
          }
      }
  }

  .transform-list {
    display: grid !important;
    grid-template-columns: 1fr !important;
  
    .transform-item {
      display: block;
  
      .title {
        display: grid;
        grid-template-columns: 1fr 30px;
  
        label {
          font-size: 12px;
          padding: 2px 5px;
          box-sizing: border-box;

            span {
              font-weight: bold;
              background-color: blue;
              color: white;
              border-radius: 3px;
              padding: 0px;
              display: inline-block;
              min-width: 20px;
              text-align: center;
              vertical-align: middle;
              
            }
        }
  
        .transform-menu {
          text-align: right;
          button {
            appearance: none;
            border: 0px;
            background-color: transparent;
            width: 16px;
            height: 16px;
            display: inline-block;
            box-sizing: border-box;
            padding: 0px;
            cursor: pointer;
            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
  
      .transform-ui {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2px;
  
        input[type="range"] {
          width: 90%;
        }
      }
    }
  }
  
}
