
.var-editor {
  grid-template-columns: 1fr !important;

  .label {
    height: 20px;
    margin-top: 2px;
    label {
      font-size: 12px;
      padding-left: 5px;
      vertical-align: middle;
      text-shadow: 2px 2px 5px #cccccc;      
    }
  }

  .tools {
      vertical-align: middle;
      text-align: right;
      float:right;
    button {
        vertical-align: middle;
        appearance: none;
        background-color: transparent;
        border: 0px;
        padding: 0px;
        font-size: 16px;
        vertical-align: middle;
        cursor: pointer;
        outline: none;
        font-size: 12px;
        

        svg {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
      }
  }


  .var-item {
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
    grid-column-gap: 2px;
    text-align: center;
    margin-bottom: 5px;


    .tools {
      text-align: right;
      button {
        appearance: none;
        background-color: transparent;
        border: 0px;
        padding: 0px;
        width: 16px;
        height: 16px;
        display: inline-block;
        cursor: pointer;
        outline: none;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
