$pointer-color: rgba(#0f72cf, 0.8);
$direction-border: 2px solid $pointer-color;
$editor-button-color: #5f80de;
$editor-line-color: rgba($editor-button-color, 0.3);
$editor-resizer-width: 8px;
$editor-canvas-background-color: rgba(236, 236, 236, 0.3);

.page-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;  
}

.page-view {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: rgba($border-color, 0.3);

  .page-lock {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;    
    overflow: auto;    
    // box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);
  }

}



.page-tools {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: inline-block;

  @include svg-button();

}



.page-canvas {
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: white;
}