$pointer-color: rgba(#0f72cf, 0.8);
$direction-border: 2px solid $pointer-color;
$editor-button-color: #5f80de;
$editor-line-color: rgba($editor-button-color, 0.3);
$editor-resizer-width: 8px;
$editor-canvas-background-color: rgba(236, 236, 236, 0.3);
.page-view {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: $border-color;

}


.page-canvas {
  position: absolute;
  width: 500px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
}