$editor-button-color: #5f80de;
$editor-line-color: rgba($editor-button-color, 0.3);
$editor-resizer-width: 8px;
$editor-canvas-background-color: rgba(236, 236, 236, 0.3);

.page-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  pointer-events: all;
  outline: none;
  background-color: white; 
}


.page-view {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: var(--page-view-color);

  .page-lock {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    overflow: auto;

    .element-view {
      &[data-mode='ADD'] {
        cursor: crosshair;
      }

      .motion-based {
        z-index: 100000000;
      }
    }
  }

}



.page-tools {
  position: absolute;
  left: 20px;
  bottom: 10px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  color: var(--font-color);
  background-color: var(--background-color);

  >label {
    vertical-align: middle;
    font-size: 11px;
    display: inline-block;
    height: 100%;
    padding-top: 5px;
  }

  button {
    border-radius: 3px;
  }

  >.select {
    display: inline-block;
    width: 50px;
    border-radius: 5px;
    border:1px solid rgba(var(--selected-color), 0.5);
  }
}

.page-subeditor {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  // height: 35px;
  // text-align: center; 
  font-size: 12px;
  pointer-events: none;
}

@import './sub-editor/path-manager.scss';
@import './sub-editor/draw-manager.scss';
@import './rotate-editor-view.scss';


.page-canvas {
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: white;
}

.drag-area-rect {
  pointer-events: none;
  position: absolute;
  border: 0.5px solid var(--drag-area-rect-border-color);
  background-color: var(--drag-area-rect-background-color);
  box-sizing: border-box;

  left: -10000px;
}

.pointer-rect {
  pointer-events: none;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;

  .pointer {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background-color: black; 
    border-radius: 100%;

    &[data-number="1"] { background-color: red; }
  }
}

.canvas-view {
  position: absolute;
  transform-origin: left top;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  svg.element-item {
    pointer-events: none;

    >* {
      pointer-events: stroke;
    }

    > :not([fill='transparent']) {
      pointer-events: visible;
    }
  }

  .element-item {

    // outline: 1px double var(--selected-color);

    &[contenteditable="true"] {
      // margin: 0px;
      outline: none;
    }


    &:hover {

      &:not(.selected):not(.path) {
        outline: 1px double rgb(64, 64, 252);
      }

      &:not(.selected).path {

        path {
          outline: 1px solid rgb(64, 64, 252);
        }

      }

    }

    > svg {

      &:hover {
        > path{
          stroke: rgb(64, 64, 252);
        }

        > text {
          fill: rgb(64, 64, 252);
        }
      }
    }    

    &.artboard {
      &:before {
        content: attr(data-title);
        position: absolute;
        left: 0px;
        top: -15px;
        font-size: 12px;
        color: var(--page-view-element-artboard-title-color);
        display: inline-block;
      }

      &:hover {
        outline: none;
      }
    }
  }
}