$pointer-color: rgba(#0f72cf, 0.8);
$direction-border: 2px solid $pointer-color;
$editor-button-color: #5f80de;
$editor-line-color: rgba($editor-button-color, 0.3);
$editor-resizer-width: 8px;
$editor-canvas-background-color: rgba(236, 236, 236, 0.3);

.page-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;  
  pointer-events: all;
  outline: none;
}

.page-view {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: rgba($border-color, 0.3);

  .page-lock {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;    
    overflow: auto;    
    // box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);
  }

}



.page-tools {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid $border-color;
  color: $font-color;
  background-color: $background-color;

  > label {
    vertical-align: middle;
    font-size: 11px;
  }

  button {
    border-radius: 3px;
  }

  > .select {
    display: inline-block;
    width: 150px;
  }
}



.page-canvas {
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: white;
}

.canvas-view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: left top;
  width: 100%;
  height: 100%;   

  .element-item {

    &[contenteditable="true"] {
      margin: 0px;
      outline: none;
    }

    &.selected {
      &:hover {
        outline: none;
      }
    }

    &:hover {
      outline: 1px solid rgb(173, 173, 241);
    }

    &.artboard {
      &:hover {
        outline: none;
      }
    }
  }
}

.selection-view {
  pointer-events:none;
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
}

.selection-tool {
  border: $pointer-color 1px dashed;
  position:absolute;
  box-sizing: border-box;

  &.remove-move-area {
    .selection-tool-item[data-position="move"] {
      width: 10px;
      height: 10px;
      top: -20px;
      bottom: auto; 
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);
      background-color: rgba(white, 0.8);
      border:1px solid $border-color;
    }
  }


  &[data-selected-position="move"] [data-position="move"] { &:before { opacity: 1; } }
  &[data-selected-position="to right"] [data-position="to right"] { &:before { opacity: 1; } }
  &[data-selected-position="to left"] [data-position="to left"] { &:before { opacity: 1; } }
  &[data-selected-position="to top"] [data-position="to top"] { &:before { opacity: 1; } }
  &[data-selected-position="to bottom"] [data-position="to bottom"] { &:before { opacity: 1; } }
  &[data-selected-position="to top left"] [data-position="to top left"] { &:before { opacity: 1; } }
  &[data-selected-position="to top right"] [data-position="to top right"] { &:before { opacity: 1; } }
  &[data-selected-position="to bottom left"] [data-position="to bottom left"] { &:before { opacity: 1; } }
  &[data-selected-position="to bottom right"] [data-position="to bottom right"] { &:before { opacity: 1; } }  

  .selection-tool-item { 
    position: absolute;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    box-sizing: border-box;
    border:1px solid $pointer-color;
    border-radius: 100%;
    pointer-events: all;
    cursor: pointer;


    &:before { 
      opacity: 0;
      content: attr(data-position-text);
      position: absolute;
      color: white;
      white-space: nowrap;
      text-align: center;
      background-color: rgba(#333, 0.8);
      border-radius: 3px;
      border: $border-color;
      transition: opacity 0.3s linear;
      box-sizing: border-box;
      padding: 4px 10px;
      font-size: 12px;
      pointer-events: none;
    }

    &[data-position="move"] {
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      cursor: move;
      transform: none;
      border-radius: 0px;
      background-color: transparent;
      border:0px;

      &:before {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

    }


    &[data-position="to top left"] {
      left: 0px;
      top: 0px;
      cursor: nwse-resize;

      &:before {
        right: 100%;
        bottom: 100%;
        transform: translate(50%, -10px);
      }      
    }

    &[data-position="to top right"] {
      left: 100%;
      top: 0px;
      cursor: nesw-resize;      

      &:before {
        left: 100%;
        bottom: 100%;
        transform: translate(-50%, -10px);
      }            
    }    

    &[data-position="to top"] {
      left: 50%;
      top: 0px;
      cursor: ns-resize;

      &:before {
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, -10px);
      }                  
    }        

    &[data-position="to left"] {
      left: 0px;
      top: 50%;
      cursor: ew-resize;

      &:before {
        top: 50%;
        right: 100%;
        transform: translate(-10px, -50%);
      }                        
    }

    &[data-position="to right"] {
      left: 100%;
      top: 50%;
      cursor: ew-resize;


      &:before {
        top: 50%;
        left: 100%;
        transform: translate(10px, -50%);
      }                              
    }    

    &[data-position="to bottom"] {
      left: 50%;
      top: 100%;
      cursor: ns-resize;      


      &:before {
        top: 100%;
        left: 50%;
        transform: translate(-50%, 10px);
      }                              
    }          
    
    
    &[data-position="to bottom left"] {
      left: 0px;
      top: 100%;
      cursor: nesw-resize;            


      &:before {
        top: 100%;
        right: 100%;
        transform: translate(50%, 10px);
      }                              
    }

    &[data-position="to bottom right"] {
      left: 100%;
      top: 100%;
      cursor: nwse-resize;      

      &:before {
        top: 100%;
        left: 100%;
        transform: translate(-50%, 10px);
      }              
    }    
                          
  }
}

.guide-line-view {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events:none;
}