.path-manager {
    display: none; 
    pointer-events: all;
    outline: none;
    border: 1px solid $border-color;
    border-top: 0px;
    color: $font-color;
    background-color: $background-color;  
    padding: 5px 10px;
    box-sizing: border-box;
    height: 100%;

    > * {
        vertical-align: middle;
    }

    button {
        font-size: 13px;
        margin-left: 20px;
        text-decoration: underline;
        width: auto;
        height: auto;
        vertical-align: middle;
        white-space: nowrap;
    }
}