
.star-manager {
    display: none; 
    pointer-events: all;
    outline: none;
    border: 1px solid $border-color;
    color: $font-color;
    background-color: $background-color;  
    padding: 5px 10px;
    
    height: 100%;
  
  
    > label {
      vertical-align: middle;
      font-size: 11px;
    }
  
    button {
      border-radius: 3px;
    }
  
    > .select {
      display: inline-block;
      width: 150px;
    }  


    > * {
      vertical-align: middle;
    }

    button {
        font-size: 13px;
        margin-left: 20px;
        text-decoration: underline;
        width: auto;
        height: auto;
        vertical-align: middle;
        white-space: nowrap;
    }
  }
  