.elf--artboard-items {
    position: absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;

    .artboard-items-tools {
        position: absolute;
        left: 0px;
        top: 10px;
        right: 0px;
        height: 20px;
        display: grid;
        grid-template-columns: 1fr 40px;
        grid-column-gap: 10px;
        box-sizing: border-box;
        padding: 0px 10px;

        .tools {
            text-align: right;
        }
    }

    .elf--artboard-list {
        position: absolute;
        left: 0px;
        top: 30px;
        right: 0px;
        bottom: 0px;
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-auto-rows: minmax(10px, 190px);  
        grid-row-gap: 10px;      
        box-sizing: border-box;
        padding: 10px 10px;        

        .artboard-preview {
            padding-top: 10px;

            .tools {
                display: grid;
                grid-template-columns: 1fr 20px;
                grid-column-gap: 2px;
                padding: 0px 2px 2px;
                box-sizing: border-box;

                .title {
                    text-align: left;
                    vertical-align: middle;                    
                }

                .buttons {
                    text-align: right;
                    vertical-align: middle;
                }
            }

            &:hover {
                background-color: var(--elf--selected-color);
            }
            img {
                width: 100%;
                height: 150px;
                object-fit: contain;
            }
        }
    }
}


.elf--artboard-list {
    height: 100%;
    overflow: auto;
    padding:0px;
    margin:0px !important;
    .artboard-item {
        color: var(--elf--list-item-font-color);

        padding: 5px 7px !important; 
        margin-bottom: 0px !important;
        display: grid;
        grid-template-columns: 20px 1fr;
        grid-column-gap: 4px;
        border-radius: 4px;

        .detail {
            display: grid;
            grid-template-columns: 1fr 60px;
            grid-column-gap: 3px;

            label {
                padding: 2px 0px;          
                font-size: 12px;
                vertical-align: middle;      
            }


            .tools {
                text-align: right;
            }
    
        }

        &.selected {
            background-color: var(--elf--list-item-selected-color);
            color: var(--elf--selected-font-color);                     
            .tools {
                button {
                    color: var(--elf--selected-font-color);
                }
            }
        }

        &[data-layout='flex'],
        &[data-layout='grid']
        {
            .detail {
                [data-layout-title] {
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        vertical-align: middle;
                        margin-left: 5px;
                        border-radius: 3px;
                    }
                }
            }
        }        

        &[data-layout='flex'] {
            .detail {
                [data-layout-title] {
                    &:after {
                        background-color: rgb(68, 163, 68);
                    }
                }
            }
        }

        &[data-layout='grid'] {
            .detail {
                [data-layout-title] {
                    &:after {
                        background-color: var(--elf--selected-color);
                    }
                }
            }
        }

    }
}