.elf--custom-assets {
    position: absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;

    .custom-assets-tools {
        position: absolute;
        left: 0px;
        top: 10px;
        right: 0px;
        height: 20px;
        display: grid;
        grid-template-columns: 1fr 40px;
        grid-column-gap: 10px;
        box-sizing: border-box;
        padding: 0px 10px;

        .tools {
            text-align: right;
        }
    }

    .elf--asset-list {
        position: absolute;
        left: 0px;
        top: 30px;
        right: 0px;
        bottom: 0px;
        overflow: auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;        

        box-sizing: border-box;
        padding: 10px 10px;        

        .asset-preview {
            // pointer-events: none;
            width: 80px;
            height: 80px;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 5px;
            background-color: #ececec20;

            position: relative;

            .tools {

                position: absolute;
                bottom:0px;
                left:0px;
                right:0px;
                // display: none;
                padding: 2px;
                box-sizing: border-box;
                opacity: 1;
                transition: opacity 0.2s;
                background-color: rgba(0, 0, 0, 0);

                .title {
                    text-align: left;
                    vertical-align: middle;          
                    color: var(--elf--selected-font-color);
                    display: inline-block;                    
                }

                .buttons {
                    display: inline-block;
                }
            }

            &:hover {
                background-color: var(--elf--selected-color);
                box-shadow: 0 0 0 1px var(--elf--selected-color);
                .tools {
                    opacity: 1;
                }
            }

            .thumbnail {
                // border: 1px solid var(--elf--border-color);
            }
            img {
                width: 100%;
                // height: 150px;
                object-fit: contain;
            }
        }
    }
}


.elf--asset-list {
    height: 100%;
    overflow: auto;
    padding:0px;
    margin:0px !important;
    .asset-item {
        color: var(--elf--list-item-font-color);

        padding: 5px 7px !important; 
        margin-bottom: 0px !important;
        display: grid;
        grid-template-columns: 20px 1fr;
        grid-column-gap: 4px;
        border-radius: 4px;

        .detail {
            display: grid;
            grid-template-columns: 1fr 60px;
            grid-column-gap: 3px;

            label {
                padding: 2px 0px;          
                vertical-align: middle;      
            }


            .tools {
                text-align: right;
            }
    
        }

        &.selected {
            background-color: var(--elf--list-item-selected-color);
            color: var(--elf--selected-font-color);                     
            .tools {
                button {
                    color: var(--elf--selected-font-color);
                }
            }
        }

        &[data-layout='flex'],
        &[data-layout='grid']
        {
            .detail {
                [data-layout-title] {
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        vertical-align: middle;
                        margin-left: 5px;
                        border-radius: 3px;
                    }
                }
            }
        }        

        &[data-layout='flex'] {
            .detail {
                [data-layout-title] {
                    &:after {
                        background-color: rgb(68, 163, 68);
                    }
                }
            }
        }

        &[data-layout='grid'] {
            .detail {
                [data-layout-title] {
                    &:after {
                        background-color: var(--elf--selected-color);
                    }
                }
            }
        }

    }
}