.object-items {
    position: absolute;
    left: 0px ;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;

    > *:first-child {
        flex: 0 0 140px;
    }

    > *:last-child {
        margin-top: auto;
        flex: 1 1 0;
    }
}