.object-items {
    position: absolute;
    left: 0px ;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: block;

    > * {
        flex: 1 1 auto;
        width: 100%;
    }

    > *:first-child {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        height: 120px;


        > .elf--property {
            position: absolute !important; 
            height: auto !important;
            width: auto !important;
            left: 0px ;
            right: 0px;
            bottom: 0px;
            top: 0px;

            > .property-title {
                position: absolute;
                display: block;
                left: 0px;
                right: 0px;
                top: 0px;
                height: 30px;
            }

            > .property-body {
                position: absolute;
                display: block;
                left: 0px;
                right: 0px;
                top: 30px;
                bottom: 0px;
                overflow: auto;
            }
        }

    }

    > *:last-child {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 120px;

        > .elf--property {
            position: absolute !important; 
            height: auto !important;
            width: auto !important;
            left: 0px ;
            right: 0px;
            bottom: 0px;
            top: 0px;

            > .property-title {
                position: absolute;
                display: block;
                left: 0px;
                right: 0px;
                top: 0px;
                height: 30px;
            }

            > .property-body {
                position: absolute;
                display: block;
                left: 0px;
                right: 0px;
                top: 30px;
                bottom: 0px;
                overflow: auto;
            }
        }
    }
}