&.background-color,
&.font-color {
  grid-template-columns: 1fr;

  .fill-item {
    display: grid;
    height: 24px;
    grid-template-columns: 24px auto;
    grid-column-gap: 5px;
    margin-bottom: 5px;
    text-align: center;

    .preview {
      display: inline-block;
      height: 100%;
      box-sizing: border-box;

      cursor: pointer;

      .mini-view {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 1px solid $border-color;
      }
    }

    .color-code {
      input {
        width: 100%;
        height: 100%;
      }
    }

    .opacity-code {
      display: grid;
      grid-template-columns: 1fr 3fr;

      input {
        width: 100%;
      }
    }
  }
}
