&.colorpicker {
    .items {
        padding: 0px;

        .colorpicker-body {
            width: 100%;

            .color-tab {
                border: 0px;
            }
            .color-panel {
                margin-left: 12px;
            }

            .color-tab-body {
                border: 0px;
            }
        }
    }
}