&.fill-list {
  display: grid;
  grid-template-columns: 1fr;

  .fill-item {
    display: grid;
    height: 35px;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 5px;
    margin-bottom: 5px;
    text-align: center;

    .gradient-info {
      display: grid;
      grid-template-columns: 50px 1fr 28px;
    }

    .background-image-info {
      display: grid;
      grid-template-columns: 64px repeat(2, 1fr);
      grid-column-gap: 0px;

      > div {
        overflow: hidden;
      }
    }

    &[data-fill-type="gradient"] {
      .colorcode,
      .opacity {
        display: none;
      }

      .colorsteps {
        display: block;
      }
    }

    .preview {
      display: grid;
      cursor: pointer;

      .mini-view {
        display: block;
        height: 100%;
        border: 1px solid $border-color;
        box-sizing: border-box;
        pointer-events: none;
      }
    }

    .fill-title {
      pointer-events: none;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      padding: 4px 0px;
      box-sizing: border-box;

      svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }
    }

    .colorcode {
      input {
        width: 100%;
      }
    }

    .colorsteps {
      display: none;
      text-align: left;
      padding: 3px 0px;
      height: 100%;
      box-sizing: border-box;

      .step {
        border: 1px solid #333;
        display: inline-block;
        margin-left: -5px;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border-radius: 100%;
        cursor: pointer;

        &:first-child {
          margin-left: 0px;
        }
      }
    }

    .tools {
      line-height: 2;
      button {
        appearance: none;
        background-color: transparent;
        height: 16px;
        width: 16px;
        border: 0px;
        padding: 0px;
        font-size: 16px;
        vertical-align: middle;
        cursor: pointer;
        outline: none;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
