&.layer-code {
    .key-value-view {
        display: block; 
        user-select: text;

        .key-value-item {
            display: block;

            &.short {
                .key {
                    display: inline-block;
                    vertical-align: middle;
                    width: 100px;
                    padding-left: 2px;
                    padding-right: 0px;
                }

                .value {
                    display: inline-block;
                    vertical-align: middle;
                    // margin-left: 10px;
                    padding-left: 0px;
                }
            }

            .key {
                display: block;
                font-weight: bold;
                padding: 2px 5px;
            }

            .value {
                white-space: pre-wrap;                
                margin:0px;                
                padding: 0px 5px;
                padding-left: 20px;
                font-size: 12px;
                display: block; 
            }
        }
    }
}