&.text-shadow {
    .text-shadow-list {
        display: block;

        .text-shadow-item {
            position: relative;
            display: block;
            margin-top: 2px;
            padding: 2px 4px;
            box-shadow: inset 0px 0px 0px 1px $border-color;            

            > div {
                height: 28px;                
                display: grid;
                grid-template-columns: 1fr 2fr; 
                line-height: 2.4;

                label {
                    text-align: right;
                    padding-right: 10px;
                }

                .input {
                    display: inline-block;
                    input[type=number] {
                        display: inline-block;
                        width: 40px;
                    }
                }


                &.drag-area {
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    right: 30px;
                    top: 28px;
                    border: 1px solid #ececec;
                    display: block;
                    background-image: linear-gradient(to right, #ececec, #ececec),linear-gradient(to right, #ececec, #ececec);
                    background-size: 1px 100%, 100% 1px;
                    background-position: center 0px, 0px center;                    
                    background-repeat: no-repeat, no-repeat;

                    .drag-pointer {
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        background-color: #00aafb;
                        transform-origin: center center;
                        transform: translateX(-50%) translateY(-50%);
                        pointer-events: none;
                    }
                }
            }

            &.checked {
                background-color: #f1f1f1;
            }

            .color {
                width: 20px;
                height: 20px;
                border:1px solid black; 
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
            }

            .select {
                vertical-align: middle;
            }

            button {
                appearance: none;
                background-color: transparent;
                border:0px;
                text-align: center;
                font-weight: 500;
            }
        }
    }

}