
  .clippath-popup {
    width: 220px;
    height: auto;
    .box {

      > .clip-path-editor {

        &.clip-path-type {
          margin-bottom: 5px;
        }

        .range--editor {
          margin-bottom: 5px;
        }

        .round-area {
          margin-top: 5px;
        }

        .clip-area-handle {
          display: inline-block;
          position: absolute;
          // background-color: var(--elf-selected-color);
          z-index: 1;
        }

        .clip-area {
          display: inline-block;
          position: absolute;
          background-color: var(--elf-selected-color);
          z-index: 0;

          &.inset {
            top:0px;
            left:0px;
            right:0px;
            bottom: 0px;
          }

          &.polygon {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 220px;
            pointer-events: none;
            z-index: 1;
          }

          &.circle {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 220px;
            pointer-events: none;
            z-index: 1;
          }
        }

        .pointer-input {
          .pointer-item {
            margin-top: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr 0.5fr; 
            grid-column-gap: 2px;

            > .input-item {
              display: grid;
              grid-template-columns: 20px 1fr 20px;
              grid-column-gap: 2px;

              label {
                text-align: right;
                padding-right: 2px;
                vertical-align: middle;
              }

              input, span {
                vertical-align: middle;
              }
            }
          }
        }


        .drag-area {
          height: 220px;
          position: relative;
          
          box-shadow: 0 0 0 1px var(--elf-border-color);

          .pointer-list {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            z-index: 3;
            pointer-events: none;            
          }


          .drag-pointer {
            z-index: 2;
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 100%;
            display:inline-block;
            background-color: blue;
            pointer-events: all;


            &[data-type='top'],
            &.first
             {
              background-color: red;
            }

            &[data-type='right'],
            &.last:not(.first) {
              background-color: green;
            }
            
            &[data-type='bottom'] {
              background-color: orange;
            }
            
            &[data-type='left'] {
              background-color: blue;
            }            
          }
        }
      }

      .property {
        .title {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-column-gap: 2px;

          .tools {
            text-align: right; 
            select {
              width: 100px;
              display: inline-block;
            }
          }
        }


      }

      label {
        font-size: 12px;
        text-align: left;
        vertical-align: middle;

        input,select {
          width: auto;
          display: inline-block;
          vertical-align: middle;
        }
      }

      input,
      select {
        width: 100%;
        vertical-align: middle;
      }

      .input {
        vertical-align: middle;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        &.grid-1 {
          grid-template-columns: 1fr;
        }

        &.grid-2 {
          grid-template-columns: 3fr 1fr;
        }        
      }
    }
  }

