

// common 
$inner-border-color: #181818;
$border-color: rgb(226, 226, 226);
$border-color-2: #f6fafc;
$selected-border-color: #609de2;
$selected-color: #66baff;
$selected-color-2: #093042;

$selection-tool-border-color: #3a89f0;

$background-color: white; 
$header-background-color: white;
$selected-background-color: #d8d8d8; 
$font-color: rgb(97, 97, 97);
$selected-font-color: white;
$menu-item-title-font-color: #949494;

// base 
$button-front-color: $font-color;

$select-background-color: white;
$select-border-color: $border-color;
$select-border-radius: 3px;
$select-font-color: $font-color;

$range-thumb-border-radius: 10px;
$range-thumb-color:  #609de2;
$range-track-color:  rgb(207, 207, 207);
$range-thumb-border-color: $range-thumb-color;

$divider-color:  rgb(207, 207, 207);

$input-background-color: white;
$input-border-color: $border-color;
$input-border-radius: 0px;
$input-font-color: black;
$input-sub-font-color: #7a7a7a;

// property 
$property-title-color:  white;
$property-border-color: $border-color;
$property-title-background-color: $background-color;
$property-background-color: $background-color;
$property-border-top-color: $border-color;
$property-show-background-color: white; 
$property-font-color: $font-color;
$property-input-border-color: $border-color;

// list 
$list-font-color: black;
$list-item-font-color: black;
$list-item-disable-font-color: rgb(163, 163, 163);
$list-item-selected-color: #609de2; 
$list-item-selected-font-color: white; 
$list-border-color: black;
$list-background-color: $border-color;

// tab 
$tab-background-color: $background-color; 
$tab-header-background-color: #f6fafc; 
$tab-header-font-color: $font-color; 
$tab-font-color: $font-color;
$tab-selected-color: white; 
$tab-selected-font-color: black;
$tab-selected-border-color: black;
$tab-border-color: $border-color;

// popup 
$popup-background-color: #ffffff; 
$popup-font-color: $font-color;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;

// window 
$window-background-color: #2a2a2a7a;
$window-color: $background-color;

// cubic-bezier-editor 
$bezier-background-color: white; 
$bezier-sample-background-color: white;


// path guide 
$path-background-color: rgba(255, 255, 255, 0.7);
$path-guide-color: rgb(92, 92, 92);
$path-last-guide-color: $selected-color;
$path-segment-stroke-color: #b7b7b7;
$path-segment-fill-color: #a7a7a7;

// timeline 
$timeline-background-color: lighten($background-color, 5%);
$timeline-border-color: $border-color;
$timeline-gauge-background-color: #435cb5;
$timeline-gauge-handle-color: #748ff1;
$timeline-row-selected-color: #609de2;
$timeline-property-add-background-color: #747474;

// guide line 
$guide-line-color: $selected-color;
$guide-font-color: white;
$guide-line-rect-color: #36457a;

$page-view-color: rgba(17, 17, 17, 0.1); 
$page-view-element-artboard-title-color: black;

$animation-item-background-color: #435cb5;
$transition-item-background-color: #435cb5;

// select icon editor 
$select-icon-editor-item-color: rgb(255, 255, 255);
$select-icon-editor-selected-color: $selected-color;
$select-icon-editor-selected-shadow-color: rgb(153, 153, 153);
$select-icon-editor-border-color: black;

$grid-box-editor-button-background-color: #435cb5;

$status-bar-item-background-color: #4653f6;
$status-bar-background-color: $background-color;
$status-bar-font-color: $font-color;

$drag-area-rect-border-color: rgba(62, 168, 255, 0.9);
$drag-area-rect-background-color: rgba(107, 188, 255, 0.5);

$rotate-area-border-color: $selected-color;
$rotate-x-border-color: rgb(100, 58, 199);
$rotate-y-border-color: rgb(139, 223, 139);

// draw view 
$draw-view-background-color: $background-color;
$path-view-background-color: $background-color;

$color-view-background-color: #d8d8d8;
$transform-origin-selected-color: $selected-color;
$border-radius-selected-color: $selected-color;

$transform-item-background-color: rgb(255, 255, 255);
$transform-item-border-color: $border-color;

$tooltip-background-color: $selected-color;
$tooltip-font-color: $selected-font-color;