

// common 
$inner-border-color: #181818;
$border-color: $oc-gray-6;
$border-color-2: #f6fafc;
$selected-border-color: #609de2;
$selected-color: #66baff;
$selected-color-2: $oc-blue-5;
$selected-hover-color: $oc-blue-1;

$selection-tool-border-color: #3a89f0;

$background-color: white; 
$toolbar-background-color: #2C2C2C;
$selected-background-color: #d8d8d8; 
$font-color: rgb(51, 51, 51);
$disabled-font-color: #c1c1c1;
$selected-font-color: white;
$menu-item-title-font-color: $oc-gray-0;
$layout-border-color: $oc-gray-3;

// base 
$button-front-color: $font-color;

$select-background-color: white;
$select-border-color: $border-color;
$select-border-radius: 3px;
$select-font-color: $font-color;

$range-thumb-border-radius: 10px;
$range-thumb-color:  #609de2;
$range-track-color:  rgb(207, 207, 207);
$range-thumb-border-color: $range-thumb-color;

$divider-color:  rgb(207, 207, 207);

$input-background-color: white;
$input-inactive-color: $oc-gray-1;
$input-border-color: $oc-gray-4;
$input-border-radius: 0px;
$input-font-color: #333;
$input-sub-font-color: #7a7a7a;
$input-height: 30px;
$input-font-size: 11px;

// tab 
$tab-background-color: $background-color; 
$tab-toolbar-background-color: #f6fafc; 
$tab-header-font-color: $font-color; 
$tab-font-color: #adadad;
$tab-selected-color: white; 
$tab-selected-font-color: black;
$tab-selected-border-color: black;
$tab-border-color: $border-color;

// property 
$property-title-color:  white;
$property-border-color: #e5e5e5;
$property-title-background-color: $background-color;
$property-background-color: $background-color;
$property-border-top-color: $border-color;
$property-show-background-color: white; 
$property-font-color: $font-color;
$property-input-border-color: $border-color;

// list 
$list-font-color: black;
$list-item-font-color: black;
$list-item-disable-font-color: rgb(163, 163, 163);
$list-item-selected-color: #609de2; 
$list-item-selected-font-color: white; 
$list-border-color: black;
$list-background-color: $border-color;



// popup 
$popup-background-color: $oc-white; 
$popup-font-color: $oc-gray-4;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;

// window 
$window-background-color: #2a2a2a7a;
$window-color: $background-color;

// cubic-bezier-editor 
$bezier-background-color: white; 
$bezier-sample-background-color: white;


// path guide 
$path-background-color: rgba(255, 255, 255, 0.7);
$path-guide-color: rgb(92, 92, 92);
$path-last-guide-color: $selected-color;
$path-segment-stroke-color: #b7b7b7;
$path-segment-fill-color: #a7a7a7;

// timeline 
$timeline-background-color: lighten($background-color, 5%);
$timeline-border-color: $border-color;
$timeline-gauge-background-color: #435cb5;
$timeline-gauge-handle-color: #748ff1;
$timeline-row-selected-color: #609de2;
$timeline-property-add-background-color: #747474;

// guide line 
$guide-line-color: $selected-color;
$guide-font-color: white;
$guide-line-rect-color: #36457a;

$canvas-background-color: rgba(17, 17, 17, 0.1); 

$animation-item-background-color: #435cb5;

$grid-box-editor-button-background-color: #435cb5;

$drag-area-rect-border-color: rgba(62, 168, 255, 0.9);
$drag-area-rect-background-color: rgba(107, 188, 255, 0.5);

$rotate-area-border-color: $selected-color;
$rotate-x-border-color: rgb(100, 58, 199);
$rotate-y-border-color: rgb(139, 223, 139);
$tooltip-background-color: $oc-gray-9;
$tooltip-font-color: $selected-font-color;