.elf--window-background {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 10000;
  right: 0px;
  background-color: var(--elf--window-background-color);

  .window {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;
    background-color: var(--elf--background-color);
    border: 1px solid var(--elf--border-color);
    box-shadow: 0 0 1px 0px var(--elf--border-color);
    padding: 14px;
    color: var(--elf--font-color);

    .window-title {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      height: 40px;
      font-size: 15px;
      font-weight: bold;
      padding: 10px;
      border-bottom: 1px solid var(--elf--border-color);

      margin-bottom: 10px;
      display: flex;
      pointer-events: all;

      > * {
        flex: 1 1 auto;
      }

      .tools {
        text-align: right;
      }

      label {
        cursor: move;
      }
    }

    .window-body {
      position: absolute;
      left: 0px;
      bottom: 0px;
      right: 0px;
      top: 40px;
    }
  }
}
