.elf--export-window {
    width: 80% !important;
    height: 80% !important;

    pre {
        margin: 10px;
        user-select: text;
        height: 100%;
        border: 1px solid var(--elf--border-color);
    }
}