$tab-header-height: 40px;
 

$tab-horizontal-header-width: 60px;
$tab-horizontal-header-right-width: 60px;

.tab {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  // background-color: var(--elf--background-color);
  color: var(--elf--font-color);

  &.number-tab { 

    &.padding-5 {
      .tab-content {
        padding: 5px;
      }
    }

    &.padding-10 {
      .tab-content {
        padding: 10px;
      }
    }    

    &.side-tab {
      &.side-tab-left {
        > .tab-header {
          position: absolute;
          display: flex;
          flex-direction: column;
          left: 0px;
          width: $tab-horizontal-header-width;
          // gap: 10px;
          top: 0px;
          bottom: 0px;
          padding:0px;
          height: auto;
          // border-right: 1px solid var(--elf--border-color);
          // padding: 10px;
          box-sizing: border-box;
          overflow: visible;
          background-color: var(--elf--toolbar-background-color);
          text-align: center;

          > .tab-item {
            flex: none;
            display: flex;
            width: $tab-horizontal-header-width;
            margin:0 auto;
            width: 100%;
            height: 50px;
            position: relative;
            background-color: var(--elf--toolbar-background-color) !important;
            border-bottom: 0px !important;
            border:0px;
            justify-content: center;
            align-items: center;

            &:before {
              content: "";
              position: absolute;
              left: 50%;
              top: 50%;
              width: 32px;
              height: 32px;
              transform: translateX(-50%) translateY(-50%);
              display: inline-block;
              border-radius: 4px;
            }

            &:hover {
              label {
                color: var(--elf--selected-font-color) !important;        
              }
            }

            &.selected {
              // background-color: var(--elf--background-color) !important;
              color: var(--elf--selected-font-color);        
              margin-left: 0;
              // padding-left: 10px;       
              
              &:before {
                background-color: var(--elf--selected-color-2);
              }

              label {

                svg {
                  color: var(--elf--selected-font-color);              
                }
              }
            }

            &.extra-item {
              flex: 1 1 auto;
              overflow: auto;             
            }

            label {
              position: absolute;
              left: 50%;
              top: 50%;
              width: 24px;
              height: 24px;
              transform: translateX(-50%) translateY(-50%);
              display: inline-block;
              // padding: 12px 0px;
              z-index: 1;
              padding:0px;
              svg {
                width: 24px;
                height: 24px;

                path,use {
                  fill: currentColor;
                }
              }
            }

            .title {
              padding-bottom: 5px;
              color: var(--elf--selected-font-color);
              // display: none; 
              white-space: wrap;
              word-break: break-all;
              overflow: hidden;
              text-overflow: ellipsis;
            }

          }
        }

        > .tab-body {
          left: $tab-horizontal-header-width;
          top: 0px;
          bottom: 0px;
          right: 0px; 
        }
      }
    }

    > .tab-content {
      display: none;

      &.selected {
        display: block;
      }
    }

    > .tab-body {
      top: 34px;
    }

  }

  > .tab-header {
    position: absolute;
    left: 0px;
    right: 0px;
    height: $tab-header-height;
    box-sizing: border-box;
    padding: 0px 10px;

    z-index: 1;
    display: flex;

    &.no-border {
      > .tab-item {
        border: 0px !important;
      }
    }


    > .tab-item {
      // flex: 1 1 auto;
      text-align: center;
      position: relative;
      padding: 0px 0px 0px 0px;
      gap: 10px;
      margin-right: 10px;
      height: 100%;
      cursor: pointer;

      &.selected,
      &:hover {
        label {
          color: var(--elf--font-color); 
        }

      }

      &.selected{
        label {
          font-weight: 600;
        }

      }


      label {
        line-height: 24px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        color: var(--elf--tab-font-color);
        pointer-events: none;
        box-sizing: border-box;
        padding: 12px 0px;
      }

      &:first-child {
        &:hover {
          label {
            left: 10px;
          }
        }
      }

      &:last-child {

        &:hover {
          label {
            left: auto;
            right: 10px;
          }
        }
      }

      &:hover {
        label {
          opacity: 1;            

        }
      }
    }
  }

  > .tab-body {
    position: absolute;
    left: 0px;
    right: 0px;
    top: $tab-header-height;
    bottom: 0px;

    &.no-border {
      border: 0px;
    }

    > .tab-content {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      display: none;
      overflow: auto;

      &.selected {
        display: block;

        &.flex {
          display: flex;
          flex-direction: column;
        }
      }

      .fixed {
        flex: none;
      }

      .scroll {
        flex: 1 1 auto;
        overflow: auto;
        position: relative;
      }
    }
  }

}
