.elf--project-info {
    margin: 0px !important;
    padding: 10px 5px;

    .project-info-item {
        margin-bottom: 15px;

        > label {
            display: block;
            padding-bottom: 5px;
            text-transform: uppercase;
        }
    }

    input, textarea {
        display: block;
        width: 100%;
        border-radius: 4px;
    }

    input {
        height: 30px;
    }

    textarea {
        height: 100px;
    }

}