.unit-range {
    pointer-events: all;
    display:block !important;
    &.show {
        .multi-value {
            display: flex; 
        }
    }

    .base-value {
        display: flex; 

        > * {
            flex: 1 1 auto; 
        }

        .range {

        }

        .number {
            flex: none;
            appearance: none;
            border: 0px;
            background-color: transparent;
            margin-left: 5px;
            width: 50px;
        }

        .unit {
            flex: none;
            appearance: none;
            border: 0px;
            background-color: transparent;
            width: 30px;
        }
    }

    .multi-value {
        display: none; 
        height: 26px;

        > * {
            flex: 1 1 auto; 
            margin: 2px;
            border: 1px solid $border-color;
            background-color: transparent;
            cursor: pointer;
            padding: 3px;
            border-radius: 5px;
        }
    }
}