
.layer-shape-editor {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10000;

    .layer-shape-circle-editor,
    .layer-shape-ellipse-editor {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;

        .center {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: rgba(red, 0.8); 
            pointer-events: all;
            cursor: pointer;       
            border: 2px solid white;     

        }

        .radius {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: rgba(green, 0.8); 
            pointer-events: all;
            cursor: pointer;
            border: 2px solid white;            
        }        
    }


    .layer-shape-inset-editor {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;

        .top {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: rgba(red, 0.8); 
            pointer-events: all;
            cursor: pointer;       
            border: 2px solid white;   

        }

        .bottom {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            left: 50%;
            top: 100%;
            transform: translateX(-50%) translateY(-50%);
            background-color: rgba(rgb(255, 102, 0), 0.8); 
            pointer-events: all;
            cursor: pointer;       
            border: 2px solid white;     
        }        

        .left {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            background-color: rgba(rgb(0, 146, 12), 0.8); 
            pointer-events: all;
            cursor: pointer;       
            border: 2px solid white;     
        }                

        .right {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            top: 50%;
            left: 100%;
            transform: translateY(-50%) translateX(-50%);
            background-color: rgba(rgb(1, 120, 124), 0.8); 
            pointer-events: all;
            cursor: pointer;       
            border: 2px solid white;     
        }                        

    }

    .layer-shape-polygon-editor {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        pointer-events: all;
        border: 1px solid rgba(0, 146, 12, 0.9);

        > .drag-item {
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            top: 50%;
            left: 100%;
            transform: translateY(-50%) translateX(-50%);
            background-color: rgba(rgb(1, 120, 124), 0.8); 
            pointer-events: all;
            cursor: pointer;       
            border: 2px solid white;                 

            &.start {
                background-color: rgba(255, 0, 0, 0.8);
            }

            &.end {
                background-color: rgba(0, 0, 255, 0.8);
            }            
        }
    }
}      
