.elf--toolbar-menu-item {

    height: 100%;
    padding: 10px !important;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;    
    // padding: 10px;

    > .icon {
        width: 24px;
        height: 24px;
        display: inline-block;

        svg {
            width: 24px;
            height: 24px;

            stroke: var(--elf--selected-font-color);
        }
    }

    &:hover {
        background-color: black;
    }

    &[data-selected="true"] {
        background-color: var(--elf--selected-color-2);
        color: var(--elf--selected-font-color);
    }
}