.elf--vertical-ruler {
  position: absolute;
  left: 0px;
  width: var(--elf--editor-ruler-size);  
  top: var(--elf--editor-ruler-size);  
  bottom: 0px;
  background-color: var(--elf--background-color);
  box-sizing: border-box;
  z-index: 0;  

  .vertical-ruler-container {
    position: absolute;
    left:0px;
    top:0px;
    height: 100%;
    width: 100%;
    overflow: hidden;    


    svg.lines {
      path {
        fill: var(--elf--selected-hover-color);
        stroke: transparent;
      }        
    }    

    svg.vertical-line {
      path {
        stroke: var(--elf--selected-color);
      }
    }


    .cursor {
      --elf--vertical-cursor-position: 0px;
      height: 2px;
      width: 100%;
      background-color: var(--elf--selected-color-2);
      transform: translateY(var(--elf--vertical-cursor-position)) translateZ(0);
    }
  }

  svg {
    text {
      text-anchor: middle;
      fill: var(--elf--font-color); 
      font-size: 8px;
    }

    path {
      stroke: var(--elf--font-color);


      &[data-selected="true"] {
        stroke: transparent;
      }      

      &[data-mouse="true"] {
        stroke: var(--elf--selected-color);
        stroke-width: 2;
      }      
    } 
  }
}
