.elf--popup {
    position: absolute;
    display: none;

    z-index: 1000;
    background-color: var(--elf--popup-background-color);
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.5);
    color: var(--elf--font-color);
    // padding: 8px;
  
    &.compact {
      .popup-body {
        padding: 0px;
        padding-bottom: 5px;
      }
    }

    .popup-title {
      font-size: 12px;
      font-weight: bold;
      padding: 8px 8px 8px 8px;
      display: flex;
      pointer-events: all;
      height: 32px;

      // margin-top: 8px;  
      border-bottom: 1px solid var(--elf--property-border-color);
  
      > * {
        flex: 1 1 auto;
      }
  
      .tools {
        display: flex;
        align-items: center;
        justify-content: flex-end;        
        // padding-right: 10px;

        button {
          border:0px;
          background-color: transparent;
          padding:0px;
          cursor: pointer;

          svg {
            width: 16px;
            height: 16px;
            fill: var(--elf--font-color);
          }
        }
      }
  
      label {
        cursor: move; 
      }
    }
  
    .popup-body {
      padding: 8px 8px;    
            
      .popup-item {
        margin-bottom: 5px;
        padding: 2px 0px;        
      }
    }
    .popup-resizer {
      position: absolute;
      width: 10px;
      height: 10px;
      right: 0px;
      bottom: 0px;
      background-color: gray;
      cursor: se-resize;
    }
  }