.color-single-editor {
    height: 19px;
    text-align: center;
    width: 100%;
    height: 24px;
    
    .preview {
        height: 100%;

        .mini-view {
            height: 100%;
            @include transparent-background();
            border: 1px solid var(--border-color);

            .color-view {
                cursor:pointer;
                height: 100%;
            }
        }
    }
}