.color-view-editor {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 2px;
    text-align: center;

    &.has-label {
        grid-template-columns: 70px 1fr;

        label {
            text-align: left;
            vertical-align: middle;
            padding: 6px 4px 2px 0px;
            line-height: 1.6;
            
            font-size: 11px;
        }
    }    

    .color-code {
        vertical-align: middle;
        display: grid;
        grid-template-columns: 26px 1fr;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid var(--border-color);
        box-sizing: border-box;      
        background-color: var(--input-background-color);  

        &.focused {
            border: 1px solid var(--selected-color);
        }        

        .preview {
            display: inline-block;
            
            vertical-align: middle;
            cursor: pointer;
            text-align: right;
            padding: 3px 4px;
            
            border-radius: 2px;
            background-color: transparent;
    
            .mini-view {
                width: 100%;
                height: 100%;
                display: inline-block;
                position: relative; 
                
                vertical-align: middle;
                border-radius: 4px;           
                overflow: hidden; 
                @include transparent-background();  
                box-sizing: border-box;
                border: 1px solid var(--border-color);
                // box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    
                .color-view {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                } 
    
            }
        }
    

        input {
            width: 100%;
            height: 24px;
            padding: 0px 3px;
            border-radius: 3px;
            font-size: 12px;
            // font-family: monospace;



        }
    }
}