.fill-single-editor {
    height: 20px;
    width: 100%;
    display: grid;


    &.has-label {
        grid-template-columns: 70px 40px 1fr;
        grid-column-gap: 2px;

        label {
            text-align: left;
            vertical-align: middle;
            padding: 2px 4px 2px 0px;
            
            font-size: 11px;
        }
    }       
    
    .preview {
        display: inline-block;
        
        vertical-align: middle;
        cursor: pointer;
        text-align: right;
        padding: 3px;
        height: 24px;
        border-radius: 2px;
        background-color: var(--elf-color-view-background-color);

        .mini-view {
            width: 100%;
            height: 100%;
            display: inline-block;
            position: relative; 
            
            vertical-align: middle;
            border-radius: 2px;           
            overflow: hidden; 
            @include transparent-background();  
            // box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);

            .color-view {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
            } 

        }
    }


    .colors {
        display: inline-block; 
        vertical-align: middle;
        line-height: 2.2;
        margin-left: 2px;

        &.simple {
            display: none;
        }

        .color {
            border:1px solid var(--elf-font-color);
            display: inline-block;
            width: 14px;
            vertical-align: middle;
            height: 14px;
            border-radius: 100%;
            pointer-events: all;
            user-select: all;
            
            &:not(:first-child) {
                margin-left: -2px;
            }
        }
    }
}