$border-radius: 3px;
.input-range--editor {
    display: grid;
    grid-template-columns: 1fr;
    height: 24px;
    border-radius: $border-radius;

    &.focused {

        .area {
            box-shadow: 0 0 0 1px var(--elf--selected-color);
        }

    }

    &.has-label {
        grid-template-columns: 60px 1fr;

        &.compact {
            grid-template-columns: 30px 1fr;
        }

        &.is-removable {
            grid-template-columns: 60px 1fr 12px;
        }

        label {
            text-align: left;
            vertical-align: middle;
            padding: 4px 0px 2px 0px;
            font-size: 13px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            svg {
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }
        }

        &.block {
            display: block;

            label {
                display: block; 
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    &.is-removable {
        grid-template-columns: 1fr 12px;        
        .remove {
            display: inline-block;
        }
    }

    .type-button,
    .remove {
        display: none;        
    }
    
    .range--editor-type {
        vertical-align: middle;
        height: 24px;

        .area {
            font-size: 13px;
            display: grid;
            grid-template-columns: 1fr 30px;
            height: 100%;
            border-radius: 3px;
            
            span {
                padding: 1px;
                
                vertical-align: middle;
            }

            input,select {
                width: 100%;
            }

            input[type=number] {        
                height: 100%;                 
                padding: 2px 2px;      
                border-right: 0px;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }

            .select-editor {

                select {
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;                    
                    background-color: var(--elf--input-background-color);
                    appearance: none;
                    text-align: center;
                    height: 100%;
                    
                    padding: 0px 4px;             
                    border-left:0px;
                    color: var(--elf--input-sub-font-color);
                    border-bottom: 1px solid var(--elf--input-border-color);
                    border-top: 1px solid var(--elf--input-border-color);
                    border-right: 1px solid var(--elf--input-border-color);                     
                }
            }
        }

    }
} 