.number-input-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;
    height: 24px;

    &.has-label {
        grid-template-columns: 60px 1fr;
        grid-column-gap: 4px;

        &.compact {
            grid-template-columns: 30px 1fr;
        }

        label {
            text-align: left;
            vertical-align: middle;
            padding: 2px 4px 2px 0px;
            font-size: 13px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &.block {
            display: block;

            label {
                display: block; 
            }
        }
    }

    .range-editor-type {
        vertical-align: middle;
        height: 24px;
        .area {
            display: grid; 
            grid-template-columns: 1fr;
            grid-column-gap: 3px;
            font-size: 13px;
            height: 100%;
            
            span {
                padding: 1px;
                
                vertical-align: middle;
            }

            input {
                width: 100%;
                &[type='number'] {
                    border-radius: 3px;
                    &.focused {
                        box-shadow: 0 0 0 1px var(--elf-selected-color);
                    }                
                }                
            }

            select {
                width: 100%;
                color: var(--elf-input-sub-font-color);
            }
        }
    }
}