.select-icon-editor {
    display: grid;
    grid-template-columns: 1fr;

    &.has-label {
        grid-template-columns: 70px 1fr;

        label {
            text-align: left;
            vertical-align: middle;
            padding: 6px 4px 2px 0px;
            font-size: 11px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .items {
        outline: none;
        line-height: 1;
        background-color: transparent;
        height: 24px;
        background-color: var(--elf--select-icon-editor-item-color);
        box-sizing: border-box;
        padding: 2px;
        border-radius: 3px;

        cursor: pointer;
        display:flex;

        &.compact {
            display: inline-block;
            height: 24px;
            background-color: transparent;
            .select-icon-item {
                display: inline-block;
                min-width: 20px;
                line-height: 1;
                height: 100%;

                &[data-value] {
                    margin-top: 0px;
                }
            }
        }

        > .select-icon-item {
            flex: 1 1 10%; 
            text-align: center;
            vertical-align: middle;
            padding: 4px 2px;
            // color: rgb(184, 184, 184);
            border-right: 0px;
            white-space: pre-wrap;
            word-break: break-all;
            overflow: hidden;
            font-size: 10px;
            text-transform: uppercase;
            line-height: 1.4;
            border-radius: 3px;            
            color: var(--elf--selected-font-color);   
            position: relative;         

            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                display: inline-block;
                transform: translate(-50%, -50%);
                width: 16px;
                height: 16px;
                vertical-align: middle;
            }

            &.selected {
                background-color: var(--elf--select-icon-editor-selected-color);
                color: var(--elf--selected-font-color);
            }

            &.icon {
                padding: 3px 2px;
            }

            &[data-value] {
                font-size: 12px;
                // margin-top: -3px;                
            }

            &[data-value=''] {
                max-width: 20px;
            }

            &[data-value='none'] {
                text-transform: none;
                vertical-align: middle;                
            }
            &[data-value='uppercase'] {
                text-transform: uppercase;
                vertical-align: middle;                
            }            
            &[data-value='lowercase'] {
                text-transform: lowercase;
                vertical-align: middle;                
            }         
            &[data-value='capitalize'] {
                text-transform: capitalize;
                vertical-align: middle;                
            }         
            &[data-value='full-width'] {
                text-transform: full-width;
                vertical-align: middle;                
            }                              
            
            &[data-value='underline'] {
                text-decoration: underline;
                vertical-align: middle;                
            }                              
            
            &[data-value='overline'] {
                text-decoration: overline;
                vertical-align: middle;                
            }                              
            
            &[data-value='line-through'] {
                text-decoration: line-through;
                vertical-align: middle;
            }  
            
            &[data-value='normal'] {
                font-style: normal;
                vertical-align: middle;
            }              

            &[data-value='italic'] {
                font-style: italic;
                vertical-align: middle;
            }              
            
            &[data-value='oblique'] {
                font-style: oblique;
                vertical-align: middle;
            }                          
        
        }

    }

    .tools {
        text-align: right;
        vertical-align: middle;
        padding: 4px 0px;
    }
}