.stroke-dasharray-editor {
    padding: 4px 0px;
    .dasharray-item {
        margin-bottom: 3px;   
        display:grid;
        grid-template-columns: 1fr 20px;
        grid-column-gap: 2px;

    }

    > .tools {

        &.has-label {
            display: grid;
            grid-template-columns: 70px 1fr;

            .label {
                text-align: left;
            }
        }

        label {
            color: var(--selected-font-color);
            vertical-align: middle;
            cursor: pointer;
            text-align: left;
        }
    }

}