
$tab-height: 35px;

.feature-control {

    &.inspector {
      position: relative;
      height: 100%;    
      // border-left: 1px solid var(--elf--border-color);;
      color: var(--elf--font-color);
  
      > div {
        position: relative;
        height: 100%;
  
        .empty {
          height: 100px;
        }
      }
    }
  
  
    &.object-list {
      position: relative;
      border-right: 1px solid var(--elf--border-color);;      
      box-sizing: border-box;
      height: 100%;

      .property {
        margin: 0px;
        height: 100%;
        border:0px;
        padding: 0px 0px;
  
        .property-body {
          padding: 0px;
        }
      }
    }

    .layer-tab {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      // right: 50px;
      right: 0px;
  
      .project-content {
        > div {
          position: absolute;
          left: 5px;
          right: 5px;      
          &:first-child {
            top: 0px;
            height: 150px;
          }
    
          &:nth-child(1) {
            top: 0px;
            height: 150px;
          }      
    
          &:not(:first-child) {
            border-top: 1px solid var(--elf--border-color);;
            
          }
    
          &:last-child {
            top: 150px;
            bottom : 0px;
            height: auto !important;
          }
        }
        
      }
  
  
      .object-items {
        width: 100%;
        height: 100%;
  
        > div {
          position: relative;
          height: 100%;
        }
      }
  
      .assets {
        padding: 3px;
        .property {
          height: auto;
        }
      }
  
    }
  }