
.icons-group {
  // padding: 10px;
  display: grid ;
  grid-template-columns: repeat(6, 40px);
  grid-column-gap: 2px;
  grid-row-gap: 2px;        
  max-height: 200px;    
  overflow: auto;


  .icon-item {
    display: inline-block;
    width: 40px;
    margin-bottom: 2px;
    margin-right: 2px;

    .title {

      display: block;
      color: var(--elf--list-item-font-color);
      margin-top: 5px;
      line-height: 1;
      text-align: left;
      word-break: break-all;
      word-wrap: break-word;
    }  
  
    .icon-svg {
      background-color: var(--elf--input-background-color);
      width: 40px;
      height: 40px;
      cursor: pointer;
      color: var(--elf--font-color); 
      border-radius: 4px;
      display: inline-block;
      box-sizing: border-box;
      padding: 8px;
  
      > svg {
        width: 100%;
        height: 100%;
      }
  
      &:hover {
          background-color: var(--elf--list-item-selected-color);
          color: var(--elf--selected-font-color);
      }
    }  


  }
      
}