.layout-main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--header-background-color);  

  &.show-footer {

    .layout-middle {
      .layout-left {
        bottom: $timeline-size - 1px;
      }

      .layout-right {
        bottom: $timeline-size - 1px;
      }
  
      .layout-body {
        bottom: $timeline-size - 1px;
      }
      .layout-footer { 
        height: $timeline-size - 1px;

        .footer-splitter {
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0px;
          height: 4px;
          cursor: ns-resize;
          // background-color: rgba(255, 255, 255, 0.123);
          display: block;
          z-index: 1000000000;
        }        

        .managed-tool {
          > .property-title {
            > .tools {
              display: flex; 
            }
          }
        }
      }
    }

  }

  marker {
    path {
      fill: var(--border-color);
    }
  }

  .layout-top {
    height: $top-size;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;    
    z-index: 10000;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: #000000;
  }

  .layout-middle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: $top-size;
    bottom: $status-bar-height;
    box-sizing: border-box;
    background-color: #141414;
    overflow: hidden;
    
    .layout-header {
      display: none;
      top: 0px;
      left: $left-size;
      right: $right-size;
      height: $tool-size;
      position: absolute;
      background-color: var(--header-background-color);
      color: var(--selected-font-color);
      box-sizing: border-box;
      border-bottom: 1px solid var(--border-color);
    }
  

    > .splitter {
      position: absolute;
      left: $left-size;
      width: 4px;
      top: 0px;
      bottom: 0px;
      cursor: ew-resize;
      transition: background-color 0.05s linear;

      &:hover,
      &.selected {
        background-color: var(--selected-color);
      }

    }

    > button {
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%) translateX(-25%);
      cursor: pointer;
      color: var(--font-color);       
      
      svg {
        transform: scale(1.5);
      }
    }

    > .toggleLeft {
      left: $left-size;
    }

    > .toggleRight {
      right: $right-size;
    }    

    .layout-footer {
      position: absolute;
      left: 0px;
      height: $footer-height;
      bottom: 0px;
      right: 0px;
      overflow: hidden;
      border-top: 1px solid var(--border-color);
      background-color: var(--background-color);
      // transition: $show-timeline-animation;
      z-index: 10000;

      .footer-splitter {
        display: none;
      }

      .managed-tool {
        background-color: var(--background-color);
        padding: 2px 0px;
      }
    }    

    .layout-left {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: $footer-height;
      width: $left-size;
      display: inline-block;
      
      display: flex;
      flex-direction: column;
      // transition: bottom 0.05s linear;
    }

    .layout-right {
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: $footer-height; 
      width: $right-size;
      display: inline-block;
      z-index: 100;
      display: flex;
      flex-direction: column;
      overflow: auto;
      // transition: bottom 0.05s linear;
    }

    .layout-body {
      top: $tool-size;
      left: $left-size;
      right: $right-size;
      bottom: $footer-height;
      position: absolute;
      // transition: bottom 0.05s linear;
    }
  }
}
