
.logo-item {
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    label.logo {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url(./images/icon128.png);
        background-size: contain;
        border-radius: 2px;

        &:after {
            content: attr(title);
            display: block;
            white-space: nowrap;
            padding: 8px 10px;
            margin-left: 20px;
            color: var(--font-color);
            font-size: 14px;
        }
    }
}