
.selection-info-view {
  pointer-events:none;
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;

  .artboard-title {
    position: absolute;
    display: inline-block;
    
    pointer-events: all;
    font-size: 12px;
    color: var(--page-view-element-artboard-title-color);
    transform: translateY(-100%);
  }
}

