
  .status-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: $status-bar-height;
    // overflow: hidden;
    background-color: var(--elf-status-bar-background-color); 
    z-index: 1000; 
    pointer-events: all;
    display: grid;
    grid-template-columns: 40px auto auto;
    
    color: var(--elf-status-bar-font-color); 

    .message-view {
      padding: 5px 5px;
    }

    .tool-view {
      text-align: right;
      padding:5px 5px;
      text-align: right; 

      &.left {
        text-align: left;
      }

      > div {
        display: inline-block;
        background-color: var(--elf-status-bar-item-background-color);
        border-radius: 3px;
        min-width: 50px;
      }
    }    

    .version-view {
      background-color: transparent !important;
      text-align: center;
    }


    .status-selector {
      display: inline-grid; 
      text-align: left;
      grid-template-columns: 50px 1fr;
      padding-left: 5px;

      > label {
        display: inline-block;
        color: var(--elf-selected-font-color);                  
      }

      > .item {
        display: inline-block;

        .select-editor {
          height: 100%;
          width: 50px;
          background-color: var(--elf-background-color);
          color: var(--elf-font-color);          
        }
      }
    }
  }
