$tab-header-height: 34px;
 

$tab-horizontal-header-width: 60px;
$tab-horizontal-header-right-width: 60px;

.tab {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  // background-color: var(--elf--background-color);
  color: var(--elf--font-color);

  &.number-tab { 

    &.padding-5 {
      .tab-content {
        padding: 5px;
      }
    }

    &.padding-10 {
      .tab-content {
        padding: 10px;
      }
    }    

    &.side-tab {
      &.side-tab-left {
        .tab-header {
          position: absolute;
          display: block;
          left: 0px;
          width: $tab-horizontal-header-width;
          top: 0px;
          bottom: 0px;
          height: auto;
          border-right: 1px solid var(--elf--border-color);
          padding: 10px;
          box-sizing: border-box;
          overflow: visible;

          .tab-item {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            position: relative;
            border-radius: 2px;

            &:before {
              display: none;
            }

            &.selected {
              background-color: var(--elf--selected-color);
              color: var(--elf--selected-font-color);              

              label {
                height: auto;
                color: var(--elf--selected-font-color);              

              }
            }

            &.extra-item {
              flex: 1 1 auto;
              overflow: auto;             
            }

            label {
              height: auto;
              padding: 6px 0px;
              svg {
                width: 24px;
                height: 24px;
              }
            }

            .title {
              padding-bottom: 5px;
              font-size: 10px;
              color: var(--elf--font-color);
              display: none; 
            }

          }
        }

        .tab-body {
          left: $tab-horizontal-header-width;
          top: 0px;
          bottom: 0px;
          right: 0px; 
        }
      }
    }

    .tab-header {
      cursor: pointer;
      overflow: hidden;
      color: var(--elf--font-color);
      
    }
    .tab-content {
      display: none;

      &.selected {
        display: block;
      }
    }

    .tab-body {
      top: 34px;
    }

    > .tab-header {
      display: flex;


      &.full {
        display: flex;
      }

      > .tab-item {
        text-align: center;
        position: relative;
        padding: 0px 0px 0px 0px;
        height: 100%;
        background-color: var(--elf--tab-header-background-color);        
        border-bottom: 1px solid var(--elf--border-color);
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

        &.selected {
          background-color: var(--elf--background-color); 
          border-bottom: 1px solid transparent;                   
          border-left: 1px solid var(--elf--border-color);
          border-right: 1px solid var(--elf--border-color);          
          &:before {
            content: '';
            background-color: var(--elf--selected-color);
            height: 2px;
            position: absolute;
            left:0px;
            right: 0px;
            top:0px;
          }

        }

        &.selected,
        &:hover {
          label {
            color: var(--elf--selected-color); 
          }

        }

        label {
          line-height: 24px;
          
          height: 100%;
          display: inline-block;
          vertical-align: middle;
          color: var(--elf--font-color);
          &.icon {
            padding: 6px 10px 2px;
          }

          svg {
            width: 20px;
            height: 20px;
          }
  
        }

        &:first-child {
          &:hover {
            label {
              left: 10px;
            }
          }
        }

        &:last-child {

          &:hover {
            label {
              left: auto;
              right: 10px;
            }
          }
        }

        &:hover {
          label {
            opacity: 1;            

          }
        }

        label {
          display: inline-block;       
          font-size: 11px;
          border-radius: 3px;
          padding: 5px 10px;
          pointer-events: none;
        }
      }
    }

  }

  > .tab-header {
    position: absolute;
    left: 0px;
    right: 0px;
    height: $tab-header-height;

    z-index: 1;
    display: flex;

    &.no-border {
      > .tab-item {
        border: 0px !important;
      }
    }

    > .tab-item {
      flex: 1 1 auto;
      display: inline-block;
      font-size: 12px;
      text-align: left;
      height: 100%;
      padding: 6px 4px;
      cursor: pointer;
      font-weight: bold;      
      
      &.small-font {
        font-size: 11px;
      }

      &.selected {
        // background-color: transparent;
        color: var(--elf--selected-font-color);
      }
    }
  }

  > .tab-body {
    position: absolute;
    left: 0px;
    right: 0px;
    top: $tab-header-height;
    bottom: 0px;

    &.no-border {
      border: 0px;
    }

    > .tab-content {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      display: none;
      overflow: auto;

      &.selected {
        display: block;

        &.flex {
          display: flex;
          flex-direction: column;
        }
      }

      .fixed {
        flex: none;
      }

      .scroll {
        flex: 1 1 auto;
        overflow: auto;
        position: relative;
      }
    }
  }

}
