.animation-selector {
    display: grid;
    grid-template-columns: 100px 1fr 30px;
    grid-column-gap: 5px;
    width: 100%;
    .timeline-object {
        display: inline-block;

        &.selected {
            background-color: var(--elf--selected-color);
            color: var(--elf--selected-font-color);
        }
    }
}

.timeline-value-area {
    position: absolute;
    width: $right-size;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--elf--background-color);
    font-size: 12px;
    
    border-left: 1px solid var(--elf--border-color);
    border-top: 1px solid var(--elf--border-color);

    .timeline-value-editor {

        .tab-content {
            padding: 0px 20px;

            &.padding-zero {
                padding-top: 0px;
            }

            .offset-input {
                padding-top: 20px;

                .input-area {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    width: 120px;
                    height: 24px;

                    > input {
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        padding: 2px 2px;
                    }

                    &:after {
                        position: absolute;
                        bottom: 100%;
                        content: 'Hour:Minute:Second:Frame';
                        box-sizing: border-box;
                        padding-left: 2px;
                        color: var(--elf--input-sub-font-color);
                        left: 0px;
                    }
                }
            }

            .css-property-item {

                > .title {
                    display: none;
                }

                > .title > .tools {
                    display: none;
                }


                > .title-2 {
                    display: block; 
                    text-align: right;

                    label {
                        cursor: pointer;
                    }

                    &:hover {
                        color: var(--elf--selected-color);
                    }

                }

                .background-image-editor {
                    .tools {
                        button {
                            width: 100px;
                            text-align: right;

                            svg {
                                width: 16px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
    
            }
           
            .title {
                color: var(--elf--font-color);
            } 
        }

        .value {
            padding: 5px;
            margin: 0 auto;
            width: 228px;
            display: grid;
            grid-template-columns: 60px 1fr;
            grid-column-gap: 4px;
            label {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .editor-area {
                min-height: 20px;
            }

        }

        .tab-content {
            padding-top: 10px;
        }
    }
}

.timeline-animation-area {
    position: absolute;
    width: $timeline-animation-size;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--elf--background-color);
    font-size: 12px;
    
    border-right: 1px solid var(--elf--border-color);
    border-top: 1px solid var(--elf--border-color);

    .property {
        padding: 0px;
    }

    .property-title {
        height: ($timeline-header-size - 1px) !important;
        padding-bottom: 0px;
        padding-top: 0px;

        label {
            padding-left: 10px;

        }
    }

    .property-body {
        padding: 0px !important;
    }
}

.timeline-area {
    position: absolute;
    left: $timeline-animation-size;
    right: $right-size;
    top: 0px;
    bottom: 0px;
    // background-color: var(--elf--background-color);    
    font-size: 12px;

    .timeline-header {
        position: absolute;
        left: 0px;
        top: 0px;
        height: $timeline-header-size;
        right: 0px;
        
        border-top: 1px solid var(--elf--border-color);

        .timeline-object-toolbar {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: $timeline-property-size;     
            border-right: 1px solid var(--elf--border-color);        
            border-bottom: 1px solid var(--elf--border-color);    
            


            .timeline-top-toolbar {
                padding:10px 5px;
                
                .row {
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    grid-column-gap: 5px;
                    margin-bottom: 2px;

                    label {
                        padding: 2px 2px;
                    }

                    .input {
                        input {
                            min-width: 50px;
                        }
                    }
                }

                .play-buttons {
                    display: flex;

                    @each $selectSpeed in 0.5, 1, 2, 3 {
                        &[data-selected-speed="#{$selectSpeed}"] [data-value="#{$selectSpeed}"] {
                            background-color: var(--elf--selected-color);
                            color: var(--elf--selected-font-color);
                        }
                    }        

                    button {
                        border: 1px solid var(--elf--border-color);
                        min-width: 50px;
                        padding: 2px 10px;
                        height: auto;
                    }
                }
            }
        }

        .timeline-keyframe-toolbar {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: $timeline-property-size;

            .keyframe-time-view {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;

                .time-duration {
                    position: absolute;
                    top: 5px;
                    left: 0px;
                    right: 0px;
                    height: 5px;

                    $back-color: var(--elf--border-color);
                    $handle-color: #ffff00;
             
                    .duration-handle-left {
                        position: absolute;
                        left: 15px;
                        top: 0px;
                        width: 5px;
                        height: 100%;
                        background-color: $back-color;

                    }

                    .duration-handle-right {
                        position: absolute;
                        right: 15px;
                        top: 0px;
                        width: 5px;
                        height: 100%;
                        background-color: $back-color;
                    }                    

                    .duration-slider {
                        position: absolute;
                        left: 10px;
                        top: 0px;
                        right: 10px;
                        height: 100%;
                        background-color: $back-color;
                        

                        .start {
                            position: absolute;
                            left : 0px;
                            top: 0px;
                            transform: translateX(-100%);
                            height: 100%;
                            width: 5px;
                            background-color: var(--elf--timeline-gauge-handle-color);
                            cursor: ew-resize;                            
                        }

                        .end {
                            position: absolute; 
                            left : 100%;
                            top: 0px;
                            height: 100%;
                            width: 5px;
                            background-color: var(--elf--timeline-gauge-handle-color);
                            cursor: ew-resize;
                        }      
                        
                        .gauge {
                            position: absolute;
                            left : 0%;
                            width: 100%; 
                            top: 0px;
                            height: 100%;
                            background-color: var(--elf--timeline-gauge-background-color);
                            cursor: ew-resize;                            
                        }
                    }
                }

                canvas {
                    position: absolute;
                    left: 0px;
                    top: 15px;
                    width: 100%;
                    height: 25px;
                }
            }

        }

    }

    .timeline-body {
        position: absolute;
        left: 0px;
        top: $timeline-header-size;
        bottom: 0px;
        right: 0px;
        
        

        .timeline-object-area {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: $timeline-property-size;
            overflow: auto;
            border-right: 1px solid var(--elf--border-color);
            

            .timeline-object-list {
                .timeline-object {

                    &.collapsed {

                        .timeline-object-row.layer {
                            .icon {
                                svg {
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    
                        .timeline-object-row.layer-property {
                            display: none;
                        }
                    }

                    .timeline-object-row {
                        height: 24px;
                        display: grid; 
                        grid-template-columns: 20px 1fr 50px; 
                        grid-column-gap: 2px;
                        color: var(--elf--font-color);
                        border-bottom: 1px solid var(--elf--border-color);

                        &[data-selected="true"] {
                            background-color: var(--elf--timeline-row-selected-color);
                            color: var(--elf--selected-font-color);
                        }

                        .current-value {
                            vertical-align: middle;
                            padding: 5px 0px;
                            input {
                                width: 100%;
                                vertical-align: middle;
                            }
                        }

                        .icon {
                            padding-top: 5px;
                            svg {
                                width: 16px;
                                height: 16px;
                                transform: rotate(90deg);
                                transition: transform 0.2s ease;
                            }
                        }

                        .title { 
                            vertical-align: middle;
                            padding-top: 5px;
                            cursor: pointer;
                            color: var(--elf--font-color);
                        }

                        .tools {
                            padding-top: 3px;
                            text-align: right;

                            > * {
                                margin-right: 5px;
                            }

                            .empty {
                                margin-right: 0px;
                            }

                        }

                        &.layer-property {
                            overflow: hidden;                            
                            grid-template-columns: 20px 1fr .8fr 50px; 

                            .title {
                                padding-left: 10px;
                            }

                            .tools {
                                button.add {
                                    width: 7px;
                                    height: 7px;
                                    // border-radius: 50%;
                                    display: inline-block;
                                    box-shadow: 0 0 0 1px var(--elf--border-color);
                                    background-color: var(--elf--border-color);
                                    vertical-align: middle;
                                    cursor: pointer;
                                    transform: translateX(-4px) translateY(0px) rotate(45deg);
                                
                                    &:hover {
                                      box-shadow: 0 0 0 2px var(--elf--selected-color);
                                      background-color: var(--elf--selected-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

       

        .keyframe-time-grid-view {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: $timeline-property-size;
            pointer-events: none;

            canvas {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }     
         

        .timeline-keyframe-area {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 270px;
            overflow: auto;            

            .timeline-keyframe-container {
                position: relative;
                min-height: 100%;
                outline: none; 
                .drag-area {
                    position: absolute;
                    border: 1px solid lighten(#3585bd, 20%);
                    background-color: rgba(#3585bd, 0.7);
                    left: -10000px;
                    right: -10000px;
                    width:0px;
                    height:0px;
                    pointer-events: none;
                }
            }

            .timeline-keyframe-list {

                .timeline-keyframe {
                    &.collapsed {
                    
                        .timeline-keyframe-row.layer-property {
                            display: none;
                        }
                    }

                    .timeline-keyframe-row {
                        height: 24px;
                        
                        border-bottom: 1px solid var(--elf--border-color);
                        position: relative;


                        .keyframe {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 10px;
                            background-color: rgba(var(--elf--border-color), 0.5);
                            display: inline-block;

                            .offset {
                                position: absolute;
                                top: 50%;
                                border:1px solid var(--elf--selected-color);
                                display: inline-block;
                                width: 8px;
                                height:8px;

                                background-color: var(--elf--background-color);                                
                                transform: translateY(-50%) translateX(-50%) rotate(45deg);
                                cursor: ew-resize;
                                pointer-events: all;                                

                                &[data-selected='true'] {
                                    background-color: var(--elf--selected-color);
                                    box-shadow: 0 0 0 1px var(--elf--selected-color);
                                }
                            }
                        }                        
                        
                        .keyframe-shadow {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 10px;
                            display: inline-block;

                            .offset {
                                position: absolute;
                                top: 50%;
                                border:1px solid var(--elf--selected-color);
                                display: inline-block;
                                width: 8px;
                                height:8px;
                                // border-radius: 50%;
                                // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50% );
                                background-color: var(--elf--background-color);
                                transform: translateY(-50%) translateX(-50%) rotate(45deg);
                                cursor: ew-resize;
                                // box-shadow: 0 0 0 1px var(--elf--selected-color);     
                                pointer-events: all;

                                &[data-selected='true'] {
                                    background-color: var(--elf--selected-color);
                                    box-shadow: 0 0 0 1px var(--elf--selected-color);
                                }
                            }
                        }

                        .keyframe-back{
                            position: absolute;
                            height: 100%;
                            display: inline-block;                            
                                                        
                            .offset-line {
                                position: absolute;
                                top: 50%;
                                display: inline-block;
                                height: 1px;
                                background-color: var(--elf--selected-color);
                                transform: translateY(-52%);
                                

                            }

                            .sub-offset {
                                position: absolute;
                                top: 50%;
                                display: inline-block;
                                width: 2px;
                                height: 6px;
                                background-color: #0bc4e4;
                                transform: translate(-50%, -50%);
                                
                            }
                        }
                    }
                }
            }
        }

    }

}


.timeline-play-control {
    text-align: left;
    display: grid;
    grid-template-columns: 188px 120px 120px 1fr;
    grid-column-gap: 5px;

    .speed-number {
      position: relative;
      &:after {
        position: absolute;
        right: 14px;
        top: 1px;
        content: 'X';
        display: inline-block;
      }

      input {
        width: 100%;
      }
    }

    label {
      vertical-align: middle;
      padding-right: 10px;
      color: var(--elf--font-color);
      svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }
    }

    .input {
      vertical-align: middle;

      input {
        vertical-align: middle;
        height: 20px;
        width: 100%;
      }
    }

    .row {
      display: flex;
      
      &:first-child{
        text-align: center;
      }
    }

    button {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;

      &.play {
        color: var(--elf--selected-color);
      }

        &.pause {
            display: none;
            color: rgb(102, 119, 216);
        }
    }


    .play-buttons {

      &[data-status='play'] {
        .pause {
          display: inline-block;
        }

        .play {
          display: none; 
        }
      }

      &[data-status='pause'] {
        .play {
          display: inline-block;
        }

      }    
      
    }

    

    .direction-buttons {
      display: flex;
      padding-top: 2px;

      @each $selectDirection in normal, alternate, reverse, alternate-reverse {
          &[data-selected-direction="#{$selectDirection}"] [data-value="#{$selectDirection}"] {
              background-color: var(--elf--selected-background-color);
              color: var(--elf--selected-color); 
          }
      }        

      button {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          border-radius: 3px;
      }
  }

  }

.keyframe-time-control {

    .time-manager {
      display: grid;
      grid-template-columns: 20px 90px 70px 84px 10px;
      grid-column-gap: 0px;


      button {
        color: var(--elf--font-color);

        svg {
            path {
                fill: currentColor;
            }      
        }
      }


      label {
        padding-right:0px;

        color: var(--elf--font-color);
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
    input[type=text] {
      width: 80px;
    }
  
}