[data-tooltip] {
  position: relative;
  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &[data-tooltip-dy] {
    &:after {
      top: 170%;
    }
  }

  &:after {
    pointer-events: none;
    content: attr(data-tooltip);
    display: inline-block;
    text-align: center;
    color: var(--elf--tooltip-font-color);
    font-weight: 400;
    background-color: var(--elf--tooltip-background-color);
    border: 1px solid var(--elf--border-color);
    box-sizing: border-box;
    padding: 4px 5px;
    border-radius: 2px;
    opacity: 0;
    font-size: 11px;
    transition: all 0.1s linear;
    position: absolute;
    line-height: 1.6;    
    right: auto;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
    z-index: 10000000;
    white-space: nowrap;
  }

  &[data-direction="right"] {
    &:after {
      position: absolute;
      left: 120%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &[data-direction="left"] {
    &:after {
      position: absolute;
      right: 120%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &[data-direction="bottom"] {
    &:after {
      position: absolute;
      right: auto;
      left: 50%;
      top: var(--elf--toggle-checkbox-tooltip-bottom-top, 100%);
      transform: translateX(-50%);
    }
  }

  &[data-direction="top"] {
    &:after {
      position: absolute;
      right: auto;
      left: 50%;
      top: var(----elf--toggle-checkbox-tooltip-top, 0%);
      transform: translateX(-50%) translateY(-150%);
    }
  }

  &[data-direction="top left"] {
    &:after {
      position: absolute;
      right: auto;
      left: 0%;
      top: 0%;
      transform: translateY(-150%);
    }
  }

  &[data-direction="top right"] {
    &:after {
      position: absolute;
      right: 0%;
      left: auto;
      top: 0%;
      transform: translateY(-150%);
    }
  }  


  &[data-direction="bottom right"] {
    &:after {
      position: absolute;
      right: 0%;
      left: auto;
      top: 110%;
      transform: translateX(0%);
    }
  }    
}
