
$pointer-color: rgba(#ececec, 0.8);
$tool-size: 50px;
$left-size: 270px;
$left-layer-panel: 70px; 
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 260px;
$timeline-header-size: 40px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$display-flex-color: #01a270;
$display-grid-color: red;
$footer-height: 30px;



// common 
$inner-border-color: #4d4949;
$border-color: rgb(17, 17, 17);
$border-color-2: #737373;
$selected-border-color: #609de2;
$selected-color: #3a89f0;
// $selected-color: #10ece4;
// $selected-color: #efcb05;
// $selected-color: #fbde50;
$selected-color: #fc554f;
// $selected-color: #ff9591;
$logo-selected-color: #fc554f;
$logo-selected-font-color: white;

$background-color: rgb(47, 53, 56);; 
$header-background-color: $background-color;
$selected-background-color: #535353; 
$font-color: #ffffff;
$selected-font-color: rgb(255, 255, 255);

// base 
$button-front-color: $font-color;

$select-background-color: rgb(90, 90, 90);
$select-border-color: rgb(90, 90, 90);
$select-border-radius: 3px;
$select-font-color: $font-color;

$range-thumb-width: 8px;
$range-thumb-height: 8px;
$range-track-height: 1px;
$range-thumb-top: -4px;
// $range-thumb-color:  rgb(243, 243, 243);
$range-thumb-color:  $selected-color;
$range-track-color:  rgb(97, 97, 97);
$range-thumb-border-color: $range-thumb-color;

$input-background-color: rgb(90, 90, 90);
$input-border-color: rgb(90, 90, 90);
$input-border-radius: 3px;
$input-font-color: #ececec;

// property 
$property-title-color:  rgb(43, 43, 43);
$property-border-color: rgb(43, 43, 43);
$property-background-color: $inner-border-color; 
$property-show-background-color: rgb(66, 66, 66); 
$property-font-color: $font-color;
$property-input-border-color: rgb(107, 107, 107);

// list 
$list-font-color: white;
$list-item-font-color: #999;
$list-item-selected-color: #884745; 
$list-item-selected-font-color: white; 
$list-border-color: #676767;
$list-background-color: $border-color;

// tab 
$tab-background-color: rgb(66, 66, 66); 
$tab-header-background-color: #404040; 
$tab-header-font-color: $font-color; 
$tab-font-color: $font-color;
$tab-selected-color: rgb(43, 43, 43); 
$tab-selected-font-color: $selected-font-color;
$tab-selected-border-color: $border-color;
$tab-border-color: $border-color;

// popup 
$popup-background-color: rgb(51, 51, 51); 
$popup-font-color: $font-color;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;

// window 
$window-background-color: rgba(255, 255, 255, 0.5);
$window-color: $background-color;

// cubic-bezier-editor 
$bezier-background-color: white; 
$bezier-sample-background-color: white;


// path guide 
$path-guide-color: rgba(0, 0, 0, 1);

// timeline 
$timeline-background-color: lighten($background-color, 5%);
$timeline-border-color: $border-color;
$timeline-gauge-background-color: #ee4b66;
$timeline-offset-line-color: #ee4b66;
// $timeline-offset-line-color: #497594;
$timeline-row-selected-color: #353535;