
$pointer-color: #4075d6;
$tool-size: 70px;
$left-size: 270px;
$left-layer-panel: 70px; 
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 260px;
$timeline-header-size: 40px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$display-flex-color: #01a270;
$display-grid-color: red;
$footer-height: 30px;



// common 
$inner-border-color: #181818;
$border-color: rgb(17, 17, 17);
$border-color-2: #737373;
$selected-border-color: #609de2;
$selected-color: #3a89f0;
// $selected-color: #10ece4;
// $selected-color: #efcb05;
// $selected-color: #fbde50;
$selected-color: #fc554f;
// $selected-color: #ff9591;
$logo-selected-color: #fc554f;
$logo-selected-font-color: white;

$background-color: #1f2024; 
$header-background-color: #34353a;
$selected-background-color: #535353; 
$font-color: #ffffff;
$selected-font-color: rgb(255, 255, 255);

// base 
$button-front-color: $font-color;

$select-background-color: #1f2024;
$select-border-color: #1f2024;
$select-border-radius: 3px;
$select-font-color: $font-color;

$range-thumb-width: 8px;
$range-thumb-height: 8px;
$range-track-height: 1px;
$range-thumb-top: -4px;
// $range-thumb-color:  rgb(243, 243, 243);
$range-thumb-color:  $selected-color;
$range-track-color:  rgb(97, 97, 97);
$range-thumb-border-color: $range-thumb-color;

$input-background-color: #1f2024;
$input-border-color:#1f2024;
$input-border-radius: 3px;
$input-font-color: #ececec;

// property 
$property-title-color:  #34353a;
$property-border-color: rgba(0, 0, 0, 1);
$property-background-color: #34353a; 
$property-show-background-color: #34353a; 
$property-font-color: $font-color;
$property-input-border-color: rgb(107, 107, 107);

// list 
$list-font-color: white;
$list-item-font-color: #999;
$list-item-selected-color: #435cb5; 
$list-item-selected-font-color: white; 
$list-border-color: #676767;
$list-background-color: $border-color;

// tab 
$tab-background-color: #34353a; 
$tab-header-background-color: $background-color; 
$tab-header-font-color: $font-color; 
$tab-font-color: $font-color;
$tab-selected-color: #34353a; 
$tab-selected-font-color: $selected-font-color;
$tab-selected-border-color: $border-color;
$tab-border-color: $border-color;

// popup 
$popup-background-color: #34353a; 
$popup-font-color: $font-color;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;

// window 
$window-background-color: rgba(255, 255, 255, 0.5);
$window-color: $background-color;

// cubic-bezier-editor 
$bezier-background-color: white; 
$bezier-sample-background-color: white;


// path guide 
$path-background-color: rgba(255, 255, 255, 0.7);
$path-guide-color: rgba(0, 0, 0, 1);

// timeline 
$timeline-background-color: $background-color;
$timeline-border-color: $border-color;
$timeline-gauge-background-color: #ee4b66;
$timeline-offset-line-color: #ee4b66;
// $timeline-offset-line-color: #497594;
$timeline-row-selected-color: rgba(#435cb5, 0.4);


// guide line 
$guide-line-color: $selected-color;
$guide-font-color: black;
$guide-line-rect-color: #435cb5;

$page-view-color: rgba(17, 17, 17, 0.3); 
$page-view-element-artboard-title-color: black;

$animation-item-background-color: #435cb5;
$transition-item-background-color: #435cb5;

// select icon editor 
$select-icon-editor-selected-color: #435cb5;
$select-icon-editor-selected-shadow-color: black;
$select-icon-editor-border-color: black;

$grid-box-editor-button-background-color: #435cb5;