
$item-selected-color: #dbf3ff;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 50px;
$top-size: 100px;
$left-size: 260px;
$left-layer-panel: 70px; 
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 280px;
$timeline-header-size: 0px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$gradient-box-size: 0px;
$display-flex-color: #01a270;
$display-grid-color: red;



// common 
$inner-border-color: #202020;
$border-color: rgb(26, 26, 26);
$border-color-2: #737373;
$selected-border-color: #609de2;
$selected-color: #3e8ec6;
$background-color: #3a3a3a; 
$selected-background-color: #181818; 
$font-color: #ececec;
$selected-font-color: white;

// base 
$button-front-color: $font-color;

$select-background-color: #434b50;
$select-border-color: #0c0c0d;
$select-border-radius: 3px;
$select-font-color: $font-color;

$range-thumb-width: 10px;
$range-thumb-height: 10px;
$range-track-height: 2px;
$range-thumb-top: -4px;
$range-thumb-color:  rgb(243, 243, 243);
$range-track-color:  #3174ad;
$range-thumb-border-color: $range-thumb-color;

$input-background-color: #373e42;
$input-border-color: #0c0c0d;
$input-border-radius: 3px;
$input-font-color: #ececec;

// property 
$property-border-color: $inner-border-color;
$property-background-color: $background-color; 
$property-font-color: $font-color;

// list 
$list-item-selected-color: #4a89b6; 
$list-item-selected-font-color: $selected-font-color; 
$list-border-color: #676767;
$list-background-color: $border-color;

// tab 
$tab-background-color: $background-color; 
$tab-font-color: $font-color;
$tab-selected-color: $selected-color; 
$tab-selected-font-color: #75b6ff;
$tab-selected-border-color: $selected-border-color;
$tab-border-color: $border-color;

// popup 
$popup-background-color: $background-color; 
$popup-font-color: $font-color;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;

// cubic-bezier-editor 
$bezier-background-color: white; 
$bezier-sample-background-color: white;