
$pointer-color: rgba(#ececec, 0.8);
$tool-size: 50px;
$left-size: 270px;
$left-layer-panel: 70px; 
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 260px;
$timeline-header-size: 40px;
$timeline-size: 300px;
$show-timeline-animation: all 0.05s linear;
$display-flex-color: #01a270;
$display-grid-color: red;
$footer-height: 30px;



// common 
$inner-border-color: #181818;
$border-color: rgb(226, 226, 226);
$border-color-2: #609de2;
$selected-border-color: #609de2;
$selected-color: #4778d4;
$logo-selected-color: #fc554f;
$logo-selected-font-color: white;

$background-color: white; 
$header-background-color: white;
$selected-background-color: #d8d8d8; 
$font-color: rgb(97, 97, 97);
$selected-font-color: rgb(255, 255, 255);

// base 
$button-front-color: $font-color;

$select-background-color: white;
$select-border-color: $border-color;
$select-border-radius: 3px;
$select-font-color: $font-color;

$range-thumb-width: 8px;
$range-thumb-height: 8px;
$range-track-height: 1px;
$range-thumb-top: -4px;
$range-thumb-color:  #609de2;
$range-track-color:  rgb(184, 184, 184);
$range-thumb-border-color: $range-thumb-color;

$input-background-color: white;
$input-border-color: $border-color;
$input-border-radius: 3px;
$input-font-color: black;

// property 
$property-title-color:  white;
$property-border-color: $border-color;
$property-background-color: $background-color; 
$property-show-background-color: white; 
$property-font-color: $font-color;
$property-input-border-color: $border-color;

// list 
$list-font-color: black;
$list-item-font-color: black;
$list-item-selected-color: #609de2; 
$list-item-selected-font-color: white; 
$list-border-color: black;
$list-background-color: $border-color;

// tab 
$tab-background-color: $background-color; 
$tab-header-background-color: rgb(238, 238, 238); 
$tab-header-font-color: $font-color; 
$tab-font-color: $font-color;
$tab-selected-color: white; 
$tab-selected-font-color: black;
$tab-selected-border-color: black;
$tab-border-color: $border-color;

// popup 
$popup-background-color: white; 
$popup-font-color: $font-color;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;

// window 
$window-background-color: white;
$window-color: $background-color;

// cubic-bezier-editor 
$bezier-background-color: white; 
$bezier-sample-background-color: white;


// path guide 
$path-background-color: rgba(255, 255, 255, 0.7);
$path-guide-color: rgba(0, 0, 0, 1);

// timeline 
$timeline-background-color: lighten($background-color, 5%);
$timeline-border-color: $border-color;
$timeline-gauge-background-color: #ee4b66;
$timeline-offset-line-color: #ee4b66;
// $timeline-offset-line-color: #497594;
// $timeline-row-selected-color: #353535;


// guide line 
$guide-line-color: $selected-color;
$guide-font-color: black;
$guide-line-rect-color: #36457a;

$page-view-color: rgba(17, 17, 17, 0.1); 
$page-view-element-artboard-title-color: black;

$animation-item-background-color: #435cb5;
$transition-item-background-color: #435cb5;

// select icon editor 
$select-icon-editor-item-color: rgb(192, 192, 192);
$select-icon-editor-selected-color: #609de2;
$select-icon-editor-selected-shadow-color: rgb(153, 153, 153);
$select-icon-editor-border-color: black;

$grid-box-editor-button-background-color: #435cb5;

$status-bar-item-background-color: #101663;
$status-bar-background-color: #609de2;