
$item-selected-color: #dbf3ff;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 50px;
$top-size: 100px;
$left-size: 270px;
$left-layer-panel: 70px;
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 260px;
$timeline-header-size:40px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$gradient-box-size: 0px;
$display-flex-color: #01a270;
$display-grid-color: red;
$footer-height: 30px;


// common 

$inner-border-color: rgb(241, 241, 241);
$border-color: rgb(231, 231, 231);
$border-color-2: #a2a2a2;
$selected-border-color: #dfdfdf;
$selected-color: #4b61ce;
$background-color: rgb(255, 255, 255); 
$header-background-color: #004679;
$selected-background-color: white; 
$font-color: rgb(128, 128, 128);
$selected-font-color: rgb(255, 255, 255);
$logo-selected-color: #7dbbe7;
$logo-selected-font-color: white;

// base 
$button-front-color: $font-color;

$select-background-color:  #ffffff; 
$select-border-color: rgb(226, 226, 226);
$select-border-radius: 0px;
$select-font-color: rgba(0, 0, 0, 1);

$range-thumb-width: 10px;
$range-thumb-height: 10px;
$range-track-height: 1px;
$range-thumb-top: -5px;
$range-thumb-color:  rgb(255, 255, 255);
$range-track-color:  #5a8ebb;
$range-thumb-border-color: $range-track-color;


$input-background-color: #ffffff;
$input-border-color: #b9b9b9;
$input-border-radius: 2px;
$input-font-color: $font-color;

// property 
$property-title-color:  $inner-border-color;
$property-border-color: $inner-border-color;
$property-background-color: $inner-border-color; 
$property-show-background-color: $background-color; 
$property-font-color: $font-color;
$property-input-border-color: $selected-color;

// list 
$list-font-color: white;
$list-item-font-color: #999;
$list-item-selected-color: #4a89b6; 
$list-item-selected-font-color: white; 
// $list-item-selected-font-color: $selected-font-color; 
$list-border-color: lighten($border-color, 0.5);
$list-background-color: white;

// tab 
$tab-background-color: $background-color; 
$tab-header-background-color: #f7fcff; 
$tab-header-font-color: rgb(0, 11, 34); 
$tab-font-color: $font-color;
$tab-selected-color: $selected-color; 
$tab-selected-font-color: $tab-header-font-color;
$tab-selected-border-color: $selected-border-color;
$tab-border-color: $border-color;

// popup 
$popup-background-color: $background-color; 
$popup-font-color: $font-color;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;

// window 
$window-background-color: rgba(darken($background-color, 50%), 0.5);
$window-color: $background-color;

// cubic-bezier-editor 
$bezier-background-color: #01538e; 
$bezier-sample-background-color: black;

// path 
$path-guide-color: $selected-color;

// timeline 
$timeline-background-color: lighten($background-color, 5%);
$timeline-border-color: $border-color;
$timeline-gauge-background-color: rgb(53, 133, 189);
$timeline-offset-line-color: #4987f7;
$timeline-row-selected-color: #eff4ff;
