
$item-selected-color: #dbf3ff;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 50px;
$top-size: 100px;
$left-size: 260px;
$left-layer-panel: 70px;
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 280px;
$timeline-header-size: 0px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$gradient-box-size: 0px;
$display-flex-color: #01a270;
$display-grid-color: red;



// common 

$inner-border-color: rgb(231, 231, 231);
$border-color: rgb(231, 231, 231);
$border-color-2: #a2a2a2;
$selected-border-color: #833602;
$selected-color: #b16b32;
$background-color: white; 
$selected-background-color: white; 
$font-color: rgb(102, 102, 102);
$selected-font-color: white;

// base 
$button-front-color: $font-color;

$select-background-color:  rgb(250, 250, 250); 
$select-border-color: #dbdbdb;
$select-border-radius: 2px;
$select-font-color: $font-color;

$range-thumb-width: 10px;
$range-thumb-height: 10px;
$range-track-height: 2px;
$range-thumb-top: -4px;
$range-thumb-color:  rgb(243, 243, 243);
$range-track-color:  #bb815a;
$range-thumb-border-color: $range-track-color;


$input-background-color: rgb(250, 250, 250);
$input-border-color: #dbdbdb;
$input-border-radius: 2px;
$input-font-color: $font-color;

// property 
$property-border-color: $inner-border-color;
$property-background-color: $background-color; 
$property-font-color: $font-color;

// list 
$list-item-selected-color: #d4926c; 
$list-item-selected-font-color: $selected-font-color; 
$list-border-color: lighten($border-color, 0.5);
$list-background-color: white;

// tab 
$tab-background-color: $background-color; 
$tab-font-color: $font-color;
$tab-selected-color: $selected-color; 
$tab-selected-font-color: $selected-color;
$tab-selected-border-color: $selected-border-color;
$tab-border-color: $border-color;

// popup 
$popup-background-color: $background-color; 
$popup-font-color: $font-color;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;

$window-background-color: rgba(darken($background-color, 50%), 0.5);
$window-color: $background-color;

// cubic-bezier-editor 
$bezier-background-color: #8e3501; 
$bezier-sample-background-color: black;