

// common 
$inner-border-color: #181818;
$border-color: #333333;//rgb(226, 226, 226);
$border-color-2: #609de2;
$selected-border-color: #609de2;
$selected-color: black; //#4778d4;
$logo-selected-color: #fc554f;
$logo-selected-font-color: white;

$background-color: white; 
$header-background-color: white;
$selected-background-color: #d8d8d8; 
$font-color: #333333;
$selected-font-color: rgb(255, 255, 255);

// base 
$button-front-color: $font-color;

$select-background-color: white;
$select-border-color: $border-color;
$select-border-radius: 3px;
$select-font-color: $font-color;

$range-thumb-width: 8px;
$range-thumb-height: 8px;
$range-track-height: 1px;
$range-thumb-top: -4px;
$range-thumb-border-radius: 10px;
$range-thumb-color:  #333333;//#609de2;
$range-track-color:  rgb(207, 207, 207);
$range-thumb-border-color: $range-thumb-color;

$divider-color:  rgb(207, 207, 207);

$input-background-color: white;
$input-border-color: $border-color;
$input-border-radius: 0px;
$input-font-color: black;

// property 
$property-title-color:  white;
$property-border-color: $border-color;
$property-border-top-color: $border-color;
$property-background-color: $background-color; 
$property-show-background-color: white; 
$property-font-color: $font-color;
$property-input-border-color: $border-color;

// list 
$list-font-color: black;
$list-item-font-color: black;
$list-item-selected-color: $border-color; //#609de2; 
$list-item-selected-font-color: white; 
$list-border-color: black;
$list-background-color: $border-color;

// tab 
$tab-background-color: $background-color; 
$tab-header-background-color: rgb(238, 238, 238); 
$tab-header-font-color: $font-color; 
$tab-font-color: $font-color;
$tab-selected-color: white; 
$tab-selected-font-color: black;
$tab-selected-border-color: black;
$tab-border-color: $border-color;

// popup 
$popup-background-color: #f6f6f6; 
$popup-font-color: $font-color;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;

// window 
$window-background-color: white;
$window-color: $background-color;

// cubic-bezier-editor 
$bezier-background-color: white; 
$bezier-sample-background-color: white;


// path guide 
$path-background-color: rgba(255, 255, 255, 0.7);
$path-guide-color: rgb(92, 92, 92);
$path-last-guide-color: $selected-color;
$path-segment-stroke-color: #b7b7b7;
$path-segment-fill-color: #a7a7a7;

// timeline 
$timeline-background-color: lighten($background-color, 5%);
$timeline-border-color: $border-color;
$timeline-gauge-background-color: #435cb5;
$timeline-gauge-handle-color: #748ff1;
$timeline-offset-line-color: $selected-color;
// $timeline-offset-line-color: #497594;
$timeline-row-selected-color: #609de2;


// guide line 
$guide-line-color: $selected-color;
$guide-font-color: black;
$guide-line-rect-color: #36457a;

$page-view-color: rgba(17, 17, 17, 0.1); 
$page-view-element-artboard-title-color: black;

$animation-item-background-color: #435cb5;
$transition-item-background-color: #435cb5;

// select icon editor 
$select-icon-editor-item-color: rgb(192, 192, 192);
$select-icon-editor-selected-color: #333333;//#609de2;
$select-icon-editor-selected-shadow-color: rgb(153, 153, 153);
$select-icon-editor-border-color: black;
$select-icon-editor-font-color: white;

$grid-box-editor-button-background-color: #435cb5;

$status-bar-item-background-color: #4653f6;
$status-bar-background-color: #609de2;

$drag-area-rect-border-color: rgba(62, 168, 255, 0.9);
$drag-area-rect-background-color: rgba(107, 188, 255, 0.5);

$rotate-area-border-color: $selected-color;
$rotate-x-border-color: rgb(100, 58, 199);
$rotate-y-border-color: rgb(139, 223, 139);

// draw view 
$draw-view-background-color: $background-color;
$path-view-background-color: $background-color;

$color-view-background-color: #333333;//#d8d8d8;
$transform-origin-selected-color: $selected-color;
$border-radius-selected-color: $border-color;