.dropdown-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
  box-sizing: border-box;

  // padding: 10px;
  --elf--dropdown-menu-width: 240px;
  --elf--dropdown-menu-dy: 0px;

  .dropdown-menu-item-list {
    border: 1px solid var(--elf--border-color);
    // filter:drop-shadow(0 0 2px white);
  }

  > .label {
    font-size: 13px;
  }

  > .icon {
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 4px;
    padding-left: 8px;
    cursor: pointer;

    &:empty {
      display: none;
    }

    svg {
      width: 24px;
      height: 24px;
      pointer-events: none;

      path {
        stroke-width: 2;
        stroke: transparent;
        fill: none;
      }
    }
  }

  .dropdown-arrow {
    fill: var(--elf--selected-font-color);

    &:hover {
      svg {
        transform: translateY(2px);
      }
    }

    svg {
      width: 14px;
      transition: all 0.1s ease-in-out;
    }
  }

  &[data-selected="true"] {
    background-color: var(--elf--selected-color-2);
  }

  &:hover,
  &.opened {
    &:not([data-selected="true"]) {
      background-color: black;

      .dropdown-arrow {
        svg {
          transform: translateY(2px);
        }
      }
    }
  }

  &.opened > ul {
    display: block;
  }

  &.opened > .dropdown-menu-arrow {
    display: block;
  }

  li {
    display: flex;
    column-gap: 4px;
    padding: 8px;
    position: relative;
    color: var(--elf--font-color);
    cursor: pointer;
    align-items: center;
    justify-content: space-between;

    .icon {
      flex: none;
    }

    .menu-item-text {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      align-items: center;

      > * {
        vertical-align: middle;
        line-height: 1.6;
      }

      .shortcut {
        font-size: 13px;
        // padding-right: 10px;
        padding: 0px 4px;
        border-radius: 2px;
        border: 1px solid var(--elf--border-color);

        &:empty {
          display: none;
        }

      }
    }

    > * {
      text-decoration: none;
      color: var(--elf--font-color);
    }

    &[disabled] {
      // pointer-events: none;
      cursor: not-allowed;
      user-select: none;

      > * {
        pointer-events: none;
        color: var(--elf--disabled-font-color);
      }
    }

    svg {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      color: var(--elf--border-color);

      path,
      use {
        fill: currentColor;
      }
    }

    &.dropdown-divider {
      display: block;
      height: 1px;
      line-height: 0px;
      box-sizing: border-box;
      padding: 0px;
      margin-top: 4px;
      margin-bottom: 4px;
      background-color: var(--elf--layout-border-color);
      // pointer-events: none;

      > * {
        pointer-events: all;
      }
    }

    &.checkbox {
      display: flex;
      align-items: center;
      * {
        vertical-align: middle;
      }
    }

    &.custom {
      display: block;
    }
  }

  &[data-direction="right"] {
    > ul {
      left: auto;
      right: 0px;
    }

    > .dropdown-menu-arrow {
      left: auto;
      right: 50%;
      transform: translateX(50%) scale(1.5);
    }

    .dropdown-menu-list > ul {
      left: calc(-100% - 2px);
    }
  }

  &[data-direction="center"] {
    > ul {
      left: 50%;
      transform: translateX(-50%);
    }

    > .dropdown-menu-arrow {
      left: 50%;
      transform: translateX(-50%) scale(1.5);
    }
  }

  &.flat {
    padding: 0px;
    > ul {
      position: relative;
      width: 100%;
    }
  }

  ul {
    background-color: var(--elf--background-color);
    border: 1px solid var(--elf--border-color);
    display: none;
    left: 0;
    position: absolute;
    top: calc(100% + 5px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: var(--elf--dropdown-menu-width);
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .dropdown-menu-list {
    > ul {
      // display: block;
      top: calc(-11px);
    }
  }

  .dropdown-menu-arrow {
    display: none;
    position: absolute;
    width: 12px;
    height: 6px;
    left: 50%;
    transform: translateX(-50%) scale(1.5);
    top: calc(100% - 6px);
    box-sizing: border-box;
    // background-color: var(--elf--background-color);

    svg {
      width: 8px;
      height: 6px;
      path,
      use {
        fill: var(--elf--background-color);
        stroke: var(--elf--border-color);
      }
    }
  }

  ul ul {
    left: 100%;
    position: absolute;
    top: 0px;
  }

  li {
    &:hover {
      &:not([disabled]):not(.dropdown-divider) {
        background-color: var(--elf--selected-color);
        color: var(--elf--selected-font-color);
        & > span,
        & > div,
        & > label {
          color: var(--elf--selected-font-color);
          > * {
            color: var(--elf--selected-font-color);
            svg {
              color: var(--elf--selected-font-color);
            }
          }
        }

        & > .menu-item-text {
          .shortcut {
            border-color: var(--elf--selected-font-color);
          }
        }
      }

      color: var(--elf--font-color);
    }
  }


  li:hover > ul {
    display: block;
  }
}
