.elf--notification-view {
    display: inline-block;
    position: absolute;
    right:10px;
    top:10px;
    z-index: 10000;

    .item {
        position: relative;
        min-width: 300px;
        border-radius: 4px;
        color: white; 
        margin-bottom: 10px;

        padding: 10px 20px;
        opacity: 1;
        transition: opacity 10s linear; 

        .description {
            padding-top: 10px;
        }

        .icon {
            position: absolute;
            right: 10px;
            top: 10px;
            display: inline-block;

            svg {
                path {
                    fill: currentColor;
                }
            }
        }
        &.alert {
            background-color: rgba(228, 80, 80, 0.87);

            .title {
                font-weight: bold;
                color: white;
            }

            .description {
                color: white;
            }
        }
    }
}