@mixin cross {
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -2px;
    right: -2px;
    top: 50%;
    height: 4px;
    transform: translateY(-50%);
    background-color: white;
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 50%;
    width: 4px;
    transform: translateX(-50%);
    background-color: white;
  }
}

.border-editor {

  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 24px;
    grid-column-gap: 4px;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
  }

  > .editor-area {
    padding: 5px 0px;

    > div {
      margin-top: 5px;
      &:first-child {
        margin-top: 0px;
      }
      > label {
        padding: 2px 0px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0px 0px 2px var(--border-color);
      }

      
    }
  }

  .input-group {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .input-field {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 4px;
    vertical-align: middle;

    input {
      width: 100%;
      vertical-align: middle;
    }

    .input-ui {
      vertical-align: middle;
    }
  }
}

.border-value-editor {
  display: grid;
  grid-template-columns: 2fr 1fr 24px;
  grid-column-gap: 4px;

  label {
    text-align: left;
    vertical-align: middle;
    padding: 6px 4px 2px 0px;
    
    font-size: 11px;    
  }
}

.border-slice-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 2px;

  &.full {
    grid-template-columns: 1fr;
  }


  .slice-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @each $borderRadiusType in all, partitial {
      &[data-selected-value="#{$borderRadiusType}"] {
        button[data-value="#{$borderRadiusType}"] {
          color: white;
          background-color: black;
        }
      }
    }

    button {
      flex: none;
      appearance: none;
      background-color: transparent;
      
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 2px;
      border-radius: 3px;
      cursor: pointer;
      outline: none;
      padding: 0px;
      border: 0px;
      color: var(--border-color);

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .slice-setting-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 2px;

    > div {

      > label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 2px;
        cursor: pointer;
        outline: none;
        // @include cross;
        position: relative;
        margin-top: 2px;
        text-align: right; 

        &.title {
          font-weight: bold;
          text-align: left;           
        }
      }
    }
  }
}


.border-image-item {
  display: grid;
  height: 30px;
  grid-template-columns: 30px 1fr !important;
  grid-column-gap: 5px;
  margin-bottom: 5px;
  text-align: center;
  

  .gradient-info {
    display: grid;
    grid-template-columns: 50px 1fr 28px;

    .tools {
      text-align: right;
    }
  }

  .preview {
    display: grid;
    cursor: pointer;
    padding: 2px;

    .mini-view {
      display: block;
      height: 100%;
      // border: 1px solid var(--border-color);
      
      pointer-events: none;
      border-radius: 100%;
      position: relative;
      @include transparent-background();      
      .color-view {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        border-radius: 100%;
      } 

    }
  }

  .fill-title {
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 4px 0px;
    

    svg {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }

  .colorsteps {
    text-align: left;
    padding: 5px 0px;
    height: 100%;
    

    .step {
      border: 1px solid #333;
      display: inline-block;
      margin-left: -5px;
      width: 16px;
      height: 16px;
      
      border-radius: 100%;
      cursor: pointer;
      position: relative;

      &:first-child {
        margin-left: 0px;
      }

      &[data-selected='true'] {
        &:before {
          content: '';
          position: absolute;
          width: 3px;
          height: 3px;
          display: inline-block;
          left: 50%;
          transform: translateX(-50%) translateY(-5px);
          border-radius: 100%;
          background-color: black; 
        }
      }
    }
  }

  .tools {
    line-height: 2;
  }
}