.code-view-item {
    grid-template-columns: 1fr !important;
    width: 100%;
    > div {
        width: 100%;
        max-width: 100%;

        label {
            padding-left: 10px;
        }

        pre {
            &::before {
                content: attr(title);
                position: absolute;
                display: inline-block;
                background-color: var(--elf--selected-color);
                color: var(--elf--selected-font-color);
                left:0px;
                top:0px;
                padding: 2px 4px;
            }

            white-space: pre-wrap;
            padding:20px 8px;
            user-select: text;
            border: 1px solid var(--elf--border-color);
            position: relative;
            margin-top:0px;
            font-size: 13px;

            strong {
                color: var(--elf--selected-color);
            }
        }
    }
}