.custom-component-items {
    position: relative;

    .custom-component-items-tools {
        height: 20px;
        display: grid;
        grid-template-columns: 1fr 40px;
        grid-column-gap: 10px;
        box-sizing: border-box;
        padding: 0px 0px;

        .title {
            label {
                color: var(--elf--selected-color);
            }
        }

        .tools {
            text-align: right;
        }
    }

    .custom-component-list {
        box-sizing: border-box;
        padding: 10px 0px;        

        .custom-component-preview {
            display: inline-block;
            width: 120px;
            margin: 0px 4px;
            margin-bottom: 10px;
            cursor: pointer;

            .tools {
                display: grid;
                grid-template-columns: 1fr 20px;
                grid-column-gap: 2px;
                padding: 0px 2px 2px;
                box-sizing: border-box;

                .title {
                    text-align: left;
                    vertical-align: middle;                    
                }

                .buttons {
                    text-align: right;
                    vertical-align: middle;
                }
            }

            &:hover {
                background-color: var(--elf--selected-color);
            }
            img {
                width: 100%;
                height: 120px;
                object-fit: contain;
            }
        }
    }
}