.grid-layout-item-property {

    .layout-list {
        
        > [data-value] {
            display: none;

            &.selected {
                display: block;
            }            
        }

        @each $selectType in none, value {
            &[data-selected-value="#{$selectType}"] [data-value="#{$selectType}"] {
                display: block;
            }
        }    

        .value-item {
            margin-top: 5px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 4px;
        }
    }

    
}