@import "./property-view.scss";
@import "./border.scss";
@import "./box-model.scss";
@import "./content.scss";
@import './transition.scss';  
@import './animation.scss';  
@import './keyframe.scss'; 
@import './codeview.scss'; 
@import './clip-path.scss';
@import './selector.scss';
@import './project-list.scss'; 
@import './artboard-list.scss';
@import './layer-list.scss';
@import './color-assets.scss';
@import './gradient-assets.scss';
@import './pattern-assets.scss';
@import './svgfilter-assets.scss';
@import './svgpath-assets.scss';
@import './alignment.scss'; 
@import './image-assets.scss';
@import './video-assets.scss';
@import './timeline-animation-list.scss';
@import './project-info.scss';
@import './artboard-size.scss';
@import './path-data.scss'; 
@import './export.scss';
@import './library.scss';
@import './artboard-items.scss';
@import './shape-inside.scss';
@import './component-items.scss';
@import './layout.scss';
@import './flex-layout-item.scss';
@import './grid-layout-item.scss';
@import './shortcut-items.scss';
@import './video.scss';
@import './history-list.scss';