.library-items {
    padding: 10px;
    .group {


        .title {
            padding: 10px 0px !important;
        }


        .list {
            display: grid ;
            grid-template-columns: repeat(5, 50px);
            grid-column-gap: 2px;
            grid-row-gap: 2px;            
        }

        .library-item {
            background-color: rgba(255, 255, 255, 0.2);
            width: 50px;
            height: 50px;
            cursor: pointer;
            color: var(--font-color); 
            border-radius: 4px;
            margin-bottom: 2px;
            margin-right: 2px;

            &:hover {
                background-color: var(--list-item-selected-color);
            }
        }        
    }

}