.project-list {
    margin: 0px !important;
    .project-item {
        padding: 5px 7px !important; 
        cursor: pointer;

        .detail {
            display: grid;
            grid-template-columns: 1fr 60px;
            grid-column-gap: 3px;

            label {
                padding: 2px 0px;       
                font-size: 12px;   
                cursor: pointer;      
            }


            .tools {
                text-align: right; 
            }
    
        }        

        &.selected {      
            background-color: var(--list-item-selected-color);
            color: var(--selected-font-color);            
        }
    }
}