.background-image-editor {

  .label {
    height: 20px;
    margin-top: 2px;

    &.hide {
      display: none; 
    }
    label {
      font-size: 12px;
      padding-left: 5px;
      vertical-align: middle;
   
    }
  }

  .tools {
      vertical-align: middle;
      text-align: right;
      float:right;
  }

    .fill-list {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 12px;
      
        .fill-item {
          // margin-top: 5px;
          display: grid;
          grid-template-columns: 30px 1fr;
          grid-column-gap: 5px;
          text-align: center;
          box-sizing: border-box;
          padding: 10px 0px 10px 2px;
          &.selected {
            background-color: rgba($border-color, 0.5);
          }
      
          .gradient-info {
            display: grid;
            grid-template-columns: 60px 1fr 20px;
      
            .tools {
              text-align: right;
            }
          }
      
          &[data-fill-type="gradient"] {
            .colorcode,
            .opacity {
              display: none;
            }
      
            .colorsteps {
              display: block;
            }
          }
      
          .preview {
            display: grid;
            cursor: pointer;
      
            .mini-view {
              display: block;
              height: 20px;
              box-sizing: border-box;
              pointer-events: none;
              border-radius: 3px;
              position: relative;
              @include transparent-background();
              .color-view {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                border-radius: 3px;
              } 
            }
          }
      
          .fill-title {
            pointer-events: none;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            box-sizing: border-box;
      
            svg {
              width: 16px;
              height: 16px;
              vertical-align: middle;
            }
          }
      
          .colorcode {
            input {
              width: 100%;
            }
          }
      
          .colorsteps {
            display: none;
            text-align: left;
            height: 100%;
            box-sizing: border-box;
      
            .step {
              border: 1px solid white;
              display: inline-block;
              margin-left: -5px;
              width: 16px;
              height: 16px;
              box-sizing: border-box;
              border-radius: 100%;
              cursor: pointer;
              position: relative;
              overflow: hidden;
              @include transparent-background();

              .color-view {
                position: absolute;
                left:0px;
                top:0px;
                right:0px;
                bottom:0px;
                pointer-events: none;
              }

              &[data-cut='true'] {
                border-radius: 0%;
              }
      
              &:first-child {
                margin-left: 0px;
              }
      
      
              &[data-selected='true'] {
                &:before {
                  content: '';
                  position: absolute;
                  width: 3px;
                  height: 3px;
                  display: inline-block;
                  left: 50%;
                  transform: translateX(-50%) translateY(-5px);
                  border-radius: 100%;
                  background-color: black; 
                }
              }
            }
          }
        }
      }
      
}