
.border-radius-editor {

    .border-radius-item {
      display: grid; 
      grid-template-columns: 80px 1fr;

      &.full {
        grid-template-columns: 1fr;
      }
    }

    .radius-selector {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      @each $borderRadiusType in all, partitial {
        &[data-selected-value="#{$borderRadiusType}"] {
          button[data-value="#{$borderRadiusType}"] {
            background-color: $border-radius-selected-color;
            color: $selected-font-color;
          }
        }
      }

      button {
        margin: 2px;
        width: 20px;
        height: 20px;
        border-radius: 3px;        
      }
    }

    
    .radius-setting-box {
      > div {
        margin-bottom: 5px;
      }
    }
  }
  