
.border-radius-editor {

    .border-radius-item {
      display: grid; 
      grid-template-columns: 62px 1fr;

      &.full {
        grid-template-columns: 1fr;
      }
    }

    .radius-selector {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      @each $borderRadiusType in all, partitial {
        &[data-selected-value="#{$borderRadiusType}"] {
          button[data-value="#{$borderRadiusType}"] {
            background-color: $selected-color;
            background-image: none;
            svg {
              path {
                fill: white;
              }
            }
          }
        }
      }
    }
    
    .radius-setting-box {
      > div {
        margin-bottom: 5px;
      }
    }
  }
  