.color-view-editor {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 5px;
    text-align: center;

    &.has-label {
        grid-template-columns: 60px 40px 1fr;
        grid-column-gap: 5px;

        label {
            text-align: left;
            vertical-align: middle;
            padding: 6px 4px 2px 0px;
            line-height: 1.6;
            
            font-size: 11px;
        }
    }    

    .preview {
        display: inline-block;
        
        vertical-align: middle;
        cursor: pointer;
        text-align: right;
        padding: 3px;
        border-radius: 2px;
        background-color: $color-view-background-color;

        .mini-view {
            width: 100%;
            height: 100%;
            display: inline-block;
            position: relative; 
            
            vertical-align: middle;
            border-radius: 2px;           
            overflow: hidden; 
            @include transparent-background();  
            // box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);

            .color-view {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
            } 

        }
    }

    .color-code {
        vertical-align: middle;
        input {
            width: 100%;
            height: 24px;
            padding: 0px 3px;
            border-radius: 3px;

            &.focused {
                box-shadow: 0 0 0 1px $selected-color;
            }

        }
    }
}