.color-view-editor {
    display: grid;
    height: 24px;
    grid-template-columns: 24px 1fr;
    grid-column-gap: 2px;
    margin-bottom: 5px;
    text-align: center;

    &.is-removable {
        grid-template-columns: 24px 1fr 12px;

        .remove {
            display: inline-block;
        }
    }    

    &.has-label {
        grid-template-columns: 60px 24px 1fr;
        grid-column-gap: 2px;

        &.is-removable {
            grid-template-columns: 60px 24px 1fr 12px;

            .remove {
                display: inline-block;
            }            
        }


        label {
            text-align: left;
            vertical-align: middle;
            padding:2px 4px;
            box-sizing: border-box;
            font-size: 11px;
        }
    }    

    .preview {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
        cursor: pointer;
        text-align: right;

        .mini-view {
            width: 24px;
            height: 24px;
            display: inline-block;
            position: relative; 
            box-sizing: border-box;
            vertical-align: middle;
            // border:1px solid $border-color;
            border-radius: 1px;           
            overflow: hidden; 
            @include transparent-background();  
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);

            .color-view {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
            } 

        }
    }

    .color-code {
        vertical-align: middle;
        input {
            width: 100%;
            height: 100%;
            padding: 0px 3px;
        }
    }

    .remove {
        display: none;
    }
}