.color-view-editor {
    display: grid;
    height: 24px;
    grid-template-columns: 60px auto;
    grid-column-gap: 2px;
    margin-bottom: 5px;
    text-align: center;

    .preview {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
        cursor: pointer;
        text-align: right;

        .mini-view {
            width: 24px;
            height: 24px;
            display: inline-block;
            position: relative; 
            box-sizing: border-box;
            vertical-align: middle;
            // border:1px solid $border-color;
            border-radius: 1px;           
            overflow: hidden; 
            @include transparent-background();  
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);

            .color-view {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
            } 

        }
    }

    .color-code {
        vertical-align: middle;
        input {
            width: 100%;
            height: 100%;
            border-radius: 3px;
            border:1px solid $border-color;
            padding: 0px 5px;
            vertical-align: middle;
        }
    }
}