.css-property-editor {
    margin-top: 10px;
    margin-bottom: 5px;

    display: grid; 
    grid-template-columns:  1fr !important;

    .title {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 2px;

        .tools {
          text-align: right; 
          select {
            width: 130px !important;
            display: inline-block;
          }

          @include svg-button();
        }
    }



    .css-property-list {
      // max-height: 300px;
    }

    .css-property-item {
      box-sizing: border-box;
      padding: 4px 0px;
      margin-top: 2px;

      > .title {
        grid-template-columns: 1fr 30px;
        @include title-background-2();
        border-radius: 3px;
        padding: 3px 5px; 
        margin-bottom: 2px;
      }

      .value-editor {
        // border: 1px solid rgba(0, 0, 0, 0.3);
        padding:2px;
      }

      .tools {

        @include svg-button();


      }
    }    

    .input {
      vertical-align: middle;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;

      &.grid-1 {
        grid-template-columns: 1fr;
      }

      &.grid-2 {
        grid-template-columns: 3fr 1fr;
      }        
    }
}