.css-property-editor {
    margin-top: 10px;
    margin-bottom: 5px;

    display: grid; 
    grid-template-columns:  1fr !important;

    &.hide-title {
      > .title {
        display: none; 
      }

      .css-property-item {
        > .title {
          label {
            display: none; 
          }
        }
      }
    }

    &.hide-refresh {
      .css-property-item {
        .title-2 {
          display: none; 
        } 
      }
    }

    .title {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 2px;

        .tools {
          text-align: right; 
          select {
            width: 130px !important;
            display: inline-block;
          }
        }
    }

    > .title-2 {
      display: none; 
      text-align: right;
    }    

    .css-property-item {
      box-sizing: border-box;

      > .title {
        grid-template-columns: 1fr 30px;
        @include title-background-2($background-color, $selected-color);
        border-radius: 3px;
        padding: 3px 0px; 
        margin-bottom: 2px;
        font-weight: 900;
      }

      .value-editor {
        // border: 1px solid rgba(0, 0, 0, 0.3);
        padding:2px;
      }
    }    

    .input {
      vertical-align: middle;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;

      &.grid-1 {
        grid-template-columns: 1fr;
      }

      &.grid-2 {
        grid-template-columns: 3fr 1fr;
      }        
    }
}