.filter-editor {

  .label {
    height: 20px;
    margin-top: 2px;

    &.hide {
      display: none;
    }
    label {
      font-size: 12px;
      padding-left: 5px;
      vertical-align: middle;
   
    }
  }

  .tools {
      vertical-align: middle;
      text-align: right;
      float:right;

      select {
        width: 100px !important;
        display: inline-block ;
      }

  }

  .filter-list {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr !important;
  
    .filter-item {
      display: block;
      margin-top: 5px;
  
      .title {
        display: grid;
        grid-template-columns: 1fr 30px;
  
        label {
          font-size: 12px;
          padding: 2px 3px;
          box-sizing: border-box;
        }

        .svg-filter-edit {
          cursor: pointer;

          &:before {
            content: 'o';
            text-transform: uppercase;
            padding: 0px 2px;
            border-radius: 3px;
            margin-right: 2px;
            vertical-align: middle;
            background-color: $selected-color;
            color: $selected-font-color;
          }
        }
  
        .filter-menu {
          text-align: right;
        }
      }
  
      .filter-ui {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 5px;
  
        &.drop-shadow {
          grid-template-columns: 50px  1fr;
          grid-column-gap: 1px;
  
          label {
            font-size: 10px;
          }
        }
  
        &.drop-shadow-color {
          grid-template-columns: 50px 1fr;
          grid-column-gap: 2px;
  
          label {
            font-size: 12px;
          }

        }
      }
    }
  }
  
}
