.grid-layout-editor {
    .grid-layout-item {  
        > .label {
            background-color: black;
            padding: 4px 4px;
            border-radius: 3px;
            margin-bottom: 5px;
            // border: 1px solid $selected-color;
        }

        margin-top: 5px;
        margin-bottom: 5px;
    }
}