$border-radius: 3px;
.input-range-editor {
    display: grid;
    grid-template-columns: 1fr;
    height: 24px;
    border-radius: $border-radius;

    &.focused {
        box-shadow: 0 0 0 1px var(--selected-color);
    }

    &.has-label {
        grid-template-columns: 60px 1fr;
        &.is-removable {
            grid-template-columns: 60px 1fr 12px;
        }

        label {
            text-align: left;
            vertical-align: middle;
            padding: 2px 0px 2px 0px;
            font-size: 11px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;            
        }

        &.block {
            display: block;

            label {
                display: block; 
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    &.is-removable {
        grid-template-columns: 1fr 12px;        
        .remove {
            display: inline-block;
        }
    }

    .type-button,
    .remove {
        display: none;        
    }
    
    .range-editor-type {
        vertical-align: middle;
        height: 24px;

        .area {
            font-size: 13px;
            display: grid;
            grid-template-columns: 1fr 30px;
            height: 100%;
            
            span {
                padding: 1px;
                
                vertical-align: middle;
            }

            input,select {
                width: 100%;
            }

            input[type=number] {         
                padding: 2px 2px;      
                border-right: 0px;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }

            .select-editor {

                select {
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;                    
                    background-color: var(--input-background-color);
                    appearance: none;
                    text-align: center;
                    height: 100%;
                    
                    padding: 0px 4px;             
                    border-left:0px;
                    color: #7a7a7a;
                    border-bottom: 1px solid var(--input-border-color);
                    border-top: 1px solid var(--input-border-color);
                    border-right: 1px solid var(--input-border-color);                     
                }
            }
        }

    }
} 