.number-range-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;

    &.has-label {
        grid-template-columns: 60px 1fr;
        grid-column-gap: 2px;
        &.is-removable {
            grid-template-columns: 60px 1fr 20px;
        }

        label {
            text-align: left;
            vertical-align: middle;
            padding:0px 4px;
            box-sizing: border-box;
            font-size: 12px;
        }

        &.block {
            display: block;

            label {
                display: block; 
            }
        }
    }

    &.is-removable {
        grid-template-columns: 1fr 20px;
        .remove {
            display: inline-block;
        }
    }

    .remove {
        display: none;
    }

    .range-editor-type {
        vertical-align: middle;

        .area {
            display: grid; 
            grid-template-columns: 1fr 40px;
            grid-column-gap: 4px;
            font-size: 13px;
            
            span {
                padding: 1px;
                box-sizing: border-box;
                vertical-align: middle;
            }

            input {
                width: 100%;
            }

            select {
                width: 100%;
            }
        }
    }
}