.number-range-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;
    height: 24px;

    &.has-label {
        grid-template-columns: 60px 1fr;
        grid-column-gap: 2px;
        &.is-removable {
            grid-template-columns: 60px 1fr 12px;
        }

        label {
            text-align: left;
            vertical-align: middle;
            padding: 7px 0px 2px 0px;
            
            font-size: 12px;
        }

        &.block {
            display: block;

            label {
                display: block; 
            }
        }
    }

    &.is-removable {
        grid-template-columns: 1fr 12px;
        .remove {
            display: inline-block;
        }
    }

    .remove {
        display: none;
    }

    .range-editor-type {
        vertical-align: middle;
        height: 24px;        

        .area {
            display: grid; 
            grid-template-columns: 1fr 60px;
            grid-column-gap: 3px;
            font-size: 13px;
            height: 100%;
            
            span {
                padding: 1px;
                
                vertical-align: middle;
            }

            input {
                width: 100%;

                &[type='number'] {
                    
                    &.focused {
                        box-shadow: 0 0 0 1px $selected-color;
                        // border-radius: 3px;
                    }                
                }


            }

            select {
                width: 100%;
            }
        }
    }
}