.polygon-data-editor {
    .segment {
        display: grid;
        grid-template-columns: 1fr; 
        grid-column-gap: 2px;
        margin-bottom: 4px;

        .values {
            display: grid; 
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 2px;
            grid-row-gap: 2px;
            text-align: right;

            input {
                width: 80px;
            }

        }
    }
}