$border-radius: 3px;
.range-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;

    &.has-label {
        grid-template-columns: 60px 1fr;
        grid-column-gap: 2px;
        &.is-removable {
            grid-template-columns: 60px 1fr 12px;
        }

        label {
            text-align: left;
            vertical-align: middle;
            padding: 2px 0px 2px 0px;
            box-sizing: border-box;
            font-size: 11px;
        }

        &.block {
            display: block;

            label {
                display: block; 
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    &.has-calc {
        grid-template-columns: 20px 1fr;

        &.is-removable {
            grid-template-columns: 20px 1fr 12px;
        }

        grid-column-gap: 2px;

        .type-button {
            display: inline-block;
        }
    }

    &.is-removable {
        grid-template-columns: 1fr 12px;        
        .remove {
            display: inline-block;
        }
    }

    &.has-calc.has-label {
        grid-template-columns: 60px 20px 1fr;
        grid-column-gap: 2px;

        &.is-removable {
            grid-template-columns: 60px 20px 1fr 12px;
        }

    }

    .type-button,
    .remove {
        display: none;        
    }
    
    .range-editor-type {
        display: none;
        vertical-align: middle;

        .area {
            display: grid; 
            grid-template-columns: 1fr 50px 20px;
            // grid-column-gap: 3px;
            font-size: 13px;
            
            span {
                padding: 1px;
                box-sizing: border-box;
                vertical-align: middle;
            }

            input,select {
                width: 100%;
                background-color: transparent;
                border:0px;
            }

            input[type=range] {
                width: 95%;
            }

            input[type=number] {         
                padding: 2px 2px;      
                border-right: 0px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;                
                background-color: transparent;
                border-bottom: 1px solid $property-border-color;
                border-left: 1px solid $property-border-color;
                border-top: 1px solid $property-border-color;
                text-align: left;
                background-color: $property-title-color;
            }

            .select-editor {
                text-align: right;
                background-color: $property-title-color;   
                position: relative;             
                select {
                    position: absolute;
                    right:0px;
                    display: inline-block;
                    appearance: none;
                    border-left:0px;
                    text-align: center;
                    padding:0px;
                    width:24px;
                    color: rgb(158, 158, 158);
                    box-sizing: border-box;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;  
                    border-bottom-right-radius: 3px;      
                    border-top-right-radius: 3px;
                    background-color: transparent;
                    border-bottom: 1px solid $property-border-color;
                    border-top: 1px solid $property-border-color;
                    border-right: 1px solid $property-border-color; 
                }
            }
        }

        &[data-type='calc'] {
            .area {
                height: 100%;
                grid-template-columns: 60px 1fr;    

                .select-editor {
                    select {
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                        margin-left: 0px;
                    }
                }
            }
        }
    }

    @each $display-type in calc, range {
        &[data-selected-type="#{$display-type}"] {
          .range-editor-type[data-type="#{$display-type}"] {
            display: inline-block;
          }
        }
      }
} 