$border-radius: 3px;
.range-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;
    height: 24px;

    &.has-label {
        grid-template-columns: 80px 1fr;
        grid-column-gap: 2px;
        &.is-removable {
            grid-template-columns: 80px 1fr 12px;
        }

        label {
            text-align: left;
            vertical-align: middle;
            padding: 7px 0px 2px 0px;
            
            font-size: 11px;
        }

        &.block {
            display: block;

            label {
                display: block; 
                color: $font-color;
            }
        }
    }

    &.is-removable {
        grid-template-columns: 1fr 12px;        
        .remove {
            display: inline-block;
            margin-top: 3px;
        }
    }

    .remove {
        display: none;        
    }
    
    .range-editor-type {
        display: grid;
        vertical-align: middle;
        grid-template-columns: 1fr 70px;     
        grid-column-gap: 4px;
        height: 24px;                   

        .area {
            display: grid; 
            grid-template-columns: 1fr 24px;
            // grid-column-gap: 3px;
            font-size: 13px;
            border-radius: $border-radius;
            border: 1px solid transparent;


            &.focused {
                border: 1px solid $selected-color;
                border-radius: $border-radius;
            }            
            
            span {
                padding: 1px;
                
                vertical-align: middle;
            }

            input,select {
                width: 100%;
                background-color: transparent;
                border:0px;
            }

            input[type=range] {
                width: 95%;
            }

            input[type=number] {         
                padding: 2px 2px;      
                border-right: 0px;         
                border-bottom: 1px solid $input-border-color;
                border-left: 1px solid $input-border-color;
                border-top: 1px solid $input-border-color;
                text-align: left;
                background-color: $input-background-color;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }

            .select-editor {
                text-align: right;
                background-color: $input-background-color;   
                position: relative;             
                box-sizing: border-box;          
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;       
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;             

                select {
                    position: absolute;
                    right:0px;
                    display: inline-block;
                    appearance: none;
                    border-left:0px;
                    text-align: center;
                    padding:0px;
                    width:24px;
                    height: 100%;
                    color: #7a7a7a;
                    
                    background-color: transparent;
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;                                        
                    border-bottom: 1px solid $input-border-color;
                    border-top: 1px solid $input-border-color;
                    border-right: 1px solid $input-border-color;                     
                }
            }
        }
    }
} 