.select-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;
    position: relative;
    height: 24px;
    box-sizing: border-box;

    select {
        font-size: 11px;
        border: 1px solid var(--border-color);
        &:focus-within {
            border: 1px solid var(--selected-color);
        }
    }

    &.has-label {
        grid-template-columns: 60px 1fr;
        grid-column-gap: 2px;

        label {
            text-align: left;
            vertical-align: middle;
            padding: 6px 4px 2px 0px;
            font-size: 11px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            
        }

        select {
            width: 100%;
            height: 100%;
        }
    }
}