.select-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;
    position: relative;


    &.has-label {
        grid-template-columns: 60px 1fr;
        grid-column-gap: 2px;

        label {
            text-align: left;
            vertical-align: middle;
            padding:2px 3px;
            font-size: 11px;
            box-sizing: border-box;
        }

        select {
            width: 100%;
        }
    }
}