.select-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;

    &.has-label {
        grid-template-columns: 60px 1fr;
        grid-column-gap: 2px;

        label {
            text-align: left;
            vertical-align: middle;
            padding:2px 3px;
            font-size: 11px;
            box-sizing: border-box;
        }
    }

    select {
        &[data-count="1"],
        &[data-count="0"] {
            appearance: none;
            border:0px;
            border-radius: 0px;
            background-color: transparent;
        }
    }
}