.select-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;
    position: relative;
    height: 24px;

    &.has-label {
        grid-template-columns: 60px 1fr;
        grid-column-gap: 2px;

        label {
            text-align: left;
            vertical-align: middle;
            padding: 2px 4px 2px 0px;
            font-size: 11px;
            
        }

        select {
            width: 100%;
            height: 100%;
        }
    }
}