.stroke-dasharray-editor {
    .dasharray-item {
        margin-bottom: 3px;   

    }


    > .tools {
        label {
            color: $font-color;
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

}