.svg-filter-select-editor {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 16px 16px;
    grid-column-gap: 2px;

    &.has-label {
        grid-template-columns: 60px 1fr 16px 16px;
        grid-column-gap: 2px;

        label {
            text-align: left;
            vertical-align: middle;
            padding: 2px 4px 2px 0px;
            font-size: 11px;
            
        }
    }


    select {
        width: 100%;
    }
}