
.svg-filter-editor {

  color: $font-color;
  display: grid;
  grid-template-columns: 150px 1fr 200px;
  grid-column-gap:10px;
  height: 100%;


  .label {
    height: 20px;
    margin-top: 2px;
    label {
      font-size: 12px;
      padding-left: 5px;
      vertical-align: middle;

    }
  }

  .tools {
      vertical-align: middle;
      text-align: right;
      float:right;

      select {
        width: 100px !important;
        display: inline-block ;
      }
  }

  .left {
    height: 100%;
    position: relative;

    .filter-item-list {
      padding: 10px 5px;
      height: 100%;
      overflow: auto;
      .group {
        margin-bottom: 6px;

        &:before {
          content: attr(label);
          display: block; 
          color: $selected-color;
          font-size: 11px;
        }

        .item {
          padding-left: 10px;
          font-size: 12px;          
          cursor: pointer;
          padding: 2px 10px;
          vertical-align: middle;

          svg {
            vertical-align: middle;
            width: 20px;
            height: 20px;
            path {
              fill: $font-color; 
            }
          }

          &[value="SourceGraphic"],
          &[value="BackgroundImage"], 
          &[value="FillPaint"]
          {
            svg {
              path {
                fill: $selected-color;
              }
            }
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.3);
          }
        }
      }
    }

  }


  $theme-colors: (
    "graphic" : #a6a6ff,
    'source': yellowgreen,
    'modifier': $selected-color,
    'lighting': #e6ff00,
    'combiner': #ff9bff
  );          


  .center {
    position: relative;
    overflow: auto;
    .graph {
      overflow: auto; 
      box-sizing: border-box;
      border: 1px solid $selected-color;
      position: relative;
      height: 540px;

      .connected-line-panel {
        width: 1000px;
        height: 1000px;
        position: absolute;
        left:0px;
        top:0px;

        svg {
          width: 100%;
          height: 100%;


          path {
            fill: transparent;
            stroke: $selected-color;
            stroke-width: 1;
            pointer-events: none;            


            @each $type, $color in $theme-colors {

              &[data-source-type="#{$type}"] {
                stroke: $color; 
              }
            }              
          }          

          circle {
            fill: $selected-color;
            r: 4;
            stroke: rgba($selected-color,  0.5);
            stroke-width:0;
            pointer-events: all;
            cursor: pointer;

            @each $type, $color in $theme-colors {
              &[data-source-type="#{$type}"] {
                fill: $color; 
                stroke: rgba($color,  0.5);              
              }
            }          

            &:hover {
              stroke-width: 4;
            }
          }
        }
      }

      .drag-line-panel {
        width: 1000px;
        height: 1000px;
        position: absolute;
        left:0px;
        top:0px;
        // pointer-events: none;

        svg {
          width: 100%;
          height: 100%;

          path {
            stroke: $selected-color;
            stroke-width: 1;            
          }
        }
      }

      .graph-panel {
        width: 1000px;
        height: 1000px;
        position: relative;
        pointer-events: none; 

        .filter-node {
          display: inline-block;
          position: absolute;
          left: 10px;
          top: 10px;
          width: 40px;
          height: 40px;
          background-color: $background-color; 
          border-radius: 10px;
          pointer-events: all;
          cursor: pointer;

          &[data-type="SourceGraphic"],
          &[data-type="SourceAlpha"],
          &[data-type="BackgroundImage"],
          &[data-type="BackgroundAlpha"],
          &[data-type="FillPaint"],
          &[data-type="StrokePaint"],
          &[data-type="Flood"],
          &[data-type="Turbulence"],
          &[data-type="Image"] {
            border-radius: 0px;
          }

          &[data-type='PointLight'],
          &[data-type='SpotLight'],
          &[data-type='DistantLight'] {
            .out {
              background-color: rgb(248, 229, 121);
              svg {
                display: none; 
              }
            }
          }

          > .label {
            position: absolute;
            bottom: 100%;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
            font-size: 11px;
            color: $font-color;
          }

          > .remove {
            position: absolute;
            top: -6px;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
            font-size: 11px;
            color: $font-color;
            height: 12px;
            width: 12px;
            border-radius: 100%;
            background-color: $selected-color;

            svg {
              width: 100%;
              height: 100%;
              path  {
                fill: $font-color;
              }
            }
          }          

          > .preview {
            height: 100%;
            width: 100%;
            pointer-events: none; 
            position: relative;

            &[data-filter-type='Merge'],
            &[data-filter-type='Composite'] {
              svg {
                transform: translate(-50%, -50%) rotate(90deg);
              }
            }

            @each $type, $color in $theme-colors {
              &[data-source-type="#{$type}"] {
                path {
                  fill: $color; 
                }
              }
            }  
            
            &[data-source-type='lighting'] {
              svg {
                filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
              }
            }

            svg {
              display: block;
              width: 30px;
              height: 30px;
              position: absolute;
              left:50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .in-list {
            position: absolute;            
            top: 50%;
            width: 14px;
            left: -14px;
            transform: translateY(-50%);
            display: inline-block;
          }

          .in {
            width: 14px;
            height: 12px;
            display: block; 
            background-color: rgb(0, 153, 255); 
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            margin: 2px 0px;
            position: relative;

            &:before {
              content:  '';
              position: absolute;
              display: block;
              width: 8px;
              height: 8px;
              background-color: rgba(white, 0.8);
              border-radius: 100%;
              top: 50%;
              left:3px;
              transform: translateY(-50%); 
            }
          }

          .out {
            position: absolute;            
            width: 12px;
            height: 12px;
            right: -12px;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgb(0, 153, 255); 
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
          }    
          
          .light {
            position: absolute;            
            width: 30px;
            height: 15px;
            left: 50%;
            bottom: -15px;
            transform: translateX(-50%);
            background-color: rgb(248, 229, 121); 
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;
          }              
          
          .in,.out {

            svg {
              pointer-events: none;
              width: 14px;
              height: 24px;
              position: absolute;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              
              path {
                fill: white;
              }
            }
          }

          .in {
            svg {
              left:  6px;
            }
          }

          .out {
            svg {
              left: 7px;
            }
          }

          box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.3), 0 0 0 3px #777777;
          &.selected {
            box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.3), 0 0 0 3px $selected-color;
          }
        }
      }

    }
  }

  .right {
    height: 100%;
    overflow: auto; 
    box-sizing: border-box;
  }

  .filter-list {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr !important;
  
    .filter-item {
      display: block;
      
  
      .title {
        display: grid;
        grid-template-columns: 1fr 30px;
        margin-left: -20px;
        color: $selected-color;
        border-radius: 3px;
        margin: 5px 0px;

        label {
          font-size: 12px;
          padding: 2px 0px;
          
        }
  
        .filter-menu {
          text-align: right;

          svg {
            path {
              fill: $selected-font-color;
            }
          }
        }
      }
  
      .filter-ui {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2px;

        > div {
          margin-bottom: 5px;

          .number-range-editor.has-label,
          .select-editor.has-label,
          .text-editor.has-label
          {
            grid-template-columns: 100px 1fr;
          }

          .color-view-editor.has-label
          {
            grid-template-columns: 100px 24px 1fr;
          }          
        }
  
        &.drop-shadow {
          grid-template-columns: 50px  1fr;
          grid-column-gap: 1px;
  
          label {
            font-size: 10px;
          }
        }
  
        &.drop-shadow-color {
          grid-template-columns: 50px 1fr;
          grid-column-gap: 2px;
  
          label {
            font-size: 12px;
          }

        }

        input[type="range"] {
          width: 90%;
        }
      }
    }
  }
  
}
