.svg-property-editor {

  .label {
    height: 20px;
    margin-top: 2px;
    &.hide {
      display: none; 
    }
    label {
      font-size: 12px;
      padding-left: 5px;
      vertical-align: middle;

    }
  }

  .tools {
      vertical-align: middle;
      text-align: right;
      float:right;

      select {
        width: 100px !important;
        display: inline-block ;
      }
  }

  .svg-property-list {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr !important;
  
    .svg-property-item {
      display: block;

      .title {
        padding: 5px 2px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 70px 1fr 30px;
        cursor: pointer;

        .type {
          padding: 3px 5px;
          text-align: center;
          box-sizing: border-box;
          text-transform: uppercase;

          &[data-type="filter"] {
            border-radius: 5px;
            background-color: $selected-color;
          }

          &[data-type="clip-path"] {
            border-radius: 5px;
            background-color: rgba(red, 0.5);            
          }          
        }
  
        label {
          font-size: 12px;
          padding: 2px 5px;
          box-sizing: border-box;
        }
  
        .menu {
          text-align: right;
        }
      }
  
    }
  }
  
}
