
.text-shadow-editor {
  grid-template-columns: 1fr !important;


  .label {
    height: 20px;
    // margin: 5px 0px;
    &.hide {
      display: none;
    }
    label {
      font-size: 12px;
      padding: 2px 6px 2px 0px;
      vertical-align: middle;

    }
  }

  .tools {
      vertical-align: middle;
      text-align: right;
      float:right;

    select {
      width: 100px !important;
      display: inline-block ;
    }
  }


  .shadow-item {
    height: 20px;
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-column-gap: 5px;
    text-align: center;
    margin-top: 5px;

    &.desc {
      color: $font-color;
      .color {
        visibility: hidden;
      }
    }
    .color {
      cursor: pointer;
      height: 20px;
      border: 1px solid $border-color;
      // border-radius: 100%;
      position: relative;
      @include transparent-background();
      
      .color-view {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        // border-radius: 100%;
      }       
    }

    .offset-x,
    .offset-y,
    .blur-radius,
    .inset {
      
      padding: 4px 0px;
    }

    .tools {
      text-align: right;
    }
  }
}
