
.transform-origin-editor {

    .transform-origin-item {
      display: grid; 
      grid-template-columns: 62px 1fr;

      &.full {
        grid-template-columns: 1fr;
      }
    }

    .radius-selector {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
  
      @each $borderRadiusType in all, partitial {
        &[data-selected-value="#{$borderRadiusType}"] {
          button[data-value="#{$borderRadiusType}"] {
            background-color: $selected-color;
            svg {
              path {
                fill: $selected-font-color;
              }
            }
          }
        }
      }
  
      button {
        background-image: none;
      }
    }

    .radius-setting-box {
      margin-top: 5px;
      > div {
        margin-bottom: 5px;
      }
    }
    
  }
  