.transform-editor {

  .label {
    height: 20px;
    margin-top: 2px;

    &.hide {
      display: none; 
    }

    label {
      font-size: 12px;
      padding-left: 5px;
      vertical-align: middle;

    }
  }

  .tools {
      vertical-align: middle;
      text-align: right;
      float:right;

      select {
        width: 100px !important;
        display: inline-block ;
      }
  }

  .transform-list {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr !important;
  
    .transform-item {
      display: block;
      // margin-top: 5px;
  
      .title {
        display: grid;
        grid-template-columns: 60px 1fr 18px;
        color: $font-color;
        border-radius: 3px;
        margin: 3px 0px;        
  
        label {
          font-size: 12px;
          padding: 6px 5px;
          cursor: move;          
          color: $font-color;
          vertical-align: middle;
          display: inline-block;          

            span {
              font-weight: bold;
              border-radius: 3px;
              padding: 0px;
              display: inline-block;
              min-width: 10px;
              vertical-align: middle;
              
            }
        }
  
        .transform-menu {
          text-align: right;
          padding: 5px 0px;
        }
      }
  
      .transform-ui {
        display: block;
        margin-bottom: 2px;
        margin-top: 2px;

        .scale > div {
          margin-bottom: 5px;
        }

        pre {
          margin-top: 3px;
          margin-bottom: 3px;
        }

        .translate3d {
          display: grid; 
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 5px;
          padding: 0px 2px;
        }

        .matrix {
          display: grid; 
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 5px;
          padding: 0px 2px;
        }

        .matrix3d {
          display: grid; 
          grid-template-columns: repeat(4, 1fr);
          grid-column-gap: 5px;
          padding: 0px 2px;
        }
  
        input[type="range"] {
          width: 90%;
        }
      }
    }
  }
  
}
