.transform-editor {

  .label {
    height: 20px;
    margin-top: 2px;
    label {
      font-size: 12px;
      padding-left: 5px;
      vertical-align: middle;

    }
  }

  .tools {
      vertical-align: middle;
      text-align: right;
      float:right;

      select {
        width: 100px !important;
        display: inline-block ;
      }

      @include svg-button();
  }

  .transform-list {
    display: grid !important;
    grid-template-columns: 1fr !important;
  
    .transform-item {
      display: block;
  
      .title {
        display: grid;
        grid-template-columns: 1fr 30px;
  
        label {
          font-size: 12px;
          padding: 2px 5px;
          box-sizing: border-box;

            span {
              font-weight: bold;
              background-color: blue;
              color: white;
              border-radius: 3px;
              padding: 0px;
              display: inline-block;
              min-width: 20px;
              text-align: center;
              vertical-align: middle;
              
            }
        }
  
        .transform-menu {
          text-align: right;

          @include svg-button();
        }
      }
  
      .transform-ui {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2px;
  
        input[type="range"] {
          width: 90%;
        }
      }
    }
  }
  
}
