
.colorsets {
    border-top: 1px solid #e2e2e2;

    > .menu {
        float: right;
        padding: 10px 5px;
        padding-right: 15px;

        button {
            border:0px;
            font-weight: 300;
            font-family: serif, sans-serif;
            outline:none;
            cursor: pointer;
        }
    }

    > .color-list {
        margin-right: 30px;
        display: block;
        padding: 10px 0px 0px 10px;
        box-sizing:border-box;
        line-height: 0;

        .color-item {
            width: 13px;
            height: 13px;
            border-radius:2px;
            display:inline-block;
            margin-right:12px;
            margin-bottom:12px;
            position:relative;
            background-size: contain;
            overflow:hidden; 
            box-sizing:border-box;
            cursor: pointer;
            vertical-align: middle;

            &:hover {
                transform: scale(1.2);
            }

            .empty {
                position: absolute;
                left:0px;
                top:0px;
                @include transparent-background();
                width: 100%;
                height: 100%;
                padding: 0px;
                margin: 0px;
                pointer-events: none;
                background-color: white;
            }

            .color-view {
                position: absolute;
                left:0px;
                top:0px;                
                width: 100%;
                height: 100%;
                padding:0px;
                margin:0px;
                pointer-events: none;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;                
            }
        }

        .add-color-item {
            width: 13px;
            height: 13px;
            display:inline-block;
            margin-right:12px;
            margin-bottom:12px;
            cursor: pointer;
            line-height: 1;
            text-align: center;
            font-weight: 400;
            font-family: serif,sans-serif;
            color: rgb(142, 142, 142);
            vertical-align: middle;
        }
    }

    
}