.color-chooser {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    opacity: 0; 
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.05s ease-out;  
    pointer-events: none;

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .color-chooser-container {
        position: absolute;
        top: 120px;
        left:0px;
        right:0px;
        bottom:0px;
        background-color: white; 

        .colorsets-item-header {
            position: absolute;
            top:0px;
            left:0px;
            right:0px;
            height: 34px;
            display:flex;
            padding: 3px 0px;      
            box-sizing: border-box;       
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);                

            .title {
                flex: 2; 
                font-weight: bold;
                font-size: 15px;
                box-sizing: border-box;
                margin-right: 30px;
                vertical-align: middle;
                margin: 0px;
                padding: 5px;
                padding-left:14px;                
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;     
                color:#000;
                text-align: left;               
            }

            .items {
                flex:1; 
                text-align: right;
                padding-right: 10px;
                display:block;
                height: 100%;
                line-height: 2;    
                cursor:pointer;                   
            }
        }

        .colorsets-list {
            position: absolute;
            top: 34px;
            left:0px;
            right:0px;
            bottom:0px;
            overflow: auto;
    
            .colorsets-item {
                cursor: pointer;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }

                .title {
                    flex:2;                
                    font-size: 14px;
                    box-sizing: border-box;
                    margin-right: 30px;
                    vertical-align: middle;
                    pointer-events: none;                    
                    margin: 0px;
                    padding: 5px;
                    padding-left:14px;
                    font-weight: normal;
                    font-size: 13px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color:#000;
                    text-align: left;
                }
    
                .items {
                    flex:3;
                    display:block;
                    height: 100%;
                    line-height: 1.6;    
                    cursor:pointer;    
                    pointer-events: none;                    
                    
                    .color-item {
                        width: 13px;
                        height: 13px;
                        border-radius:3px;
                        display:inline-block;
                        margin-right:10px;
                        @include transparent-background();
                        background-size: contain;
                        border: 1px solid rgba(221, 221, 221, 1);
                        overflow:hidden;
                        box-sizing:border-box;
                        cursor: pointer;
                        vertical-align: middle;
    
                        .color-view {
                            width: 100%;
                            height: 100%;
                            padding:0px;
                            margin:0px;
                            pointer-events: none;
                        }
                    }
                }
    
                display:flex;
                padding: 3px 0px; 
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
                
            }
    
        }
    }

    
}