.elf--path-manager {
    display: none; 
    pointer-events: all;
    outline: none;
    border-top: 0px;
    color: var(--elf--font-color);
    background-color: var(--elf--background-color);
    height: 100%;
    padding: 7px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    .text {
        display: inline-block;
    }


    .split {
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        width: 3px;
        margin-right: 2px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    .tools {
        height: 100%;        
        display: inline-block;

        @each $modeType in modify, path, draw, transform {
            &[data-selected-value="#{$modeType}"] {
              button[data-value="#{$modeType}"] {
                color: var(--elf--selected-color);
              }
            }
        }

        button {
            font-size: 13px;
            margin: 0 2px;
            text-decoration: underline;
            width: auto;
            height: auto;
            vertical-align: middle;
            white-space: nowrap;
            display: inline-block;
            box-sizing: border-box;
            width: 34px;
            height: 34px;

            &[data-value='flipY']  {
                transform: rotate(90deg);
            }

            &[data-value='flip']  {
              transform: rotate(45deg);
            }

            svg {
                width: 20px;
                height: 20px;

                path {
                    stroke-width: 1;
                    stroke: var(--elf--background-color);
                }
            }
        }

        > div {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          padding: 5px 0px;

          label {
            text-align: right;
            padding: 3px 2px;
            line-height: 20px;
            width: auto;
          }

          .number-input-editor {
            display: inline-block;

            .range--editor-type {
              display: inline-block;

              input[type=number] {
                background-color: var(--elf--border-color);
              }
            }
          }

          .fill-single-editor {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;

            label {
              font-size: 13px !important;
              vertical-align: middle;
            }
            .preview {
              width: 18px;
              height: 18px;
              border: 1px solid var(--elf--selected-color);
              overflow: hidden;
            }
          }
        }
    }

    > * {
        vertical-align: middle;
    }

}