.elf--toggle-button {
    width: 24px;
    height: 24px;

    &.has-label {
        grid-template-columns: 70px 1fr;
        grid-column-gap: 2px;

        label {
            text-align: left;
            vertical-align: middle;
            padding: 7px 0px 2px 0px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;            
        }
    }

    .area {
        display: block; 
        height: 100%;
        position: relative;
        background-color: var(--elf--input-inactive-color);
        // border-radius: 4px;
        // padding: 2px;

        > div {
            width: 100%;
            height: 100%;
            display: none; 
            position: relative;
            // border-radius: 4px;            

            &.visible {
                display: inline-block;
            }

            &.checked {
                background-color: var(--elf--selected-color-2);             
                color: var(--elf--selected-font-color);                                      
            }
        }

        button {
            color: var(--elf--input-font-color);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            z-index: 1;

            &.checked {
                font-weight: bold;
                color: var(--elf--selected-font-color);                     
            }

            svg {
                width: 20px;
                height: 20px;


            }
        }
    }
}