$background-color: #f3f3f3;
$border-color: #cccccc;
$selected-border-color: #609de2;
$selected-color: #cccccc;
$item-selected-color: #dbf3ff;
$font-color: black;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 50px;
$top-size: 100px;
$left-size: 260px;
$left-layer-panel: 70px;
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 280px;
$timeline-header-size: 0px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$gradient-box-size: 0px;
$layer-toolbar-height: 0px;
$display-flex-color: #01a270;
$display-grid-color: red;