
$item-selected-color: #dbf3ff;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 50px;
$top-size: 100px;
$left-size: 260px;
$left-layer-panel: 70px;
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 280px;
$timeline-header-size: 0px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$gradient-box-size: 0px;
$layer-toolbar-height: 0px;
$display-flex-color: #01a270;
$display-grid-color: red;



// common 
$border-color: #000;
$selected-border-color: #609de2;
$selected-color: #3e8ec6;
$background-color: #383838; 
$font-color: #ececec;

// property 
$property-border-color: #525252;
$property-background-color: $background-color; 
$property-font-color: $font-color;

// tab 
$tab-background-color: $background-color; 
$tab-font-color: $font-color;
$tab-selected-color: $selected-color; 
$tab-selected-border-color: $selected-border-color;
$tab-border-color: $border-color;

// popup 
$popup-background-color: $background-color; 
$popup-font-color: $font-color;
$popup-selected-color: $selected-color; 
$popup-border-color: $border-color;