html,body {
    font-size: 13px;
    padding:0px;
    margin:0px;
    overflow: hidden;
    box-sizing: border-box;    
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.csseditor {
    width: 100%;
    height: 100%;
    user-select: none;
    position: fixed;
    left:0px;
    top: 0px; 

    &[data-theme='dark'] {
        @import './themes/csseditor/dark.scss';

        @import './csseditor/component.scss';
        @import './csseditor/layout.scss';        
    }

    &[data-theme='light'] {
        @import './themes/csseditor/light.scss';

        @import './csseditor/component.scss';
        @import './csseditor/layout.scss';        
    }    

    &[data-theme='red'] {
        @import './themes/csseditor/red.scss';

        @import './csseditor/component.scss';
        @import './csseditor/layout.scss';        
    }        

    &[data-theme='orange'] {
        @import './themes/csseditor/orange.scss';

        @import './csseditor/component.scss';
        @import './csseditor/layout.scss';        
    }            

}
 