html,body {
    font-size: 13px;
    padding:0px;
    margin:0px;
    overflow: hidden;
    box-sizing: border-box;    
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    &.ua-window {
        .scrollbar {
            
            &::-webkit-scrollbar {
                width: 5px;
                height: 8px;
                background-color: #aaa;
                /* or add it to the track */
            }
        
            &::-webkit-scrollbar-thumb {
                background: #000;
            }
        
        }
    }
}

.csseditor {
    width: 100%;
    height: 100%;
    user-select: none;
    position: fixed;
    left:0px;
    top: 0px; 


    @import './themes/csseditor/dark.scss';

    @import './csseditor/component.scss';
    @import './csseditor/layout.scss';        

    
    

}
 