
$pointer-color: #4075d6;
$top-size: 50px;
$tool-size: 0px;
$left-size: 340px;
$left-layer-panel: 70px; 
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 260px;
$timeline-animation-size: 200px;
$timeline-property-size: 270px;
$timeline-header-size: 40px;
$timeline-size: 300px;
$show-timeline-animation: all 0.05s linear;
$footer-height: 30px; 
$status-bar-height: 30px;
// base 
$range-thumb-width: 12px;
$range-thumb-height: 12px;
$range-track-height: 2px;
$range-thumb-top: -5px; 
$range-thumb-border-radius: 20px; 

.designeditor {
    font-size: 13px;
    padding:0px;
    margin:0px;
    // overflow: hidden;
    box-sizing: border-box;    
    font-family: sans-serif;
    position: absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top: 0px;

    &:root {
        --color-accent-100: #003eb2;
        --color-accent-200: #0055cc;
        --color-accent-300: #0074f0;
        --color-accent-400: #0f8fff;
        --color-accent-500: #14a9ff;
        --color-accent-600: #4cc3ff;
        --color-accent-700: #85dcff;
        --color-accent-800: #c2f0ff;
        --color-accent-900: #e5faff;
        --color-neutral-1000: #ffffff;
        --color-neutral-950: #ededed;
        --color-neutral-900: #d9d9d9;
        --color-neutral-800: #b2b2b2;
        --color-neutral-700: #999999;
        --color-neutral-600: #808080;
        --color-neutral-500: #595959;
        --color-neutral-400: #454545;
        --color-neutral-300: #363636;
        --color-neutral-200: #262626;
        --color-neutral-100: #121212;
        --color-purple-400: #9e53f8;
        --color-purple-500: #b067f9;
        --color-purple-600: #c57ffa;
        --color-success: #32a94c;
        --color-success-light: #4cc366;
        --color-success-dark: #199033;
        --color-danger: #bf2626;
        --color-danger-light: #e14747;
        --color-danger-dark: #a22020;
        --color-warning-light: #ffc107;
        --color-warning-dark: #ff9966;
        --color-warning-light01: #ffdb66;
        --color-logo-blue: #2873de;
        --color-logo-purple: #b33bdd;
        --color-logo-orange-red: #ff5c5c;
        --font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
        --font-size-info: 11px;
        --font-size-default: 12px;
        --font-size-heading: 14px;
        --font-size-title: 24px;
        --line-height: 1.33333;
        --border-radius: 4px;
        --border-radius-discrete: 2px;
        --outline-color: #f2f2f2;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
    }

    &.ua-window {
        .scrollbar {
            
            &::-webkit-scrollbar {
                width: 5px;
                height: 8px;
                background-color: #aaa;
                /* or add it to the track */
            }
        
            &::-webkit-scrollbar-thumb {
                background: #000;
            }
        
        }
    }

    --elf--editor-ruler-size: 20px;

    &[data-theme='dark'] {
        @import './themes/designeditor/dark.scss'; 
        --elf--range-thumb-color: #{$range-thumb-color};
        --elf--range-track-color: #{$range-track-color};
        --elf--range-thumb-border-color: #{$range-thumb-border-color};
        --elf--input-background-color: #{$input-background-color};
        --elf--input-border-color: #{$input-border-color};       
        --elf--input-font-color: #{$input-font-color};         
        --elf--input-sub-font-color: #{$input-sub-font-color};
        --elf--input-height: #{$input-height};
        --elf--input-font-size: #{$input-font-size};
        --elf--border-color: #{$border-color};
        --elf--selection-tool-border-color: #{$selection-tool-border-color};        
        --elf--selected-color: #{$selected-color};
        --elf--selected-color-2: #{$selected-color-2};        
        --elf--selected-border-color: #{$selected-border-color};
        --elf--background-color: #{$background-color};      
        --elf--header-background-color: #{$header-background-color};  
        --elf--selected-background-color: #{$selected-background-color};
        --elf--font-color: #{$font-color};
        --elf--disabled-font-color: #{$disabled-font-color};
        --elf--menu-item-title-font-color: #{$menu-item-title-font-color};
        --elf--selected-font-color: #{$selected-font-color};
        --elf--divider-color: #{$divider-color};
        --elf--property-border-color: #{$property-border-color};
        --elf--property-title-background-color: #{$property-title-background-color};
        --elf--property-background-color: #{$property-background-color};        
        --elf--list-item-font-color: #{$list-item-font-color};
        --elf--list-item-selected-color: #{$list-item-selected-color};
        --elf--list-item-disable-font-color: #{$list-item-disable-font-color};
        --elf--popup-background-color: #{$popup-background-color};
        --elf--window-background-color: #{$window-background-color};
        --elf--path-background-color: #{$path-background-color};
        --elf--path-guide-color: #{$path-guide-color};
        --elf--path-segment-stroke-color: #{$path-segment-stroke-color};
        --elf--timeline-gauge-background-color: #{$timeline-gauge-background-color};
        --elf--timeline-gauge-handle-color: #{$timeline-gauge-handle-color};
        --elf--timeline-row-selected-color: #{$timeline-row-selected-color};
        --elf--timeline-property-add-background-color: #{$timeline-property-add-background-color};        
        --elf--guide-line-color: #{$guide-line-color};                
        --elf--guide-font-color: #{$guide-font-color};
        --elf--guide-line-rect-color: #{$guide-line-rect-color};
        --elf--canvas-background-color: #{$canvas-background-color};
        --elf--animation-item-background-color: #{$animation-item-background-color};
        --elf--grid-box-editor-button-background-color: #{$grid-box-editor-button-background-color};       
        --elf--drag-area-rect-border-color: #{$drag-area-rect-border-color};
        --elf--drag-area-rect-background-color: #{$drag-area-rect-background-color};
        --elf--rotate-x-border-color: #{$rotate-x-border-color};
        --elf--rotate-y-border-color: #{$rotate-y-border-color}; 
        --elf--tooltip-background-color: #{$tooltip-background-color};
        --elf--tooltip-font-color: #{$tooltip-font-color};     
        --elf--tab-header-background-color: #{$tab-header-background-color};            
    }    

    &[data-theme='light'] {
        @import './themes/designeditor/light.scss';
        --elf--range-thumb-color: #{$range-thumb-color};
        --elf--range-track-color: #{$range-track-color};
        --elf--range-thumb-border-color: #{$range-thumb-border-color};        
        --elf--input-background-color: #{$input-background-color};
        --elf--input-border-color: #{$input-border-color};       
        --elf--input-font-color: #{$input-font-color};         
        --elf--input-sub-font-color: #{$input-sub-font-color}; 
        --elf--input-height: #{$input-height};     
        --elf--input-font-size: #{$input-font-size};                  
        --elf--border-color: #{$border-color};
        --elf--selection-tool-border-color: #{$selection-tool-border-color};                
        --elf--selected-color: #{$selected-color};   
        --elf--selected-color-2: #{$selected-color-2};                
        --elf--selected-border-color: #{$selected-border-color};
        --elf--background-color: #{$background-color};      
        --elf--header-background-color: #{$header-background-color};  
        --elf--selected-background-color: #{$selected-background-color};
        --elf--font-color: #{$font-color};
        --elf--disabled-font-color: #{$disabled-font-color};        
        --elf--menu-item-title-font-color: #{$menu-item-title-font-color};        
        --elf--selected-font-color: #{$selected-font-color};
        --elf--divider-color: #{$divider-color};
        --elf--property-border-color: #{$property-border-color};
        --elf--property-title-background-color: #{$property-title-background-color};        
        --elf--property-background-color: #{$property-background-color};
        --elf--list-item-font-color: #{$list-item-font-color};
        --elf--list-item-selected-color: #{$list-item-selected-color};
        --elf--list-item-disable-font-color: #{$list-item-disable-font-color};        
        --elf--popup-background-color: #{$popup-background-color};
        --elf--window-background-color: #{$window-background-color};
        --elf--path-background-color: #{$path-background-color};
        --elf--path-guide-color: #{$path-guide-color};
        --elf--path-segment-stroke-color: #{$path-segment-stroke-color};
        --elf--timeline-gauge-background-color: #{$timeline-gauge-background-color};
        --elf--timeline-gauge-handle-color: #{$timeline-gauge-handle-color};
        --elf--timeline-row-selected-color: #{$timeline-row-selected-color};
        --elf--timeline-property-add-background-color: #{$timeline-property-add-background-color};        
        --elf--guide-line-color: #{$guide-line-color};                
        --elf--guide-font-color: #{$guide-font-color};
        --elf--guide-line-rect-color: #{$guide-line-rect-color};
        --elf--canvas-background-color: #{$canvas-background-color};
        --elf--animation-item-background-color: #{$animation-item-background-color};
        --elf--grid-box-editor-button-background-color: #{$grid-box-editor-button-background-color};          
        --elf--drag-area-rect-border-color: #{$drag-area-rect-border-color};
        --elf--drag-area-rect-background-color: #{$drag-area-rect-background-color};
        --elf--rotate-x-border-color: #{$rotate-x-border-color};
        --elf--rotate-y-border-color: #{$rotate-y-border-color};
        --elf--tooltip-background-color: #{$tooltip-background-color};
        --elf--tooltip-font-color: #{$tooltip-font-color};      
        --elf--tab-header-background-color: #{$tab-header-background-color};
    }    
}

.designeditor {
    width: 100%;
    height: 100%;
    user-select: none;
    position: absolute;
    left:0px;
    top: 0px; 

    [contenteditable] {
        user-select: text;
    }    
   
    @import './designeditor/component.scss';  

    @import './designeditor/button.scss';
    @import './designeditor/range-ui.scss';
    @import "./designeditor/colorpicker-ui.scss";
    @import './designeditor/icons-group.scss';
    @import './designeditor/tooltip.scss';
    
    // timeline 
    @import './designeditor/timeline.scss';
    
    @import './designeditor/logo.scss';
    @import './designeditor/feature-control.scss';
    
}
 