
$pointer-color: #4075d6;
$top-size: 50px;
$tool-size: 0px;
$left-size: 340px;
$left-layer-panel: 70px; 
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 260px;
$timeline-animation-size: 200px;
$timeline-property-size: 270px;
$timeline-header-size: 40px;
$timeline-size: 300px;
$show-timeline-animation: all 0.05s linear;
$footer-height: 30px; 
$status-bar-height: 30px;
// base 
$range-thumb-width: 12px;
$range-thumb-height: 12px;
$range-track-height: 2px;
$range-thumb-top: -5px; 
$range-thumb-border-radius: 20px; 

.designeditor {
    font-size: 13px;
    padding:0px;
    margin:0px;
    // overflow: hidden;
    box-sizing: border-box;    
    font-family: sans-serif;
    position: absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top: 0px;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
    }

    &.ua-window {
        .scrollbar {
            
            &::-webkit-scrollbar {
                width: 5px;
                height: 8px;
                background-color: #aaa;
                /* or add it to the track */
            }
        
            &::-webkit-scrollbar-thumb {
                background: #000;
            }
        
        }
    }


    &[data-theme='dark'] {
        @import './themes/designeditor/dark.scss'; 
        --elf-range-thumb-color: #{$range-thumb-color};
        --elf-range-track-color: #{$range-track-color};
        --elf-range-thumb-border-color: #{$range-thumb-border-color};
        --elf-input-background-color: #{$input-background-color};
        --elf-input-border-color: #{$input-border-color};       
        --elf-input-font-color: #{$input-font-color};         
        --elf-input-sub-font-color: #{$input-sub-font-color};
        --elf-border-color: #{$border-color};
        --elf-selection-tool-border-color: #{$selection-tool-border-color};        
        --elf-selected-color: #{$selected-color};
        --elf-selected-color-2: #{$selected-color-2};        
        --elf-selected-border-color: #{$selected-border-color};
        --elf-background-color: #{$background-color};      
        --elf-header-background-color: #{$header-background-color};  
        --elf-selected-background-color: #{$selected-background-color};
        --elf-font-color: #{$font-color};
        --elf-menu-item-title-font-color: #{$menu-item-title-font-color};
        --elf-selected-font-color: #{$selected-font-color};
        --elf-divider-color: #{$divider-color};
        --elf-property-border-color: #{$property-border-color};
        --elf-property-title-background-color: #{$property-title-background-color};
        --elf-property-background-color: #{$property-background-color};        
        --elf-list-item-font-color: #{$list-item-font-color};
        --elf-list-item-selected-color: #{$list-item-selected-color};
        --elf-list-item-disable-font-color: #{$list-item-disable-font-color};
        --elf-popup-background-color: #{$popup-background-color};
        --elf-window-background-color: #{$window-background-color};
        --elf-path-background-color: #{$path-background-color};
        --elf-path-guide-color: #{$path-guide-color};
        --elf-path-segment-stroke-color: #{$path-segment-stroke-color};
        --elf-timeline-gauge-background-color: #{$timeline-gauge-background-color};
        --elf-timeline-gauge-handle-color: #{$timeline-gauge-handle-color};
        --elf-timeline-row-selected-color: #{$timeline-row-selected-color};
        --elf-timeline-property-add-background-color: #{$timeline-property-add-background-color};        
        --elf-guide-line-color: #{$guide-line-color};                
        --elf-guide-font-color: #{$guide-font-color};
        --elf-guide-line-rect-color: #{$guide-line-rect-color};
        --elf-page-view-color: #{$page-view-color};
        --elf-page-view-element-artboard-title-color: #{$page-view-element-artboard-title-color};
        --elf-animation-item-background-color: #{$animation-item-background-color};
        --elf-select-icon-editor-item-color: #{$select-icon-editor-item-color};
        --elf-select-icon-editor-selected-color: #{$select-icon-editor-selected-color};
        --elf-grid-box-editor-button-background-color: #{$grid-box-editor-button-background-color};
        --elf-status-bar-item-background-color: #{$status-bar-item-background-color};
        --elf-status-bar-background-color: #{$status-bar-background-color};
        --elf-drag-area-rect-border-color: #{$drag-area-rect-border-color};
        --elf-drag-area-rect-background-color: #{$drag-area-rect-background-color};
        --elf-rotate-x-border-color: #{$rotate-x-border-color};
        --elf-rotate-y-border-color: #{$rotate-y-border-color};
        --elf-color-view-background-color: #{$color-view-background-color};
        --elf-transform-origin-selected-color: #{$transform-origin-selected-color};
        --elf-border-radius-selected-color: #{$border-radius-selected-color};    
        --elf-transform-item-background-color: #{$transform-item-background-color};
        --elf-transform-item-border-color: #{$transform-item-border-color};
        --elf-tooltip-background-color: #{$tooltip-background-color};
        --elf-tooltip-font-color: #{$tooltip-font-color};        
    }   

    &[data-theme='light'] {
        @import './themes/designeditor/light.scss';
        --elf-range-thumb-color: #{$range-thumb-color};
        --elf-range-track-color: #{$range-track-color};
        --elf-range-thumb-border-color: #{$range-thumb-border-color};        
        --elf-input-background-color: #{$input-background-color};
        --elf-input-border-color: #{$input-border-color};       
        --elf-input-font-color: #{$input-font-color};         
        --elf-input-sub-font-color: #{$input-sub-font-color};        
        --elf-border-color: #{$border-color};
        --elf-selection-tool-border-color: #{$selection-tool-border-color};                
        --elf-selected-color: #{$selected-color};   
        --elf-selected-color-2: #{$selected-color-2};                
        --elf-selected-border-color: #{$selected-border-color};
        --elf-background-color: #{$background-color};      
        --elf-header-background-color: #{$header-background-color};  
        --elf-selected-background-color: #{$selected-background-color};
        --elf-font-color: #{$font-color};
        --elf-menu-item-title-font-color: #{$menu-item-title-font-color};        
        --elf-selected-font-color: #{$selected-font-color};
        --elf-divider-color: #{$divider-color};
        --elf-property-border-color: #{$property-border-color};
        --elf-property-title-background-color: #{$property-title-background-color};        
        --elf-property-background-color: #{$property-background-color};
        --elf-list-item-font-color: #{$list-item-font-color};
        --elf-list-item-selected-color: #{$list-item-selected-color};
        --elf-list-item-disable-font-color: #{$list-item-disable-font-color};        
        --elf-popup-background-color: #{$popup-background-color};
        --elf-window-background-color: #{$window-background-color};
        --elf-path-background-color: #{$path-background-color};
        --elf-path-guide-color: #{$path-guide-color};
        --elf-path-segment-stroke-color: #{$path-segment-stroke-color};
        --elf-timeline-gauge-background-color: #{$timeline-gauge-background-color};
        --elf-timeline-gauge-handle-color: #{$timeline-gauge-handle-color};
        --elf-timeline-row-selected-color: #{$timeline-row-selected-color};
        --elf-timeline-property-add-background-color: #{$timeline-property-add-background-color};        
        --elf-guide-line-color: #{$guide-line-color};                
        --elf-guide-font-color: #{$guide-font-color};
        --elf-guide-line-rect-color: #{$guide-line-rect-color};
        --elf-page-view-color: #{$page-view-color};
        --elf-page-view-element-artboard-title-color: #{$page-view-element-artboard-title-color};
        --elf-animation-item-background-color: #{$animation-item-background-color};
        --elf-select-icon-editor-item-color: #{$select-icon-editor-item-color};
        --elf-select-icon-editor-selected-color: #{$select-icon-editor-selected-color};
        --elf-grid-box-editor-button-background-color: #{$grid-box-editor-button-background-color};
        --elf-status-bar-item-background-color: #{$status-bar-item-background-color};
        --elf-status-bar-background-color: #{$status-bar-background-color};
        --elf-drag-area-rect-border-color: #{$drag-area-rect-border-color};
        --elf-drag-area-rect-background-color: #{$drag-area-rect-background-color};
        --elf-rotate-x-border-color: #{$rotate-x-border-color};
        --elf-rotate-y-border-color: #{$rotate-y-border-color};
        --elf-color-view-background-color: #{$color-view-background-color};
        --elf-transform-origin-selected-color: #{$transform-origin-selected-color};
        --elf-border-radius-selected-color: #{$border-radius-selected-color};    
        --elf-transform-item-background-color: #{$transform-item-background-color};
        --elf-transform-item-border-color: #{$transform-item-border-color};      
        --elf-tooltip-background-color: #{$tooltip-background-color};
        --elf-tooltip-font-color: #{$tooltip-font-color};                               
    }    
}

.designeditor {
    width: 100%;
    height: 100%;
    user-select: none;
    position: absolute;
    left:0px;
    top: 0px; 

    [contenteditable] {
        user-select: text;
    }    
   
    @import './designeditor/component.scss';
    @import './designeditor/layout.scss';     
    @import './designeditor/tool-bar.scss'; 

    @import './designeditor/range-ui.scss';
    @import "./designeditor/tab-ui.scss";
    @import "./designeditor/colorpicker-ui.scss";
    @import "./designeditor/tool-menu.scss";
    @import "./designeditor/view.scss";
    @import './designeditor/selection-view.scss';
    @import './designeditor/hover-view.scss';
    @import './designeditor/selection-info-view.scss';    
    @import './designeditor/icons-group.scss';
    @import './designeditor/tooltip.scss';
    
    // property 
    @import './designeditor/property/index.scss'; 
    
    // editor 
    @import './designeditor/editor/index.scss';
    
    // popup 
    @import "./designeditor/popup/popup.scss";
    @import './designeditor/window/window.scss';
    
    @import './designeditor/path-editor-view.scss';
    @import './designeditor/path-draw-view.scss';
    @import './designeditor/brush-draw-view.scss';
    @import './designeditor/layer-add-view.scss';
    
    // timeline 
    @import './designeditor/timeline.scss';
    
    @import './designeditor/logo.scss';
    @import './designeditor/status-bar.scss';
    @import './designeditor/feature-control.scss';
    @import './designeditor/notification-view.scss';        
    
}
 