@mixin transparent-background ($pixel: 10px) {

    $half: $pixel / 2; 

    background-color: transparent;
    background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%),
      linear-gradient(-45deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size:$pixel $pixel;
    background-position: 0 0, 0 $half, $half (-1 * $half), (-1 * $half) 0px;
}

@mixin svg-button ($pixel: 16px, $display: inline-block) {
    button {
        width: $pixel;
        height: $pixel;
        vertical-align: middle;
        appearance: none;
        background-color: transparent;
        outline: none;
        padding: 0px;
        border:0px;
        display: $display;
        font-size: 11px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
        
    }
}

@mixin svg-button-inline ($width: 16px, $height: auto, $display: inline-block) {
    button {
        width: $width;
        height: $height;
        vertical-align: middle;
        appearance: none;
        background-color: transparent;
        outline: none;
        padding: 0px;
        border:0px;
        display: $display;
        font-size: 11px;
        cursor: pointer;

        svg {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
        }
        
    }
}

@mixin hue-background () {
    background-image: linear-gradient(
        to right,
        rgba($selected-border-color, 0.5) 0%,
        $selected-border-color 50%,
        #ff00ff 83%,
        blue 100%
      );

}

@mixin title-background () {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $selected-color 10%, rgba($selected-color, 0) 60%);
    // border-left: 2px solid $selected-border-color;
    color: white; 

    svg {
        path {
            fill: white; 
        }
    }
}


@mixin title-background-2 ($background-color: $selected-color, $font-color: $selected-font-color) {
    background-color: $background-color;
    // border-left: 2px solid $selected-border-color;
    color: $font-color; 

    svg {
        path {
            fill: $font-color; 
        }
    }
}

@mixin tab-title-background () {
    background-color: rgba($selected-border-color, 0.05);    
}



// @mixin title-background-2 () { 
//     background-image: linear-gradient(
//         to right,
//         #d1d1ff,
//         rgba(255, 255, 255, 0.282)
//       );

// }

@mixin arrow_top ($pixel, $color) {
    width: 0; 
    height: 0; 
    border-left: $pixel solid transparent;
    border-right: $pixel solid transparent;    
    border-bottom: $pixel solid $color;
    pointer-events: none;
}

@mixin arrow_bottom ($pixel, $color) {
    width: 0; 
    height: 0; 
    border-left: $pixel solid transparent;
    border-right: $pixel solid transparent;    
    border-top: $pixel solid $color;
    pointer-events: none;
}

@mixin input-style ($background-color: #434b50, $border-color: #0c0c0d, $border-radius: 3px, $fontColor: #ececec) {
    background-color: $background-color;
    // box-shadow: 0 1px 0 0 hsla(0,0%,100%,.05), inset 0 1px 0 0 hsla(0,0%,100%,.05);
    border: 1px solid $border-color;
    border-radius: $border-radius;       
    color: $fontColor; 
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
}

@mixin select-style ($background-color: #434b50, $border-color: #0c0c0d, $border-radius: 3px, $fontColor: #ececec) {
    appearance: none;
    outline: none;
    padding: 0px 4px;
    line-height: 1.6;
    cursor: pointer;

    @include input-style($background-color, $border-color, $border-radius, $fontColor);
}
 

@mixin input-text-style ($background-color: #373e42, $border-color: #0c0c0d, $border-radius: 3px, $fontColor: #ececec) {
    background-color: $background-color;
    // background-color: rgb(75, 75, 75);
    // box-shadow: 0 1px 0 0 hsla(0,0%,100%,.05), inset 0 1px 0 0 hsla(0,0%,100%,.05);
    border: 1px solid $border-color;
    border-radius: $border-radius;       
    color: $fontColor; 
    outline: none;
    box-sizing: border-box;
}


@mixin button-style ($frontColor: #ececec) {

    border-width: 0px;
    // border-style: solid;
    // border-color: #1d1e20 #111213 #0c0c0d;
    // border-radius: 3px;       
    color: $frontColor; 
    width: 16px;
    height: 16px;
    vertical-align: middle;
    appearance: none;
    background-color: transparent;
    outline: none;
    display: inline-block;
    cursor: pointer;
    padding: 0px;

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: $frontColor;
        }
    }
}

$align-center-color: rgb(85, 85, 85);
$align-main-color: rgb(21, 118, 228);
$align-sub-color: rgb(224, 224, 224);

@mixin background-image-generator ($active-color: $align-main-color) {
    background-image: linear-gradient(to right, $active-color, $active-color),
                        linear-gradient(to right, $align-sub-color, $align-sub-color),
                        linear-gradient(to right, $align-center-color, $align-center-color);
    background-repeat: no-repeat;
}

@mixin background-image-generator-2 ($active-color: $align-main-color) {
    background-image: linear-gradient(to right, $active-color, $active-color),
                        linear-gradient(to right, $align-center-color, $align-center-color),
                        linear-gradient(to right, $align-sub-color, $align-sub-color);                        
    background-repeat: no-repeat;
}