.elf--body-panel {
    
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;

    &:not(.ruler) {
    > .elf--page-container {
        left: 0px !important;
        top: 0px !important;
    }
    }

}