.elf--body-panel {
    
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;

    .submenu-area {
        display: inline-block;
        position: absolute;
        height: 40px;
        top: 40px;
        left: 50%;
        box-sizing: border-box;
        z-index: 2;
        transform: translateX(-50%);
    }

    .editing-area {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;

        > .canvas-layout {
            position: absolute;
            left: var(--elf--editor-ruler-size);
            top: var(--elf--editor-ruler-size);            
            right: 0px;
            bottom: 0px;
            overflow: hidden;
        }
    }

    &:not(.ruler) {
        > .editing-area > .canvas-layout {
            left: 0px;
            top: 0px;
        }
    }

}