.gradient-picker {
  
  width: 432px;
  
  display: grid;
  grid-template-columns: 1fr 224px; 
  grid-column-gap: 10px;
  margin-left:5px;

  > .box {
    > .colorpicker {
      display: block; 
    }

    > .assetpicker {
      display: none; 
      min-height: 310px;
    }
  }

  &[data-selected-editor='image-resource'] {
    > .box {
      > .colorpicker {
        display: none; 
      }

      > .assetpicker {
        display: block; 
      }      
    }
  }

  .popup-item {
    margin-bottom: 5px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 60px 1fr;

    label {
      font-size: 11px;
      padding-right: 2px;
      text-align: left;
    }
  }

  label {
    font-size: 11px;
  }

  .colorpicker {
    box-shadow: none;
    border-radius: 0px;
    border:0px;
    background-color: transparent;

    .color-panel {
      margin-top: 0px;
    }

    input {
      color: var(--font-color) !important;
      text-transform: uppercase;
      border:0px !important;
      border:1px solid rgba(221, 221, 221, 0.4) !important;      
    }

    .title {
      color: var(--font-color) !important;
    }

    .colorsets {
      border-top: 0px solid var(--border-color) !important;
    }
  }

  .assetpicker {
    background-color: rgba(230, 230, 230, 0.1);    
    .image-asset-picker {
      width: 100%;
      height: 100%;      
      overflow: auto;      
      .image-list {


        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2px;

        .image-item {
          margin-bottom: 2px;
          background-color: rgba(var(--font-color), 0.5);
          .preview {
            position: relative;
            width:100%;
            height: 80px;
            border: 1px solid var(--border-color);
            border-radius: 2px;
            
            cursor: pointer;
            object-fit: contain;
            text-align: center;
            
            img {
                border:0px;
                max-width:100%; max-height:100%;
                vertical-align:middle;                        
            }

          }
        }
      }
    }
  }
}
