.gradient-picker {
  
  width: 432px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 224px; 
  grid-column-gap: 10px;

  .popup-item {
    margin-bottom: 5px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 60px 1fr;

    label {
      font-size: 11px;
      padding-right: 2px;
      text-align: left;
    }
  }

  label {
    font-size: 11px;
  }

  .codemirror-colorpicker {
    box-shadow: none;
    border-radius: 0px;
    border:0px;
    background-color: $background-color;

    .color-panel {
      margin-top: 0px;
    }

    input {
      color: $font-color !important;
      text-transform: uppercase;
      border:0px !important;
    }

    .title {
      color: $font-color !important;
    }

    .colorsets {
      border-top: 0px solid $border-color !important;
    }
  }
}
