.gradient-picker {
  
  width: 432px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 224px; 
  grid-column-gap: 4px;

  .popup-item {
    margin-bottom: 5px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 60px 1fr;

    label {
      font-size: 11px;
      padding-right: 2px;
      text-align: left;
    }
  }

  label {
    font-size: 11px;
  }

  .gradient-preview {
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 3px;
    overflow: hidden;
    @include transparent-background();

    .gradient-view {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
  }

  .picker-tab {
    .picker-tab-list {
      text-align: center;
      padding: 2px 5px;

      @each $imageType in static-gradient, linear-gradient,
        repeating-linear-gradient, radial-gradient, repeating-radial-gradient,
        conic-gradient, repeating-conic-gradient, image
      {
        &[data-value="#{$imageType}"]
          .picker-tab-item[data-selected-value="#{$imageType}"] {
          background-color: $selected-color;
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
          .icon {
            svg {
              path {
                fill: rgba(0, 0, 255, 0.5);
              }
            }
          }
        }
      }

      &[data-is-image-hidden="true"] {
        .picker-tab-item[data-selected-value='image'] {
          display: none;
        }
      }

      .picker-tab-item {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        width: 20px;
        box-sizing: border-box;
        // border: 1px solid $border-color;
        cursor: pointer;
        position: relative;
        border-radius: 20%;

        .icon {
          pointer-events: none;
          border-radius: 100%;
          display: inline-block;
          width: 90%;
          height: 90%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);

          svg {
            width: 100%;
            height: 100%;
          }
        }

        &[data-selected-value="static-gradient"] .icon {
          background-image: linear-gradient(to right, red, red);
        }

        &[data-selected-value="linear-gradient"] .icon {
          background-image: linear-gradient(to right, black, gray);
        }

        &[data-selected-value="radial-gradient"] .icon {
          background-image: radial-gradient(closest-side, black, #ebf8e1, gray);
        }

        &[data-selected-value="conic-gradient"] .icon {
          background-image: conic-gradient(black, #ebf8e1);
        }

        &[data-selected-value="repeating-linear-gradient"] .icon {
          background-image: repeating-linear-gradient(
            45deg,
            #3f87a6,
            #ebf8e1 15%,
            #f69d3c 20%
          );
        }

        &[data-selected-value="repeating-radial-gradient"] .icon {
          background-image: repeating-radial-gradient(
            circle,
            #3f87a6,
            #ebf8e1 15%,
            #f69d3c 20%
          );
        }

        &[data-selected-value="repeating-conic-gradient"] .icon {
          background-image: repeating-conic-gradient(
            #3f87a6,
            #ebf8e1 5%,
            #f69d3c 10%
          );
        }
      }
    }

    .picker-gradient-selector {
      padding: 2px 10px;
      .gradient-steps {
        position: relative;
        display: block;
        height: 30px;

        .hue-container {
          width: 100%;
          height: 14px;
          position: absolute;
          z-index: 0;
          @include transparent-background();
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
        }

        .hue {
          position: relative;
          padding: 0px;
          margin: 0px;
          cursor: pointer;

          > .step-list {
            position: relative;
            width: 100%;
            cursor: copy;
            height: 14px;
            z-index: 1;

            &.mode-drag {
              cursor: pointer;
            }
          }

          .drag-bar {
            border: 0px;
            background-color: transparent;
            border: 2px solid white;
            box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.6);
            width: 10px;
            height: 10px;
            transform: none;
            border-radius: 50%;
            display: inline-block;
            left: 0px;
            top: 17px;
            transform: translateX(-50%);
            position: absolute;
            background-color: rgba(white, 0.8);
            cursor: pointer;
            transition: top 0.3s ease-out;

            .guide-line {
              pointer-events: none;
              position: absolute;
              width: 1px;
              height: 0px;
              bottom: 8px;
              left: 3px;
              transform: translateX(-1px);
              transition: all 0.3s ease-out;
            }

            &.selected {
              z-index: 1;
              top: 30px;
              .guide-line {
                height: 17px;
              }

              .guide-change {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
   
  .codemirror-colorpicker {
    box-shadow: none;
    border-radius: 0px;
    border:0px;
    background-color: $background-color;

    .color-panel {
      margin-top: 0px;
    }

    input {
      color: $font-color !important;
      text-transform: uppercase;
      border:0px !important;
    }

    .title {
      color: $font-color !important;
    }

    .colorsets {
      border-top: 0px solid $border-color !important;
    }
  }
}
