
  .svg-property-editor-popup {

    width: 900px;
    height: 550px;

    display: grid;
    grid-template-columns: 1fr; 
    // grid-column-gap: 10px;

    .box {
      margin-bottom: 10px;

      > div {
        height: 100%;
      }

      .property {
        .title {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-column-gap: 2px;

          .tools {
            text-align: right; 
            select {
              width: 100px;
              display: inline-block;
            }
          }
        }


      }

      label {
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
      }

      input[type='range'],
      input[type='number'],
      input[type='text'],
      select {
        width: 100%;
        vertical-align: middle;
      }
    }
  }
