
  .svg-property-editor-popup {

    width: 250px;

    .box {
      margin-bottom: 10px;
      &.preview {
        height: 150px;

        .preview-box {
          height: 100%;
          box-sizing: border-box;
          margin: 30px 20px;
          border:1px solid $border-color;
          background-image: radial-gradient(yellow 0%, red 100%);
        }
      }

      .property {
        .title {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-column-gap: 2px;

          .tools {
            text-align: right; 
            select {
              width: 100px;
              display: inline-block;
            }
          }
        }


      }

      label {
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
      }

      input[type='range'],
      input[type='number'],
      input[type='text'],
      select {
        width: 100%;
        vertical-align: middle;
      }

      .input {
        vertical-align: middle;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        &.grid-1 {
          grid-template-columns: 1fr;
        }

        &.grid-2 {
          grid-template-columns: 3fr 1fr;
        }        
      }
    }
  }
