
  .svg-property-editor-popup {

    width: 700px;
    height: 500px;

    display: grid;
    grid-template-columns: 250px 1fr; 
    grid-column-gap: 10px;

    .box {
      margin-bottom: 10px;
      &.preview {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid $selected-color;

        .preview-box {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height: 200px;
          box-sizing: border-box;
          background-image: radial-gradient(yellow 0%, red 100%);
        }
      }

      .property {
        .title {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-column-gap: 2px;

          .tools {
            text-align: right; 
            select {
              width: 100px;
              display: inline-block;
            }
          }
        }


      }

      label {
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
      }

      input[type='range'],
      input[type='number'],
      input[type='text'],
      select {
        width: 100%;
        vertical-align: middle;
      }

      .input {
        vertical-align: middle;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        &.grid-1 {
          grid-template-columns: 1fr;
        }

        &.grid-2 {
          grid-template-columns: 3fr 1fr;
        }        
      }
    }
  }
