$editor-button-color: #5f80de;
$editor-line-color: rgba($editor-button-color, 0.3);
$editor-resizer-width: 8px;
$editor-canvas-background-color: rgba(236, 236, 236, 0.3);

.player {
  .page-container {
    top: 0px;  
    left: 0px;    
  }
}

.canvas-view {
  position: absolute;
  transform-origin: left top;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  // background-color: rgba(255, 122, 0, 0.5);
  will-change: auto;
  /* canvas view 자체는 이벤트를 막고 내부에 있는 element-item 만 이벤트가 적용될 수 있도록 한다. */
  pointer-events: none; 

  svg.element-item {
    pointer-events: none;

    > * {
      pointer-events: stroke;
    }

    > :not([fill='transparent']) {
      pointer-events: visible;
    }

    > path {
      pointer-events: none;
    }
  }

  .element-item {
    pointer-events: all;
    // will-change: auto;
    &[contenteditable="true"] {
      // margin: 0px;
      outline: none;
    }

    [contenteditable="true"] {
      // margin: 0px;
      outline: none;
    }    

    &[tabIndex] {
      outline: none;
    }    

    &.artboard {
      box-shadow: 0 8px 6px -6px black;      
    }

    > svg {

      &:hover {
        > path{
          stroke: rgb(64, 64, 252);
        }

        > text {
          fill: rgb(64, 64, 252);
        }
      }
    }    
  }
}