.artboard-list {
    height: 100%;
    overflow: auto;
    padding:0px;
    margin:0px !important;
    .artboard-item {
        color: $list-item-font-color;

        padding: 5px 7px !important; 
        margin-bottom: 0px !important;
        display: grid;
        grid-template-columns: 20px 1fr;
        grid-column-gap: 4px;

        .preview {
            cursor: pointer;            
            svg {
                width: 16px;
                height: 16px;
            }
        }


        .detail {
            display: grid;
            grid-template-columns: 1fr 60px;
            grid-column-gap: 3px;

            label {
                padding: 2px 0px;          
                font-size: 12px;
                vertical-align: middle;      
            }


            .tools {
                text-align: right;
            }
    
        }

        &.selected {
            @include title-background-2($list-item-selected-color, $list-item-selected-font-color);
        }

        &[data-layout='flex'],
        &[data-layout='grid']
        {
            .detail {
                label {
                    &:after {
                        content: attr(data-layout-title);
                        text-transform: uppercase;
                        color: white;
                        border-radius: 3px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 2px;
                        padding: 1px 4px;
                        font-size: 11px;
                    }
                }
            }
        }        

        &[data-layout='flex'] {
            .detail {
                label {
                    &:after {
                        background-color: green;
                    }
                }
            }
        }

        &[data-layout='grid'] {
            .detail {
                label {
                    &:after {
                        background-color: $selected-color;
                    }
                }
            }
        }

    }
}