.artboard-list {
    height: 100%;
    overflow: auto;
    padding:0px;
    margin:0px !important;
    .artboard-item {
        color: $list-item-font-color;

        padding: 5px 7px !important; 
        margin-bottom: 0px !important;
        display: grid;
        grid-template-columns: 20px 1fr;
        grid-column-gap: 4px;
        border-radius: 4px;

        .detail {
            display: grid;
            grid-template-columns: 1fr 60px;
            grid-column-gap: 3px;

            label {
                padding: 2px 0px;          
                font-size: 12px;
                vertical-align: middle;      
            }


            .tools {
                text-align: right;
            }
    
        }

        &.selected {
            @include title-background-2($list-item-selected-color, $list-item-selected-font-color);
            .tools {
                button {
                    color: $list-item-selected-font-color;
                }
            }
        }

        &[data-layout='flex'],
        &[data-layout='grid']
        {
            .detail {
                [data-layout-title] {
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        vertical-align: middle;
                        margin-left: 5px;
                        border-radius: 3px;
                    }
                }
            }
        }        

        &[data-layout='flex'] {
            .detail {
                [data-layout-title] {
                    &:after {
                        background-color: rgb(68, 163, 68);
                    }
                }
            }
        }

        &[data-layout='grid'] {
            .detail {
                [data-layout-title] {
                    &:after {
                        background-color: $selected-color;
                    }
                }
            }
        }

    }
}