.artboard-list {
    height: 100%;
    overflow: auto;
    padding:0px;
    margin:0px !important;
    .artboard-item {
        color: $list-item-font-color;

        padding: 5px 7px !important; 
        margin-bottom: 0px !important;


        .preview {
            height: 110px;
            background-color: $border-color;
            border-radius: 3px;
            border:1px solid $border-color;            
            cursor: pointer;            
            display: none;
        }


        .detail {
            display: grid;
            grid-template-columns: 1fr 60px;
            grid-column-gap: 3px;

            label {
                padding: 2px 0px;                
            }


            .tools {
                text-align: right;
            }
    
        }

        &.selected {
            @include title-background-2($list-item-selected-color, $list-item-selected-font-color);
        }

    }
}