@mixin cross {
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -2px;
    right: -2px;
    top: 50%;
    height: 4px;
    transform: translateY(-50%);
    background-color: white;
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 50%;
    width: 4px;
    transform: translateX(-50%);
    background-color: white;
  }
}

.border-item {

  .border-direction {
    position: relative;
    display: block;
    padding: 2px 10px;

    @each $borderType in all, top, right, bottom, left {
      &[data-selected-value="#{$borderType}"] {
        button[data-value="#{$borderType}"] {
          opacity: 1;
        }
      }
    }

    button {
      padding: 0px;
      appearance: none;
      border: 3px solid #ccc;
      box-sizing: border-box;
      cursor: pointer;
      opacity: 0.7;
      outline: none;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-color: $background-color;      

      &[has-value="true"] {
        border-color: $selected-color;
      }
    }

    button[data-value="all"] {
      border: 3px solid $selected-color;
    }

    button[data-value="top"] {
      border-top: 3px solid $selected-color;
    }

    button[data-value="right"] {
      border-right: 3px solid $selected-color;
    }

    button[data-value="bottom"] {
      border-bottom: 3px solid $selected-color;
    }

    button[data-value="left"] {
      border-left: 3px solid $selected-color;
    }
  }

  .editor-area {
    padding: 5px 0px;
  }

  .input-group {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .input-field {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 4px;
    vertical-align: middle;

    input {
      width: 100%;
      vertical-align: middle;
    }

    .input-ui {
      vertical-align: middle;
    }
  }
}

.border-slice-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 2px;

  &.full {
    grid-template-columns: 1fr;
  }


  .slice-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @each $borderRadiusType in all, partitial {
      &[data-selected-value="#{$borderRadiusType}"] {
        button[data-value="#{$borderRadiusType}"] {
          //   background-color: white;
          // border-color: black;
          background-color: black;
          svg {
            path {
              fill: white;
            }
          }
        }
      }
    }

    button {
      flex: none;
      appearance: none;
      background-color: transparent;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 2px;
      border-radius: 3px;
      cursor: pointer;
      outline: none;
      padding: 0px;
      border: 0px;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: $border-color;
        }
      }
    }
  }

  .slice-value {

  }

  .slice-setting-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 2px;

    > div {

      > label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 2px;
        cursor: pointer;
        outline: none;
        // @include cross;
        position: relative;
        margin-top: 2px;
        text-align: right; 

        &.title {
          font-weight: bold;
          text-align: left;           
        }
      }
    }
  }
}


.border-image-item {
  display: grid;
  height: 30px;
  grid-template-columns: 30px 1fr !important;
  grid-column-gap: 5px;
  margin-bottom: 5px;
  text-align: center;
  box-sizing: border-box;

  .gradient-info {
    display: grid;
    grid-template-columns: 50px 1fr 28px;

    .tools {
      text-align: right;
    }
  }

  .preview {
    display: grid;
    cursor: pointer;
    padding: 2px;

    .mini-view {
      display: block;
      height: 100%;
      // border: 1px solid $border-color;
      box-sizing: border-box;
      pointer-events: none;
      border-radius: 100%;
      position: relative;
      @include transparent-background();      
      .color-view {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        border-radius: 100%;
      } 

    }
  }

  .fill-title {
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 4px 0px;
    box-sizing: border-box;

    svg {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }

  .colorsteps {
    text-align: left;
    padding: 5px 0px;
    height: 100%;
    box-sizing: border-box;

    .step {
      border: 1px solid #333;
      display: inline-block;
      margin-left: -5px;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border-radius: 100%;
      cursor: pointer;
      position: relative;

      &:first-child {
        margin-left: 0px;
      }

      &[data-selected='true'] {
        &:before {
          content: '';
          position: absolute;
          width: 3px;
          height: 3px;
          display: inline-block;
          left: 50%;
          transform: translateX(-50%) translateY(-5px);
          border-radius: 100%;
          background-color: black; 
        }
      }
    }
  }

  .tools {
    line-height: 2;

    @include svg-button();    

  }
}