.code-view-item {
    grid-template-columns: 1fr !important;
    width: 100%;
    > div {
        width: 100%;
        max-width: 100%;

        label {
            padding-left: 10px;
        }

        pre {
            &::before {
                content: attr(title);
                position: absolute;
                display: inline-block;
                @include title-background-2($selected-color, $selected-font-color);
                left:0px;
                top:0px;
                border-top-left-radius: 4px;
                border-bottom-right-radius: 4px;
                padding: 2px 4px;
            }

            white-space: pre-wrap;
            padding:20px 8px;
            user-select: text;
            border: 1px solid $border-color;
            position: relative;
            border-radius: 5px;
            margin-top:0px;
            font-size: 13px;

            strong {
                color: $selected-color;
            }
        }
    }
}