.code-view-item {
    grid-template-columns: 1fr !important;
    width: 100%;
    > div {
        width: 100%;
        max-width: 100%;

        label {
            padding-left: 10px;
        }

        pre {
            &::before {
                content: attr(title);
                position: absolute;
                display: inline-block;
                @include title-background();
                color: white;
                left:0px;
                top:0px;
                border-top-left-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 2px 4px;
            }

            white-space: pre-wrap;
            padding:20px 10px;
            user-select: text;
            border: 1px solid rgba(0, 0, 0, 0.1);
            position: relative;
            border-radius: 5px;
        }
    }
}