$asset-item-size: 25px;

.color-assets-property {

    .color-list-tools {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-column-gap: 2px;
        text-align: left;
        margin-bottom: 10px;

        button {
            padding: 2px 10px;
            border: 1px solid var(--border-color);            
        }

        @each $listType in list, grid {
            &[data-view-mode="#{$listType}"] {
                button[data-value='#{$listType}'] {
                    background-color: var(--selected-border-color);
                    border-color: var(--selected-border-color);
                    background-image: none;
                    color: var(--selected-font-color);
                }
            }
        }  

    }
    
    .color-list {
        padding: 5px;
        overflow: auto;
        max-height: 300px;
        .color-view {
            pointer-events: none;
        }

        &[data-view-mode="grid"] {
            display: block;
            .add-color-item {
                display: inline-block;
                width: $asset-item-size;
                height: $asset-item-size;                
                position: relative;

                border: 1px solid var(--selected-color);
                color: var(--font-color);
                
                vertical-align: top;   
                cursor: pointer;         
                text-align: center;
                padding-top: 3px;
            }

            .color-item {
                display: inline-block;
                width: $asset-item-size;
                position: relative;
                vertical-align: middle;
                margin-right: 1px;
                margin-bottom: 1px;

                &:hover {
                    &[data-custom="true"] {
                        .tools {
                            display: inline-block;
                        }
                    }

                }

                .preview {
                    position: relative;
                    width:100%;
                    height: $asset-item-size;
                    
                    cursor: pointer;
                    

                    .color-view{
                        position: absolute;
                        left:0px;
                        top:0px;
                        right:0px;
                        bottom:0px;

                    }
                }

                .tools {
                    background-color: transparent;
                    position: absolute;
                    display: none; 
                    top: 0px;
                    right: 0px; 
                    padding: 2px;
                    color: var(--selected-font-color);    

                    button {
                        width: 10px;
                        height: 10px;
                        color: var(--selected-font-color);                        
                    }

                    svg {
                        width: 100%; 
                        height: 100%;
                    }
                }
            }
        }
    }

}

.property.color-assets-property {
    padding-left: 0px !important;
    padding-right: 0px !important;
}