.component-items {
    padding: 10px 10px;
    .group {

        > label {
            font-size: 13px;
            font-weight: bold;
            display: block;
            padding: 10px 0px;
            color: $selected-color;
        }

        .list {
            display: grid ;
            grid-template-columns: 1fr 1fr;
            row-gap: 5px;
            margin-bottom: 10px;

            .menu-item {
                width: 100%;
                height: 30px;
                position: relative;
                line-height: 24px;
                border-radius: 3px;
                text-align: left;
                padding: 0px 5px;

                &:hover {
                    background-color: lighten($selected-color, 10%);
                    color: $selected-font-color;
                }

                &.selected {
                    color: $selected-color; 
                }        

                .icon {
                    display: inline-block;
                    vertical-align: middle;

                    &.flipY {
                        transform: rotateY(-180deg);
                    }
                }   

                .title {
                    display: inline-block;
                    text-align: left;
                    padding-left: 10px;
                    padding-top: 2px;
                    vertical-align: middle;
                }
            }


            .item {
                height: 80px;
                cursor: pointer;
                text-align: center;
                box-sizing: border-box;
                border: 1px solid rgba($font-color, 0.1);
                color: $font-color; 

                .icon {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    display: inline-block;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }

}