.gradient-assets {

    .gradient-list-tools {
        text-align: left;
        margin-bottom: 10px;
        @include svg-button-inline(auto, 24px);

        button {
            padding: 2px 10px;
            border: 1px solid $border-color;            
        }

        &[data-view-mode="list"] {
            button[data-value='list'] {
                background-color: $selected-border-color;
                border-color: $selected-border-color;
                color: white;
                 
                svg {
                    path {
                        fill: white; 
                    }
                }
            }
        }

        &[data-view-mode="grid"] {
            button[data-value='grid'] {
                background-color: $selected-border-color;
                border-color: $selected-border-color;                
                color: white;
                svg {
                    path {
                        fill: white; 
                    }
                }                
            }
        }        

    }
    
    .gradient-list {

        .gradient-view {
            pointer-events: none;
        }

        &[data-view-mode="grid"] {
            display: block;

            .add-gradient-item {
                display: inline-block;
                width: 80px;
                position: relative;
                margin-right: 4px;
                margin-bottom: 4px;
                height: 80px;
                border: 1px solid $border-color;
                border-radius: 2px;
                box-sizing: border-box;
                vertical-align: top;   
                cursor: pointer;         
                text-align: center;
                padding: 24px;
            }

            .gradient-item {
                display: inline-block;
                width: 80px;
                position: relative;
                margin-right: 4px;
                margin-bottom: 4px;
                vertical-align: middle;

                &:hover {
                    .tools {
                        display: inline-block;
                    }
                }

                .preview {
                    position: relative;
                    width:100%;
                    height: 80px;
                    border: 1px solid $border-color;
                    border-radius: 2px;
                    box-sizing: border-box;
                    cursor: pointer;
                    @include transparent-background();

                    .gradient-view{
                        position: absolute;
                        left:0px;
                        top:0px;
                        right:0px;
                        bottom:0px;

                    }
                }

                .title {
                    position: relative;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    grid-row-gap: 4px;
                    padding: 4px 0px;

                    input {
                        width: 100%;
                    }
                }

                .tools {             
                    position: absolute;
                    display: none; 
                    top: 0px;
                    right: 0px;
                    // display: grid;
                    text-align: right;   
                    padding: 2px;
                    
                    @include svg-button();
                }
            }


        }

        &[data-view-mode='list'] {
            .add-gradient-item {
                cursor: pointer;
                text-align: center;
            }            

            .gradient-item {
                display: grid;
                grid-template-columns: 22px 1fr 40px;
                grid-column-gap: 2px;
                height: 20px;
                margin-bottom: 2px;                
        
                .preview {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    // border: 1px solid $border-color;
                    border-radius: 3px;
                    position: relative;
                    @include transparent-background();
                    box-sizing: border-box;
                    overflow: hidden;
                    cursor: pointer;
                    .gradient-view {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                    }       
        
                }
        
                .title {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 4px;
        
                    div {
                        input {
                            // height: 100%;
                            border-radius: 2px;
                            border: 1px solid $border-color;
                            width: 100%;
                        }
                    }
                }
        
                .tools {
                    @include svg-button();
                }
            }
        }

    }

}

.property.gradient-assets-property {
    padding-left: 0px !important;
    padding-right: 0px !important;
}