.keyframe-list {
    grid-template-columns: 1fr !important;
  
    .keyframe-item {
      display: grid; 
      grid-template-columns: 1fr; 
      grid-column-gap: 4px;
      border: 1px solid $border-color;
      margin-bottom: 5px;
      padding: 5px;  
      cursor: pointer;
      &.selected {
        background-color: rgba($border-color, 0.5);
      }

      .title {
          display: grid;
          grid-template-columns: 1fr 20px;
          height: 20px;

        .name {
            padding: 2px 0px;
        }

        .tools {
            vertical-align: middle;
            text-align: right;
        } 
      }

      pre {
        white-space: pre-wrap;
      }


      .offset-list {
          padding: 0px 10px;
          height: 20px;
          box-sizing: border-box;
        .container {
            position: relative;
            background-image: linear-gradient(to right, $border-color, black);
            background-size: 100% 2px;
            background-repeat: no-repeat;
            background-position: 0px center;
            height: 100%;

            .offset {
                width: 10px;
                height: 10px;
                background-color: white;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                vertical-align: middle;
                border: 1px solid $border-color;

            }

        }
      }
    }
  }
  