.layer-list {
    height: 100%;
    overflow: auto;
    padding:0px;
    .layer-item {

        padding: 5px 5px !important; 
        margin-bottom: 0px !important;

        @for $selectValue from 0 to 6 {
            &[data-depth="#{$selectValue}"] {
                .detail {
                    label {
                        padding-left: $selectValue * 20px;
                    }
                }
            }
        }

        .detail {
            display: grid;
            grid-template-columns: 1fr 60px;
            grid-column-gap: 3px;

            label {
                padding: 2px 0px;                
                cursor: pointer;
                pointer-events: all;
            }


            .tools {
                text-align: right;

                @include svg-button();

                .visible {
                    svg {
                        path {
                            fill: $border-color;
                        }
                    }

                    &[data-visible='true'] {
                        svg {
                            path {
                                fill: #333;
                            }
                        }   
                    }
                }

                .lock {
                    svg {
                        path {
                            fill: $border-color;
                        }
                    }

                    &[data-lock='true'] {
                        svg {
                            path {
                                fill: #333;
                            }
                        }   
                    }
                }
            }
    
        }

        &.selected {
            background-color: rgba(0, 0, 0, 0.05);
            @include title-background();                  
        }

    }
}