.project-info {
    margin: 0px !important;
    padding: 10px 0px;

    .project-info-item {
        margin-bottom: 5px;
    }

    input, textarea {
        width: 100%;
    }

    .input {
        input {
            height: 24px;
        }
    }
}