.project-list {
    margin: 0px !important;
    .project-item {
        display: grid;
        grid-template-columns: 1fr 20px;
        grid-column-gap: 3px;
        padding: 5px !important; 
        cursor: pointer;

        label {
            padding: 2px 0px;
        }

        &.selected {      
            @include title-background();
        }

        .tools {
            text-align: right;

            @include svg-button();
        }
    }
}