.property {
  padding: 6px 0px;
  border-bottom: 1px solid $property-border-color;  
  background-color: $property-border-color;
  color: $property-font-color; 
  display: none; 


  .add-timeline-property {
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 2px rgba(darken($border-color, 10%), 0.3);
    background-color: rgba(lighten($border-color, 50%), 0.7);
    // vertical-align: middle;
    line-height: 10px;
    margin-top: 5px;
    cursor: pointer;
    transform: rotate(45deg);

    &:hover {
      box-shadow: 0 0 0 2px rgba($selected-color, 0.5);
      background-color: $selected-color;
    }
  }

  &.compact {
    padding:0px;
  }

  &.full { 
    height: 100%;
    display: flex;
    flex-direction: column;

    &.show {
      height: 100%;
    }

    .property-title {
      flex: none; 
      height: 30px;


    }

    &.managed-tool {
      .property-title {
        grid-template-columns: 100px 1fr;

        .tools {
          text-align: left;
          display: flex;
          > * {
            flex: 1 1 auto;
          }

          .timeline-play-control {
            text-align: left;
            display: grid;
            grid-template-columns: 188px 120px 120px 1fr;
            grid-column-gap: 5px;

            .speed-number {
              position: relative;
              &:after {
                position: absolute;
                right: 14px;
                top: 1px;
                content: 'X';
                display: inline-block;
              }
            }

            label {
              svg {
                vertical-align: middle;

                path {
                  fill: $font-color;
                }
              }
            }

            .input {
              vertical-align: middle;

              input {
                vertical-align: middle;
              }
            }

            .row {
              display: flex;
              
              &:first-child{
                text-align: center;
              }
            }

            button {
              display: inline-block;
              vertical-align: middle;
              width: 24px;
              height: 24px;

              &.play, &.pause {
                filter: drop-shadow(0px 0px 2px black);
                // display: none;
                transform: scale(1.5);

              }

              &:not(.play):not(.pause) {
                &:hover {
                  transform: scale(1.2);
                }
              }

              &.play {

                svg {
                  path {
                    fill: $selected-color;
                  }
                }
              }

              &.pause {
                display: none;
                svg {
                  path {
                    fill: rgb(102, 119, 216);
                  }
                }
              }
            }


            .play-buttons {

              &[data-status='play'] {
                .pause {
                  display: inline-block;
                }

                .play {
                  display: none; 
                }
              }
  
              &[data-status='pause'] {
                .play {
                  display: inline-block;
                }

              }    
              
            }

            

            .direction-buttons {
              display: flex;

              @each $selectDirection in normal, alternate, reverse, alternate-reverse {
                  &[data-selected-direction="#{$selectDirection}"] [data-value="#{$selectDirection}"] {
                      background-color: $selected-color;
                      // color: $selected-font-color;

                      svg {
                        path {
                          // stroke: $selected-font-color;
                          // stroke-width: 1;
                          fill: $selected-font-color;
                        }
                      }
                  }
              }        

              button {
                  // border: 1px solid $border-color;
                  width: 26px;

                  // min-width: 30px;
                  // padding: 2px 10px;
                  // height: auto;
              }
          }

          }

          .keyframe-time-control {
            flex: none; 
            text-align: right;
            width: 254px;

            .time-manager {
              display: grid;
              grid-template-columns: 110px 65px 84px 10px;
              grid-column-gap: 0px;

              label {
                padding-right:0px;
              }
            }

            svg {
              vertical-align: middle;
              path {
                fill: $font-color;
              }
            }

            input[type=text] {
              width: 80px;
            }
          }
        }
      }
    }

    .property-body {
      flex: 1 1 auto; 
      overflow: auto;
      position: relative;
    }
  }

  &.show {
    background-color: $property-background-color;
    > .property-body {
      display: block;
      padding: 0px 11px 0px 6px;
    }


    &.size-property {
      > .property-body {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-column-gap: 3px;

        .grid-item {
          display: grid;
          grid-template-columns: 30px 1fr;

          > label {
            padding: 2px 0px;
          }
        }
      }
    }
  }

  > .property-title {
    padding: 0px 6px 4px 6px;
    height: 30px;
    line-height: 2;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    border-bottom: 0px;    


    label {
      cursor: pointer;
      padding-left: 2px;
      padding-right: 5px;
      vertical-align: middle;
    }

    > .tools {
      text-align: right;
      vertical-align: middle;

      > * {
        flex: none;
      }

      select {
        min-width: 100px;
      }
      
    }
  }

  > .property-body {
    display: none;
    padding: 0px;
    background-color: $property-background-color;

    .property-item {
      padding: 0px;
      font-size: 11px;
      margin-top: 8px;

      &.animation-property-item {
        display: grid;
        grid-template-columns: 14px 1fr;
        grid-column-gap: 2px; 
      }

      &.background-image,
      &.box-shadow-item,
      &.filter-property,
      &.clip-path-list,
      &.text-shadow-item,
      &.transform-property,
      &.var-property,
      &.selector-list,
      &.transition-list,
      &.animation-list,
      &.keyframe-list,
      &.svg-property {
        margin: 0px !important;
      }      

      &:last-child {
        margin-bottom: 10px;
      }

      &:empty {
        margin-bottom: 0px;
      }

      &.label {
        // background-color: rgba($property-background-color, 0.5);
        label {
          font-weight: 900;
          text-shadow: 2px 2px 3px $border-color;
        }
      }

      .small-editor {
        margin-bottom: 3px;
      }

    }
  }

  > .property-footer {
    padding: 0px 6px;
    > div {
      margin-bottom: 5px;
    }

    font-size: 12px;

    label {
      width: 60px;
      display: inline-block;
      cursor: pointer;
      padding-left: 2px;
      padding-right: 5px;
      vertical-align: middle;
    }
  }
}
