.property {
  padding: 0px 0px;
  // border-bottom: 1px solid rgba($property-border-color, 0.8);
  box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.03), 0 1px 0 0 rgba(0,0,0,.15);
  border-bottom: 1px solid #000;  
  background-color: $property-background-color;
  // border-radius: 3px; 
  color: $property-font-color; 

  svg {
    vertical-align: middle;
    path {
      fill: rgba(white, 0.9);
    }
  }

  &.compact {
    padding:0px;
  }

  &.full { 
    height: 100%;
    display: flex;
    flex-direction: column;

    .property-title {
      flex: none; 
      height: 30px;
    }

    .property-body {
      flex: 1 1 auto; 
      overflow: auto;
    }
  }

  &.show {

    > .property-title {
      border-bottom: 1px solid #000;
    }

    > .property-body {
      display: block;
      padding: 6px;      
    }
  }

  > .property-title {
    padding: 2px 6px;
    height: 30px;
    line-height: 2;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.03), 0 1px 0 0 rgba(0,0,0,.15);
    border-bottom: 0px;    


    label {
      cursor: pointer;
      padding-left: 2px;
      padding-right: 5px;
      vertical-align: middle;
    }

    > .tools {
      text-align: right;
      vertical-align: middle;

      > * {
        flex: none;
      }
      
    }
  }

  > .property-body {
    display: none;
    padding: 0px;

    .property-item {
      padding: 0px;
      font-size: 11px;
      margin-bottom: 5px;

    }
  }

  > .property-footer {

    > div {
      margin-bottom: 5px;
    }

    font-size: 12px;

    label {
      width: 60px;
      display: inline-block;
      cursor: pointer;
      padding-left: 2px;
      padding-right: 5px;
      vertical-align: middle;
    }
  }
}
