.property {
  padding: 5px;
  border: 1px solid rgba($border-color, 0.8);
  margin: 5px;
  background-color: white;
  border-radius: 3px;

  &.full {
    height: 100%;
    display: flex;
    flex-direction: column;

    .property-title {
      flex: none; 
      height: 30px;
    }

    .property-body {
      flex: 1 1 auto; 
      overflow: auto;
    }
  }

  &.show {
    > .property-body {
      display: block;
      padding: 2px 5px;      
    }
  }

  > .property-title {
    padding: 2px 6px;
    // padding-left: 10px;
    height: 24px;
    line-height: 2;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    text-shadow: 2px 2px 5px $border-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;

    label {
      cursor: pointer;
      padding-left: 2px;
    }

    > .tools {
      text-align: right;

      > * {
        flex: none;
      }

      @include svg-button();
    }
  }

  > .property-body {
    display: none;


    .property-item {
      padding: 0px;
      font-size: 11px;
      margin-bottom: 5px;

    }
  }
}
