.svgpath-assets-property {
    .svgpath-list {

        .svgpath-view {
            position: absolute;
            left:0px;
            top:0px;
            right:0px;
            bottom:0px;
            pointer-events: none;
            background-image: radial-gradient(yellow 0%, red 100%);            
        }

        &[data-view-mode="grid"] {
            display: block;

            .add-svgpath-item {
                display: inline-block;
                width: 80px;
                position: relative;
                margin-right: 4px;
                margin-bottom: 4px;
                height: 80px;
                border: 1px solid $border-color;
                border-radius: 2px;
                box-sizing: border-box;
                vertical-align: top;   
                cursor: pointer;         
                text-align: center;
                padding: 24px;
            }

            .svgpath-item {
                display: inline-block;
                width: 80px;
                position: relative;
                margin-right: 4px;
                margin-bottom: 4px;
                vertical-align: middle;

                &:hover {
                    .tools {
                        display: inline-block;
                    }
                }

                .preview {
                    position: relative;
                    width:100%;
                    height: 80px;
                    border: 1px solid $border-color;
                    border-radius: 2px;
                    box-sizing: border-box;
                    cursor: pointer;

                }

                .title {
                    position: relative;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    // grid-template-rows: repeat(2, 1fr);
                    grid-row-gap: 4px;
                    padding: 4px 0px;

                    input {
                        width: 100%;
                    }
                }

                .tools {
                    background-color: transparent;
                    position: absolute;
                    display: none; 
                    top: 0px;
                    right: 0px;
                    text-align: right;   
                    padding: 2px;


                    svg {
                        path {
                            fill: $selected-font-color;
                        }
                    }
                }
            }
        }

    }

}

.property.svgpath-assets-property {
    padding-left: 0px !important;
    padding-right: 0px !important;
}